@use "sass:map";
@use "sass:math";
@use "./../../components/mixin" as m;

$imgPath: "./../../images/safe/main";
@mixin main {
    .visual {
        display: flex;
        align-items: center;
        min-height: 100vh;
        background: url("#{$imgPath}/main_v1.jpg") no-repeat 50% 50%;
        background-size: cover;
        @include m.respond-to(map.get(m.$max, 1199)) {
            background-image: url("#{$imgPath}/visual-mobile.jpg");
        }

        &-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            max-width: 1872px;
            margin: 0 auto;
            padding: 0 170px;
            @include m.respond-to(map.get(m.$max, 1199)) {
            }

            > p {
                margin-top: 40px;
                letter-spacing: -1px;
                font-size: 67px;
                line-height: 86px;
                color: #23382b;
                font-weight: 300;
                font-family: "Noto Sans KR", serif;
            }

            > strong {
                margin-top: 45px;
                font-size: 24px;
                color: #23382b;
                font-weight: 700;

                + .button-round {
                    margin-top: 72px;
                }
            }

            .button-round {
                align-self: flex-start;
            }
        }
    }
    .button-round {
        display: inline-flex;
        align-items: center;
        padding: 25px 33px;
        border-radius: 50px;
        font-size: 22px;
        font-weight: 700;

        &.arrow {
            min-width: 300px;
            color: #fff;
            background: #df1f7e url("#{$imgPath}/icon-arrow-right.png") no-repeat right 38px top 50%;
        }
    }
    .content {
        padding: 102px 0 96px;
        max-width: 1450px;
        margin: 0 auto;

        > strong {
            display: block;
            text-align: center;
            font-family: "SCoreDream", serif;
            font-size: 60px;
            color: #1d1c1c;
            line-height: 80px;
            font-weight: 800;

            > span {
                margin-left: 12px;
                font-family: "Noto Sans KR", serif;
                font-weight: bold;
                font-size: 22px;
                line-height: 30px;
                color: #222;
            }
        }

        .content-wrap {
            display: flex;
            gap: 40px;
            margin-top: 70px;

            a {
                display: block;
            }
        }

        .left,
        .right {
            strong {
                display: block;
                margin-bottom: 35px;
                font-size: 26px;
                line-height: 65px;
                font-weight: 800;
            }

            p {
                margin-top: 37px;
                text-align: center;
                font-size: 20px;
                line-height: 30px;
                color: #222;
                font-weight: bold;
            }
        }

        .left {
        }

        .right {
            flex: 1;
            display: block;
        }

        .items {
            display: flex;
            gap: 40px;
        }
    }
    .map {
        display: grid;
        grid-template-columns: 696px auto;
        position: relative;
        max-width: 1900px;
        margin: 0 auto;
        padding: 135px 122px 89px 50px;
        background: url("#{$imgPath}/bg-location.png") no-repeat 100% 100%;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            width: 100vw;
            margin-left: -50vw;
            height: 1px;
            background-color: #e4e4e4;
        }

        .search-wrap {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-end;
            align-items: center;
            gap: 24px;

            label {
                font-size: 18px;
                color: #000;
                font-weight: bold;
            }

            input[type="search"] {
                flex: 1;
                width: 100%;
                appearance: none;
                max-width: 470px;
                padding: 22px 25px;
                border-radius: 20px;
                font-size: 16px;
                background: #f8f8f8 url("#{$imgPath}/icon-search.png") no-repeat top 50% right 25px;

                &::placeholder {
                    color: rgb(0 0 0 / .6);
                }
            }
        }

        .panel-title {
            position: relative;
            margin-top: 188px;
            padding-left: 56px;

            &:before {
                content: "";
                position: absolute;
                top: -130px;
                left: 56px;
                width: 126px;
                height: 98px;
                background: url("#{$imgPath}/icon-seoul.png") no-repeat 0 0;
            }

            strong {
                font-size: 22px;
                line-height: 32px;
                color: #fff;
                font-family: "SBAggro", serif;
                font-weight: 700;
            }

            p {
                margin-top: 10px;
                font-size: 15px;
                color: #fff;
                font-weight: 400;
            }
        }

        .panels {
            margin-top: 35px;
            padding-left: 56px;
        }

        .panel {
            .items {
                display: flex;
                flex-wrap: wrap;
                gap: 20px 19px;
            }

            li {
                display: inline-flex;
                justify-content: space-between;
                align-items: center;
                width: 180px;
                height: 58px;
                border-radius: 100px;
                background-color: #fff;
                padding: 0 20px;

                strong {
                    font-size: 18px;
                    font-weight: bold;
                    color: #000;
                    white-space: nowrap;
                }

                span {
                    font-size: 20px;
                    font-weight: 700;
                    color: #eb4a1f;
                }
            }
        }

        .bottom {
            > strong {
                display: block;
                margin: 36px 0 20px;
                font-size: 18px;
                line-height: 24px;
                color: #fff;
                font-family: "Noto Sans KR", serif;
                font-weight: 700;
            }
        }

        .buttons {
            position: relative;
            grid-row: 1 / 4;
            background: url("#{$imgPath}/map.png") no-repeat 0 0;

            &:has(.loc22[aria-selected="true"]) {
                &:before {
                    content: "";
                    position: absolute;
                    top: 83px;
                    left: 213px;
                    width: 159px;
                    height: 211px;
                    background: url("#{$imgPath}/loc22.png") no-repeat 50% 50%;
                }
            }

            button {
                position: absolute;
                font-family: "EliceDigitalBaeum", serif;
                font-size: 16px;
                font-weight: bold;

                &[aria-selected="true"] {
                    padding-top: 39px;
                    background: url("#{$imgPath}/icon-loc.png") no-repeat 50% 0;
                    color: #fff;

                    &.loc1 {
                    }

                    &.loc2 {
                    }

                    &.loc3 {
                    }

                    &.loc4 {
                    }

                    &.loc5 {
                    }

                    &.loc6 {
                    }

                    &.loc7 {
                    }

                    &.loc8 {
                    }

                    &.loc9 {
                    }

                    &.loc10 {
                    }

                    &.loc11 {
                    }

                    &.loc12 {
                    }

                    &.loc13 {
                    }

                    &.loc14 {
                    }

                    &.loc15 {
                    }

                    &.loc16 {
                    }

                    &.loc17 {
                    }

                    &.loc18 {
                    }

                    &.loc19 {
                    }

                    &.loc20 {
                    }

                    &.loc21 {
                    }

                    &.loc22 {
                        top: 150px;
                    }

                    &.loc23 {
                    }

                    &.loc24 {
                    }

                    &.loc25 {
                    }
                }
            }

            .loc1 {
                top: 485px;
                left: 504px;
            }

            .loc2 {
                top: 335px;
                left: 631px;
            }

            .loc3 {
                top: 103px;
                left: 411px;
            }

            .loc4 {
                top: 318px;
                left: 78px;
            }

            .loc5 {
                top: 544px;
                left: 298px;
            }

            .loc6 {
                top: 310px;
                left: 522px;
            }

            .loc7 {
                top: 466px;
                left: 160px;
            }

            .loc8 {
                top: 579px;
                left: 210px;
            }

            .loc9 {
                top: 102px;
                left: 508px;
            }

            .loc10 {
                top: 52px;
                left: 431px;
            }

            .loc11 {
                top: 264px;
                left: 465px;
            }

            .loc12 {
                top: 458px;
                left: 316px;
            }

            .loc13 {
                top: 303px;
                left: 239px;
            }

            .loc14 {
                top: 277px;
                left: 306px;
            }

            .loc15 {
                top: 513px;
                left: 413px;
            }

            .loc16 {
                top: 334px;
                left: 469px;
            }

            .loc17 {
                top: 189px;
                left: 440px;
            }

            .loc18 {
                top: 427px;
                left: 575px;
            }

            .loc19 {
                top: 416px;
                left: 130px;
            }

            .loc20 {
                top: 430px;
                left: 215px;
            }

            .loc21 {
                top: 355px;
                left: 372px;
            }

            .loc22 {
                top: 189px;
                left: 264px;
            }

            .loc23 {
                top: 222px;
                left: 356px;
            }

            .loc24 {
                top: 289px;
                left: 405px;
            }

            .loc25 {
                top: 212px;
                left: 537px;
            }
        }
    }
}