<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes, target-densitydpi=device-dpi, viewport-fit=cover">
    <meta charset="utf-8" name="null">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="x-ua-compatible" content="IE=edge" name="null">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" name="null">
    <meta name="description" content="코코수리-">
    <meta name="keywords" content="코코수리, 인테리어, 시공">
    <meta property="og:title" content="코코수리" name="og:title">
    <meta property="og:description" content="코코수리" name="og:description">
    <meta property="og:image" content="" name="og:image">
    <meta property="og:url" content="" name="og:url">
    <meta property="og:site_name" content="코코수리" name="og:site_name">
    <meta property="og:type" content="website" name="og:type">
    <meta name = "format-detection" content = "telephone=no">
    <title>코코수리</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap"
      rel="stylesheet">
    <link rel="stylesheet" href="../styles/common/common.css">
    <link rel="stylesheet" media="screen and (max-width: 413px)"
      href="../styles/cokco/cokco-minimal.css">
    <link rel="stylesheet" media="screen and (min-width: 414px)"
      href="../styles/cokco/cokco.css">
  </head>
  <body>
    <section class="cokco-full full-white">
      <h1>
        <strong>회원정보</strong>
        <button type="button" class="btn-close">
          <span>닫기</span>
        </button>
      </h1>
      <div class="cokco-breadcrumb">
        <ol>
          <li>마이페이지</li>
          <li>회원정보</li>
        </ol>
      </div>
      <div class="my-menu-tab">
        <ul>
          <li class="">
            <a href="./my-modify-m.html">
              회원정보변경
            </a>
          </li>
          <li class="">
            <a href="./my-withdraw-m.html">
              회원탈퇴
            </a>
          </li>
          <li class="on">
            <a href="./my-address-m.html">
              배송지 관리
            </a>
          </li>
        </ul>
      </div>
      <div class="my-address">
        <h2>
          <strong>배송지 관리</strong>
          <button type="button" class="btn-address">
            <span>추가</span>
          </button>
        </h2>
        <div class="my-address-wrap">
          <!-- 주소지 없는 경우 <ul></ul> 공백 없이 ul 태그만 노출 -->
          <ul>
            <li>
              <strong>주소지 이름</strong>
              <div class="address-detail">
                <div class="address-detail-wrap">
                  <div class="address-cell">010-2222-3333</div>
                  <div class="address-name">받는 사람 이름</div>
                  <div class="address-text">서울특별시 광진구 구의동 234-1</div>
                </div>
                <button type="button" class="btn-modify">
                  <span>수정</span>
                </button>
              </div>
            </li>
            <li>
              <strong>주소지 이름</strong>
              <div class="address-detail">
                <div class="address-detail-wrap">
                  <div class="address-cell">010-2222-3333</div>
                  <div class="address-name">받는 사람 이름</div>
                  <div class="address-text">서울특별시 광진구 구의동 234-1</div>
                </div>
                <button type="button" class="btn-modify">
                  <span>수정</span>
                </button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <nav class="navigation">
      <ul class="navigations">

        <li class="cart">
          <a href="./cart-m.html">
            <strong class="title">장바구니</strong>
          </a>
        </li>
        <li class="order">
          <a href="./order-m.html">
            <strong class="title">주문배송</strong>
          </a>
        </li>
<li class="community">
          <a href="./community-m.html">
            <strong class="title">커뮤니티</strong>
          </a>
        </li>
        <li class="my">
          <a href="./my-m.html">
            <strong class="title">마이페이지</strong>
          </a>
        </li>
        <li class="customer">
          <a href="./customer-m.html">
            <strong class="title">고객센터</strong>
          </a>
        </li>
      </ul>
    </nav>
      <button
    type="button"
    class="btn-top">
    <span>최상단으로 이동</span>
  </button>
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script src="../scripts/cokco/common.js"></script>
  </body>
</html>
