<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=yes, target-densitydpi=device-dpi, viewport-fit=cover">
    <meta charset="utf-8" name="null">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="x-ua-compatible" content="IE=edge" name="null">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" name="null">
    <meta name="description" content="코코수리-">
    <meta name="keywords" content="코코수리, 인테리어, 시공">
    <meta property="og:title" content="코코수리" name="og:title">
    <meta property="og:description" content="코코수리" name="og:description">
    <meta property="og:image" content="" name="og:image">
    <meta property="og:url" content="" name="og:url">
    <meta property="og:site_name" content="코코수리" name="og:site_name">
    <meta property="og:type" content="website" name="og:type">
    <title>코코수리</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap"
      rel="stylesheet">
    <link rel="stylesheet" href="../styles/common/common.css">
    <link rel="stylesheet" media="screen and (max-width: 413px)"
      href="../styles/cokco/cokco-minimal.css">
    <link rel="stylesheet" media="screen and (min-width: 414px)"
      href="../styles/cokco/cokco.css">
  </head>
  <body>
    <header class="header">
      <div class="header-items">
        <button type="button" class="btn-category">
          <span>카테고리 닫힘</span>
        </button>
        <div class="header-logo">
          <a href="/" class="link-home">
            <img src="../images/cokco/logo.svg" alt="코코수리 로고">
          </a>
        </div>
        <div class="header-search">
          <label>
            <input type="search" class="input-search" placeholder="검색어를 입력해주세요.">
          </label>
          <button type="button" class="btn-search" aria-expanded="false">
            <span>검색</span>
          </button>
        </div>
        <button type="button" class="btn-toggle-search">
          <span>검색 열기</span>
        </button>
      </div>
      <div class="category">
        <ul class="categories">
          <li class="swiper category-index">
            <a href="./index-m.html">
              홈
            </a>
          </li>
          <li class="swiper on category-store">
            <a href="./store-m.html">
              스토어
            </a>
          </li>
          <li class="swiper category-exhibition">
            <a href="./exhibition-m.html">
              기획전
            </a>
          </li>
          <li class="swiper category-fix">
            <a href="./fix-m.html">
              수리사례
            </a>
          </li>
          <li class="swiper category-company">
            <a href="./company-m.html">
              코코수리란
            </a>
          </li>
        </ul>
      </div>
    </header>
    <nav class="left-navigation">
      <div class="left-wrapper">
        <div class="left-head">
          <div class="logo-wrapper">
            <img src="../images/cokco/logo-white.svg" alt="">
            <button type="button" class="btn-close">
              <span>카테고리 닫기</span>
            </button>
          </div>
          <div class="login-wrapper">
            <strong>코코수리님</strong>
            <button type="button" class="btn-logout">
              <span class="account-icon">
                <img src="../images/cokco/icon-logout.svg" alt="">
              </span>
              <span>로그아웃</span>
            </button>
          </div>
          <div class="account-nav">
            <ul>
              <li class="account-wish">
                <a href="./wish-m.html">
                  <span class="account-icon">
                    <img src="../images/cokco/icon-wish.svg" alt="">
                  </span>
                  찜
                </a>
              </li>
              <li class="account-coupon">
                <a href="./coupon-m.html">
                  포인트/쿠폰
                </a>
              </li>
              <li class="account-member">
                <a href="./join-m.html">
                  <span class="account-icon">
                    <img src="../images/cokco/icon-member.svg" alt="">
                  </span>
                  회원가입
                </a>
              </li>
              <li class="account-cs">
                <a href="./customer-m.html">
                  <span class="account-icon">
                    <img src="../images/cokco/icon-cs.svg" alt="">
                  </span>
                  고객센터
                </a>
              </li>
              <li class="account-cart">
                <a href="./cart-m.html">
                  <span class="account-icon">
                    <img src="../images/cokco/icon-cart.svg" alt="">
                  </span>
                  장바구니
                </a>
              </li>
              <li class="account-order">
                <a href="./order-m.html">
                  <span class="account-icon">
                    <img src="../images/cokco/icon-order.svg" alt="">
                  </span>
                  주문배송
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="left-body">
          <div class="body-left tabs" role="tablist">
            <button type="button" id="tab-1" role="tab" class="btn-tab on" aria-selected="true"
              aria-controls="panel-1" tabindex="0">
              <span>홈</span>
            </button>
            <button type="button" id="tab-2" role="tab" class="btn-tab" aria-selected="false"
              aria-controls="panel-2" tabindex="0">
              <span>스토어</span>
            </button>
            <a href="./exhibition-m.html" class="link-tab">
              <span>기획전</span>
            </a>
            <a href="./fix-m.html" class="link-tab">
              <span>수리사례</span>
            </a>
            <button type="button" id="tab-5" role="tab" class="btn-tab" aria-selected="false"
              aria-controls="panel-5" tabindex="0">
              <span>마이페이지</span>
            </button>
          </div>
          <div class="body-right">
            <div class="panels">
              <div id="panel-1" role="tabpanel" class="on" tabindex="true" hidden="false"
                aria-labelledby="tab-1">
                <ul class="category-depth-1">
                  <li class="">
                    <a href="#">
                      수리 신청하기
                    </a>
                  </li>
                </ul>
              </div>
              <div id="panel-2" role="tabpanel" class="" tabindex="false" hidden="true"
                aria-labelledby="tab-2">
                <ul class="category-depth-1">
                  <li class="link-all-category">
                    <a href="#">전체 카테고리</a>
                  </li>
                  <li class="">
                    <a href="#">
                      수전
                    </a>
                    <ul class="category-depth-2">
                      <li><a href="#">세면수전</a></li>
                      <li><a href="#">샤워수전</a></li>
                      <li><a href="#">해바라기샤워수전</a></li>
                      <li><a href="#">주방수전</a></li>
                      <li><a href="#">수전용품/부속품</a></li>
                    </ul>
                  </li>
                  <li class="">
                    <a href="#">
                      욕실
                    </a>
                    <ul class="category-depth-2">
                      <li><a href="#">욕조</a></li>
                      <li><a href="#">비데</a></li>
                      <li><a href="#">욕실장</a></li>
                      <li><a href="#">양변기</a></li>
                      <li><a href="#">액세서리</a></li>
                      <li><a href="#">욕실거울</a></li>
                      <li><a href="#">세면대</a></li>
                      <li><a href="#">환풍기</a></li>
                      <li><a href="#">부속품</a></li>
                    </ul>
                  </li>
                  <li class="">
                    <a href="#">
                      조명
                    </a>
                    <ul class="category-depth-2">
                      <li><a href="#">방등</a></li>
                      <li><a href="#">거실등</a></li>
                      <li><a href="#">벽등</a></li>
                      <li><a href="#">기타등</a></li>
                      <li><a href="#">전구/등기구</a></li>
                    </ul>
                  </li>
                  <li class="">
                    <a href="#">
                      가구
                    </a>
                    <ul class="category-depth-2">
                      <li><a href="#">헹거</a></li>
                    </ul>
                  </li>
                  <li class="">
                    <a href="#">
                      가전
                    </a>
                    <ul class="category-depth-2">
                      <li><a href="#">냉/낭반기</a></li>
                    </ul>
                  </li>
                  <li class="">
                    <a href="#">
                      도어락
                    </a>
                    <ul class="category-depth-2">
                      <li><a href="#">도어락 부속품</a></li>
                      <li><a href="#">주기</a></li>
                      <li><a href="#">보조키</a></li>
                      <li><a href="#">푸쉬풀키</a></li>
                    </ul>
                  </li>
                  <li class="">
                    <a href="#">
                      방충망
                    </a>
                    <ul class="category-depth-2">
                      <li><a href="#">방충망</a></li>
                    </ul>
                  </li>
                  <li class="">
                    <a href="#">
                      커튼/블라인드
                    </a>
                    <ul class="category-depth-2">
                      <li><a href="#">커튼</a></li>
                      <li><a href="#">블라인드</a></li>
                      <li><a href="#">홀딩도어</a></li>
                    </ul>
                  </li>
                  <li class="">
                    <a href="#">
                      벽지/장판
                    </a>
                    <ul class="category-depth-2">
                      <li><a href="#">벽지</a></li>
                      <li><a href="#">장판</a></li>
                    </ul>
                  </li>
                  <li class="">
                    <a href="#">
                      CCTV
                    </a>
                    <ul class="category-depth-2">
                      <li><a href="#">CCTV</a></li>
                    </ul>
                  </li>
                  <li class="">
                    <a href="#">
                      기타
                    </a>
                  </li>
                </ul>
              </div>
              <div id="panel-3" role="tabpanel" class="" tabindex="false" hidden="true"
                aria-labelledby="tab-3">
                <ul class="category-depth-1">
                </ul>
              </div>
              <div id="panel-4" role="tabpanel" class="" tabindex="false" hidden="true"
                aria-labelledby="tab-4">
                <ul class="category-depth-1">
                </ul>
              </div>
              <div id="panel-5" role="tabpanel" class="" tabindex="false" hidden="true"
                aria-labelledby="tab-5">
                <ul class="category-depth-1">
                  <li class="my">
                    <a href="#">
                      마이페이지
                    </a>
                  </li>
                  <li class="">
                    <a href="#">
                      쇼핑정보
                    </a>
                  </li>
                  <li class="">
                    <a href="#">
                      견적정보
                    </a>
                  </li>
                  <li class="">
                    <a href="#">
                      회원정보
                    </a>
                  </li>
                  <li class="">
                    <a href="#">
                      혜택관리
                    </a>
                  </li>
                  <li class="">
                    <a href="#">
                      고객센터
                    </a>
                  </li>
                  <li class="">
                    <a href="#">
                      나의 견적문의
                    </a>
                  </li>
                  <li class="">
                    <a href="#">
                      나의 상품후기
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <section class="cokco">
      <h1>코코수리</h1>
      <div class="store-category">
        <div class="store-categories-wrap">
          <ul class="store-categories">
            <li class="store-category-item">
              <a href="#">
                <span class="img-wrap">
                  <img src="../images/cokco/icon-more.svg"
                    onerror="this.src = '../images/cokco/transparent.png'" alt="">
                </span>
                <strong class="title">전체보기</strong>
              </a>
            </li>
            <li class="store-category-item">
              <a href="#">
                <span class="img-wrap">
                  <img src="../images/cokco/icon-kitchen.svg"
                    onerror="this.src = '../images/cokco/transparent.png'" alt="">
                </span>
                <strong class="title">수전</strong>
              </a>
            </li>
            <li class="store-category-item">
              <a href="#">
                <span class="img-wrap">
                  <img src="../images/cokco/icon-bath.svg"
                    onerror="this.src = '../images/cokco/transparent.png'" alt="">
                </span>
                <strong class="title">욕실</strong>
              </a>
            </li>
            <li class="store-category-item">
              <a href="#">
                <span class="img-wrap">
                  <img src="../images/cokco/icon-lamp.svg"
                    onerror="this.src = '../images/cokco/transparent.png'" alt="">
                </span>
                <strong class="title">조명</strong>
              </a>
            </li>
            <li class="store-category-item">
              <a href="#">
                <span class="img-wrap">
                  <img src="../images/cokco/icon-furniture.svg"
                    onerror="this.src = '../images/cokco/transparent.png'" alt="">
                </span>
                <strong class="title">가구</strong>
              </a>
            </li>
            <li class="store-category-item">
              <a href="#">
                <span class="img-wrap">
                  <img src="../images/cokco/icon-appliances.svg"
                    onerror="this.src = '../images/cokco/transparent.png'" alt="">
                </span>
                <strong class="title">가전</strong>
              </a>
            </li>
            <li class="store-category-item">
              <a href="#">
                <span class="img-wrap">
                  <img src="../images/cokco/icon-door-lock.svg"
                    onerror="this.src = '../images/cokco/transparent.png'" alt="">
                </span>
                <strong class="title">도어락</strong>
              </a>
            </li>
            <li class="store-category-item">
              <a href="#">
                <span class="img-wrap">
                  <img src="../images/cokco/icon-screen.svg"
                    onerror="this.src = '../images/cokco/transparent.png'" alt="">
                </span>
                <strong class="title">방충망</strong>
              </a>
            </li>
            <li class="store-category-item">
              <a href="#">
                <span class="img-wrap">
                  <img src="../images/cokco/icon-curtain.svg"
                    onerror="this.src = '../images/cokco/transparent.png'" alt="">
                </span>
                <strong class="title">커튼/블라인드</strong>
              </a>
            </li>
            <li class="store-category-item">
              <a href="#">
                <span class="img-wrap">
                  <img src="../images/cokco/icon-paper.svg"
                    onerror="this.src = '../images/cokco/transparent.png'" alt="">
                </span>
                <strong class="title">벽지/장판</strong>
              </a>
            </li>
            <li class="store-category-item">
              <a href="#">
                <span class="img-wrap">
                  <img src="../images/cokco/icon-cctv.svg"
                    onerror="this.src = '../images/cokco/transparent.png'" alt="">
                </span>
                <strong class="title">CCTV</strong>
              </a>
            </li>
            <li class="store-category-item">
              <a href="#">
                <span class="img-wrap">
                  <img src="../images/cokco/icon-etc.svg"
                    onerror="this.src = '../images/cokco/transparent.png'" alt="">
                </span>
                <strong class="title">기타</strong>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="store-detail">
        <div class="tabs" role="tablist">
          <button type="button" id="fix-tab-1" role="tab" class="btn-tab on" aria-selected="true"
            aria-controls="panel-all" tabindex="0">
            <span>전체</span>
          </button>
        </div>
        <div class="no-wrap">현재 해당하는 상품이  없습니다.</div>
      </div>
    </section>
    <nav class="navigation">
      <ul class="navigations">
        <li class="fix">
          <a href="/views/mobile/fix-form-m.html">
            <strong class="title">시공요청</strong>
          </a>
        </li>
        <li class="cart">
          <a href="/views/mobile/cart-m.html">
            <strong class="title">장바구니</strong>
          </a>
        </li>
        <li class="order">
          <a href="/views/mobile/order-m.html">
            <strong class="title">주문배송</strong>
          </a>
        </li>
        <li class="my">
          <a href="/views/mobile/my-m.html">
            <strong class="title">마이페이지</strong>
          </a>
        </li>
        <li class="customer">
          <a href="/views/mobile/customer-m.html">
            <strong class="title">고객센터</strong>
          </a>
        </li>
      </ul>
    </nav>
      <button
    type="button"
    class="btn-top">
    <span>최상단으로 이동</span>
  </button>
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script src="../scripts/cokco/common.js"></script>
  </body>
</html>
