@charset "UTF-8";
/* common */
.english {
  font-family: "Montserrat";
}

.korean {
  font-family: "Pretendard";
}

.koreanA1 {
  font-family: "";
}

.wrap {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.mask {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: none;
}

#header {
  width: 100%;
  height: auto;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
}

#header .headerWrap {
  max-width: 1840px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 1.5rem 2rem;
}

#header .headerWrap .headerMenu {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header .headerWrap .headerMenu .logo a img {
  display: block;
}

#header .headerWrap .headerMenu .gnbWrap {
  margin-left: 100px;
}

#header .headerWrap .headerMenu .gnbWrap .gnbMenu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#header .headerWrap .headerMenu .gnbWrap .gnb {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#header .headerWrap .headerMenu .gnbWrap .gnb > li {
  width: 160px;
  text-align: center;
}

#header .headerWrap .headerMenu .gnbWrap .gnb > li > a {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

#header .headerWrap .headerMenu .gnbWrap .gnb .gnb2dep {
  display: none;
  position: absolute;
  top: 78px;
  /* top:75px; */
}

#header.minimize {
  background: rgba(0, 0, 0, 0.4);
}

#header.on {
  background-color: #E91E63;
}

#header.on::before {
  width: 100%;
  height: 1px;
  background-color: #fff;
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
}

#header.on .headerWrap .headerMenu .gnbWrap .gnb > li:hover > a {
  padding-bottom: 5px;
  border-bottom: 1px solid #fff;
}

#header.on .headerWrap .headerMenu .gnbWrap .gnb > li:hover .gnb2dep {
  height: 300px;
  background-color: #f13777;
}

#header.on .headerWrap .headerMenu .gnbWrap .gnb > li:hover .gnb2dep li a:hover {
  border-bottom: 1px solid #fff;
}

#header.on .headerWrap .headerMenu .gnbWrap .gnb .gnb2dep {
  display: block;
  padding: 2rem 0;
  z-index: 3;
  width: 160px;
}

#header.on .headerWrap .headerMenu .gnbWrap .gnb .gnb2dep li {
  text-align: center;
}

#header.on .headerWrap .headerMenu .gnbWrap .gnb .gnb2dep li a {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}

#header.on .headerWrap .headerMenu .gnbWrap .gnb .gnb2dep li + li {
  margin-top: 23px;
}

#header.on .gnb2depBG {
  width: 100%;
  height: 300px;
  background-color: #E91E63;
  position: absolute;
  top: 102px;
  /* top:96px; */
  z-index: 2;
  box-shadow: 10px 10px 10px rgba(209, 220, 230, 0.32);
}

#header .headerWrap .headerMenu .topMenu {
  display: flex;
  align-items: center;
}

#header .headerWrap .headerMenu .quickMenu .menuBtn ul li {
  display: inline-block;
  vertical-align: middle;
}

#header .headerWrap .headerMenu .quickMenu .menuBtn ul li + li {
  margin-left: 10px;
}

#header .headerWrap .headerMenu .quickMenu .menuBtn ul li button img {
  display: block;
  width: 24px;
  height: 22px;
}

/*전체메뉴*/
.menuToggle {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.menuToggle.on {
  display: block;
  padding: 4rem 6rem;
  width: 100%;
  height: 100vh;
  overflow-x: auto;
  top: 0;
  left: 0;
  transition: all 0.2s ease-in-out;
  background: #E91E63;
  opacity: 1;
  z-index: 99;
  visibility: visible;
  pointer-events: auto;
}

body.menu-open {
  overflow: hidden;
  position: fixed;
}

.menuToggle .inside {
  padding-bottom: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #fff;
}

.menuToggle .inside .close {
  background: #a51043;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 11px;
  display: block;
}

.menuToggle .inside .close img {
  display: block;
}

.menuToggle .toggleNavi {
  margin-top: 2rem;
}

.menuToggle .toggleNavi ul {
  display: flex;
  gap: 9rem;
}

.menuToggle .toggleNavi ul.toggle2dep {
  flex-direction: column;
  gap: 2rem;
}

.menuToggle .toggleNavi ul li a.toggle1dep {
  display: block;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 3rem;
}

.menuToggle .toggleNavi ul.toggle2dep li a {
  font-weight: 300;
  font-size: 16px;
  color: #fff;
}

.menuToggle .toggleNavi ul.toggle2dep li a:focus,
.menuToggle .toggleNavi ul.toggle2dep li a:hover,
.menuToggle .toggleNavi ul.toggle2dep li a:active {
  text-decoration: underline;
}

/**Footer************************************/
#footer {
  width: 100%;
  height: auto;
  background-color: #000;
}

#footer .footerWrap {
  max-width: 1600px;
  min-width: fit-content;
  height: auto;
  margin: 0 auto;
  padding: 5rem 2rem;
}

#footer .footerWrap a,
#footer .footerWrap p {
  color: #fff;
  font-size: 14px;
  font-weight: 200;
}

#footer .footerWrap div ul {
  display: flex;
  align-items: center;
}

#footer .footerWrap div.terms {
  border-bottom: 1px solid #fff;
}

#footer .footerWrap div.terms ul {
  justify-content: flex-start;
}

#footer .footerWrap div.terms ul.service {
  margin-bottom: 2rem;
}

#footer .footerWrap div.terms ul.service li + li {
  margin-left: 2rem;
}

#footer .footerWrap div.terms ul.coll {
  padding-bottom: 2rem;
}

#footer .footerWrap div.terms ul.coll li {
  position: relative;
}

#footer .footerWrap div.terms ul.coll li p {
  margin-left: 8px;
  padding-left: 8px;
}

#footer .footerWrap div.terms ul.coll li + li {
  margin-left: 8px;
  padding-left: 8px;
}

#footer .footerWrap div.terms ul.coll li::after {
  position: absolute;
  top: 3px;
  content: "";
  width: 1px;
  height: 10px;
  background: #fff;
}

#footer .footerWrap div.terms ul.coll li:first-child::after {
  content: none;
}

#footer .footerWrap div.terms ul.coll li:first-child p {
  margin: 0;
  padding: 0;
}

#footer .footerWrap div.site ul {
  justify-content: flex-end;
  margin: 2rem 0;
}

#footer .footerWrap div.site ul li img {
  width: 143px;
}

#footer .footerWrap div.site ul li + li {
  margin-left: 3rem;
}

#footer .footerWrap div.site ul li:last-child {
  padding-top: 10px;
}

#footer .footerWrap div.copy ul {
  justify-content: space-between;
}

#footer .footerWrap div.copy ul li.address p {
  text-align: right;
}

#footer .footerWrap div.copy ul li.address p + p {
  margin-top: 5px;
}

/**Footer End************************************/
.center {
  display: flex;
  justify-content: center;
}

.center button + button {
  margin-left: 15px;
}

.right {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 1200px) {
  #header .headerWrap .headerMenu .gnbWrap {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }
  #header .headerWrap {
    padding: 1rem 2rem;
  }
  #header .headerWrap .headerMenu .gnbWrap {
    margin-left: 20px;
  }
  #header .headerWrap .headerMenu .gnbWrap .gnb > li {
    width: 140px;
  }
  #header .headerWrap .headerMenu .gnbWrap .gnb > li > a {
    font-size: 18px;
  }
  #header .headerWrap .headerMenu .gnbWrap .gnb .gnb2dep {
    top: 68px;
  }
  #header.on .gnb2depBG {
    height: 250px;
    top: 82px;
  }
  #header .headerWrap .headerMenu .quickMenu .menuBtn ul li button img {
    width: 20px;
    height: 20px;
  }
  #header.on .headerWrap .headerMenu .gnbWrap .gnb > li:hover .gnb2dep {
    height: 250px;
  }
  .menuToggle .inside {
    padding-bottom: 1.5rem;
  }
  .menuToggle.on {
    padding: 1rem 2rem;
  }
  .menuToggle .toggleNavi ul {
    display: flex;
    gap: 5rem;
  }
  .menuToggle .toggleNavi ul.toggle2dep {
    flex-direction: column;
    gap: 2rem;
  }
}
@media (max-width: 1024px) {
  #header .headerWrap .headerMenu .gnbWrap {
    margin-left: 20px;
  }
  #header .headerWrap .headerMenu .logo a img {
    width: 70px;
  }
  #header .headerWrap .headerMenu .gnbWrap .gnb > li > a {
    font-size: 15px;
  }
  #header .headerWrap .headerMenu .gnbWrap .gnb {
    gap: 10px;
  }
  #header .headerWrap .headerMenu .gnbWrap .gnb > li {
    width: 100px;
  }
  #header.on .headerWrap .headerMenu .gnbWrap .gnb .gnb2dep {
    width: 100px;
    top: 52px;
  }
  #header.on .headerWrap .headerMenu .gnbWrap .gnb .gnb2dep li a {
    font-size: 16px;
    font-weight: 300;
  }
  #header.on .gnb2depBG {
    top: 66px;
  }
  .menuToggle .toggleNavi ul li a.toggle1dep {
    font-size: 18px;
  }
  #header .headerWrap .headerMenu .gnbWrap {
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  .pcBlock {
    display: none;
  }
  .mobileBlock {
    display: block;
  }
  #header .headerWrap .headerMenu .gnbWrap {
    margin-left: 0;
  }
  #header .headerWrap .headerMenu .gnbWrap .gnb .gnb2dep {
    width: 100%;
  }
  #header .headerWrap .headerMenu .gnbWrap .gnbMenu {
    display: none;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 100vh;
    padding: 60px 0 10px;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-y: auto;
  }
  #header .headerWrap .headerMenu .gnbWrap .gnb {
    display: block;
  }
  #header .headerWrap .headerMenu .gnbWrap .gnb > li {
    width: 100%;
    text-align: left;
  }
  #header .headerWrap .headerMenu .gnbWrap .gnb > li.gnbOn .gnb2dep {
    display: block;
  }
  #header .headerWrap .headerMenu .gnbWrap .gnb > li.gnbOn > a.gnb1dep {
    background-image: url(../images/common/mGnbArrowOn.png);
    color: #004b96;
  }
  #header .headerWrap .headerMenu .gnbWrap .gnb > li > a.gnb1dep {
    display: block;
    font-size: 18px;
    color: #222;
    font-weight: 900;
    padding: 20px;
    background-image: url(../images/common/mGnbArrow.png);
    background-repeat: no-repeat;
    background-position: center right 20px;
    background-size: 11px;
  }
  #header .headerWrap .headerMenu .gnbWrap .gnb > li .gnb2dep {
    display: none;
    position: inherit;
    margin-top: 0;
    background-color: #e7edf4;
    padding: 20px 0 23px;
  }
  #header .headerWrap .headerMenu .gnbWrap .gnb > li .gnb2dep > li {
    padding: 0 20px;
  }
  #header .headerWrap .headerMenu .gnbWrap .gnb > li .gnb2dep > li > a {
    font-size: 14px;
    font-weight: 900;
    color: #222;
    padding-bottom: 4px;
  }
  #header .headerWrap .headerMenu .gnbWrap .gnb > li .gnb2dep > li > a.mOn {
    color: #004b96;
    border-bottom: 6px solid #004b96;
  }
  #header .headerWrap .headerMenu .gnbWrap .gnb > li .gnb2dep > li + li {
    margin-top: 23px;
  }
  .menuToggle .toggleNavi ul li a.toggle1dep {
    margin-bottom: 1rem;
    font-size: 16px;
  }
  #header .headerWrap .headerMenu .gnbWrap .gnb .mGnbClose {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 17px;
  }
  #header .headerWrap .headerMenu .gnbWrap .gnb .mGnbClose img {
    width: 100%;
  }
  #header.on .gnb2depBG {
    display: none;
  }
  .menuToggle.on {
    padding: 1.5rem;
  }
  .menuToggle .toggleNavi ul {
    flex-direction: column;
    gap: 2rem;
  }
  .menuToggle .toggleNavi ul.toggle2dep {
    gap: 1rem;
    margin-left: 1rem;
  }
  .menuToggle .toggleNavi ul li + li {
    margin-left: 0;
  }
  .menuToggle .inside {
    padding-bottom: 1rem;
  }
  .menuToggle .inside a img {
    width: 200px;
  }
  .menuToggle .inside .close {
    width: 34px;
    height: 34px;
  }
}
@media (max-width: 600px) {
  #footer .footerWrap {
    padding: 2rem 1rem;
  }
  #footer .footerWrap div.terms ul.service {
    margin-bottom: 1rem;
  }
  #footer .footerWrap div.terms ul.coll {
    flex-direction: column;
    align-items: flex-start;
  }
  #footer .footerWrap div.terms ul.coll li {
    margin-bottom: 5px;
  }
  #footer .footerWrap div.terms ul.coll li + li {
    margin-left: 0;
    padding-left: 0;
  }
  #footer .footerWrap div.terms ul.coll li p {
    margin-left: 0;
    padding-left: 0;
  }
  #footer .footerWrap div.terms ul.coll li::after {
    content: none;
  }
  #footer .footerWrap div.site ul li img {
    width: 100px;
  }
  #footer .footerWrap div.copy ul {
    gap: 10px;
  }
  #footer .footerWrap div.copy ul li img {
    width: 180px;
  }
}
@media (max-width: 480px) {
  #footer .footerWrap div.copy ul {
    flex-direction: column;
    align-items: flex-start;
  }
  #footer .footerWrap div.copy ul li.address p {
    text-align: left;
  }
}
@media (max-width: 290px) {
  #header .headerWrap .headerMenu .gnbWrap .gnb {
    width: 85%;
  }
  #header .headerWrap .headerMenu .gnbWrap .gnb .mGnbClose {
    right: 15px;
  }
}