/* default 절대 수정금지*/
@import url('reset.css');
@import url('font/font.css');

/* 말줄임(공지사항 리스트_가로값과 같이사용) */
.ellipsis {overflow:hidden;display:inline-block;text-overflow:ellipsis;white-space:nowrap;word-wrap:normal;}

/* 숨김 */
.hide { 
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* 줄바꿈 방지 */
    border: 0;
}
/*
.hide:focus,
.hide:active {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    clip: auto;
    white-space: normal;
} */
.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.visible {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.tr {text-align:right;}
.tl {text-align:left;}
.tc {text-align:center;}

/* INPUT */
input[type=text],
input[type=tel],
input[type=email],
input[type=password],
input[type=url],
input[type=number],
input[type=search],
input[type=adress],
textarea {
    -webkit-appearance: none;-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;box-sizing: border-box;
    -webkit-transition:all 0.30s ease-in-out;
    -moz-transition:all 0.30s ease-in-out;
    -ms-transition:all 0.30s ease-in-out;
    -o-transition:all 0.30s ease-in-out;
    outline: none;
    font-family:'Pretendard';
    font-size: 14px;
}
input[type=submit], input[type=button], button {
    -webkit-appearance:none;
    font-family:'Pretendard','Montserrat', '나눔고딕', 'Nanum Gothic', '돋움', 'dotum', sans-serif;
    border-radius:0;
}

input[type="radio"] {
    display:inline-block;
    border-radius: 100%;
    vertical-align: middle;
    appearance: none;
    border: 1px solid #ccc;
    width: 16px;
    height: 16px;
    background:#fff;
    transition: border 0.5s ease-in-out;
}
input[type="radio"]:checked + label:before {
    background:#558ab7;
}
input[type=text]:focus,input[type=password]:focus, textarea:focus,select:focus {

    -webkit-box-shadow:0 0 3px #ccc;
    -moz-box-shadow:0 0 3px #ccc;
    box-shadow:0 0 3px #ccc;
    border:1px solid #ccc !important;
}
input::-webkit-input-placeholder  {font-size: 15px;color: #666;}/* MS Edge 구버전 */
input:-ms-input-placeholder {font-size: 15px;color: #666;}/* IE10+ */
input::-ms-input-placeholder {font-size: 15px;color: #666;}/* 크롬, 사파리 */
input::placeholder  {font-size: 15px;color: #666;}
select {
    margin:0;
    -webkit-transition:all 0.30s ease-in-out;
    -moz-transition:all 0.30s ease-in-out;
    -ms-transition:all 0.30s ease-in-out;
    -o-transition:all 0.30s ease-in-out;
    outline:none;
}

/* placeholder  */
::-webkit-input-placeholder {font-family:'Pretendard','Noto Sans KR', 'Montserrat', '나눔고딕', 'Nanum Gothic', 'NBG', '돋움', 'dotum', sans-serif;font-size: 16px;color: #999;}
::-moz-placeholder {font-family:'Pretendard','Noto Sans KR', 'Montserrat', '나눔고딕', 'Nanum Gothic', 'NBG', '돋움', 'dotum', sans-serif;font-size: 16px;color: #999;}
:-ms-input-placeholder {font-family:'Pretendard','Noto Sans KR', 'Montserrat', '나눔고딕', 'Nanum Gothic', 'NBG', '돋움', 'dotum', sans-serif;font-size: 16px;color: #999;}

/*placeholder 클릭했을때 글자 사라지게*/
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {color: transparent;}
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {color: transparent;}
input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {color: transparent;}

/* btn-color */
.backBtn {background-color:#222;}
.backBtn.primary{background-color:#ee5469;}
.backBtn.orange{background-color:#ffa522;}
.backBtn.gray{background-color:#909090;}
.backBtn.gray2{background-color:#6d6d6d;}
.backBtn.gray3{background-color:#a1a1a1;}
.backBtn.gray4{background-color:#4f4f4f;}
.backBtn.blue{background-color:#2588c9;}
.backBtn.blue2{background-color:#4fa4e8;}
.backBtn.blue3{background-color:#005da4;}
.backBtn.bluish{background-color:#47b8be;}
.backBtn.green{background-color:#57c46d;}
.backBtn.red{background-color:#e92323;}

.lineBtn {border:1px solid #222;}
.lineBtn.primary{border:1px solid #ee5469;}
.lineBtn.orange{border:1px solid #ffa522;}
.lineBtn.gray{border:1px solid #909090;}
.lineBtn.gray2{border:1px solid #6d6d6d;}
.lineBtn.gray3{border:1px solid #a1a1a1;}
.lineBtn.gray4{border:1px solid #4f4f4f;}
.lineBtn.blue{border:1px solid #2588c9;}
.lineBtn.blue2{border:1px solid #4fa4e8;}
.lineBtn.blue3{border:1px solid #005da4;}
.lineBtn.bluish{border:1px solid #47b8be;}
.lineBtn.green{border:1px solid #57c46d;}
.lineBtn.red{border:1px solid #e92323;}

/* text-color */
.primary{color:#ee5469;}
.orange{color:#ffa522;}
.gray{color:#909090;}
.gray2{color:#6d6d6d;}
.gray3{color:#a1a1a1;}
.gray4{color:#4f4f4f;}
.blue{color:#2588c9;}
.blue2{color:#4fa4e8;}
.blue3{color:#005da4;}
.bluish{color:#47b8be;}
.green{color:#57c46d;}
.green2{color:#1ca658;}
.red{color:#D51A49;}
.purple{color:#644BB5;}
.w {color:#fff;}


/* padding */
.pr0{padding-right: 0 !important;}

.p0 {padding:0 !important;}
.pt05 {padding-top:5px;}
.pt15 {padding-top:15px;}
.pt20 {padding-top:20px;}
.pT24{padding-top: 24px !important;}
.pt25 {padding-top:25px;}
.pt30 {padding-top:30px;}
.pt35 {padding-top:35px;}
.pt40 {padding-top:40px;}
.pt45 {padding-top:45px;}
.pt50 {padding-top:50px;}

.pb05 {padding-bottom:5px;}
.pb15 {padding-bottom:15px;}
.pb20 {padding-bottom:20px;}
.pb25 {padding-bottom:25px;}
.pb30 {padding-bottom:30px;}
.pb35 {padding-bottom:35px;}
.pb40 {padding-bottom:40px;}
.pb45 {padding-bottom:45px;}
.pb50 {padding-bottom:50px;}

.pl05 {padding-left:5px;}
.pl10 {padding-left:10px;}
.pl15 {padding-left:15px;}
.pl20 {padding-left:20px;}
.pl25 {padding-left:25px;}
.pl30 {padding-left:30px;}

.pr05 {padding-right:05px;}
.pr10 {padding-right:10px;}
.pr15 {padding-right:15px;}
.pr20 {padding-right:20px;}
.pr25 {padding-right:25px;}
.pr30 {padding-right:30px;}

/* margin */
.mT10{ margin-top: 10px;}
.mT16{margin-top: 16px;}
.mT20{margin-top: 20px;}
.mT30{margin-top: 30px;}
.ml4{margin-left: 4px;}
.ml8{margin-left: 8px;}
.ml10{margin-left: 10px;}
.mL28{ margin-left: 28px;}

.m0 {margin:0 !important;}
.mt05 {margin-top:5px;}
.mt15 {margin-top:15px;}
.mt25 {margin-top:25px;}
.mt35 {margin-top:35px;}
.mt40 {margin-top:40px;}
.mt45 {margin-top:45px;}
.mt50 {margin-top:50px;}

.mb05 {margin-bottom:5px;}
.mb15 {margin-bottom:15px;}
.mb20 {margin-bottom:20px;}
.mb25 {margin-bottom:25px;}
.mb30 {margin-bottom:30px;}
.mb35 {margin-bottom:35px;}
.mb40 {margin-bottom:40px;}
.mb45 {margin-bottom:45px;}
.mb50 {margin-bottom:50px;}

.ml05 {margin-left:05px;}
.ml10 {margin-left:10px;}
.ml15 {margin-left:15px;}
.ml20 {margin-left:20px;}
.ml25 {margin-left:25px;}
.ml30 {margin-left:30px;}

.mr05 {margin-right:05px;}
.mr10 {margin-right:10px;}
.mr15 {margin-right:15px;}
.mr20 {margin-right:20px;}
.mr25 {margin-right:25px;}
.mr30 {margin-right:30px;}

/* width */
.w23 {width:23%;}
.w49 {width:49% !important;}
.w100 {width:100%;}
.w39 {width:39%;}
.w24 {width:24%;}
.w29 {width:29%;}
.w60 {width:60%;}
.w54px {width:54px !important;}
.w59px {width:59px !important;}
.w70px {width:70px !important; min-width:auto;}
.w77px {width:77px !important;}
.w78px {width:78px !important;}
.w100px {width:100px !important;}
.w110px {width:110px !important;}
.w120px {width:120px !important;}
.w160px {width:160px !important;}
.w170px {width:170px !important;}
.w182px {width:182px !important;}
.w200px {width:200px !important;}
.w290px {width:290px !important;}
.w300px {width:300px !important;}
.w320px {width:320px !important;}
.w405px {width:405px !important;}
.w440px {width:440px !important;}
.w506px {width:506px !important;}
.w600px {width:600px !important;}
.w650px {width:650px !important;}
.w791px {width:791px !important;}