@use "sass:map";
@use "sass:math";
@use "./../../components/mixin" as m;

$imgPath: "./../../images/koagi";
@mixin board {
    .board-detail {
        border-top: 2px solid #444;
        padding-top: 54px;

        .states {
            justify-content: center;

            + strong {
                margin-top: 28px;
            }
        }

        > strong {
            display: block;
            text-align: center;
            font-size: 23px;
            line-height: 33px;
            color: #333;
            @include m.respond-to(map.get(m.$max, 1199)) {
                font-size: 18px;
                line-height: 28px;
            }
        }

        .info {
            display: flex;
            justify-content: center;
            margin-top: 48px;
            padding: 24px 10px;
            border-top: 1px solid #e0e0e0;
            border-bottom: 1px solid #e0e0e0;
            @include m.respond-to(map.get(m.$max, 1199)) {
                flex-direction: column;
                gap: 12px;
            }

            li {
                display: inline-flex;
                justify-content: center;
                gap: 12px;
                position: relative;
                font-size: 16px;
                color: #000;

                + li {
                    margin-left: 60px;
                    @include m.respond-to(map.get(m.$max, 1199)) {
                        margin-left: 0;
                    }

                    &:before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: -30px;
                        width: 1px;
                        height: 17px;
                        transform: translateY(-50%);
                        background-color: #4c4c4c;
                        @include m.respond-to(map.get(m.$max, 1199)) {
                            display: none;
                        }
                    }
                }
            }
        }

        .text-wrap {
            padding: 104px 0 70px;
            border-bottom: 1px solid #e0e0e0;

            &.border-none {
                border-bottom: 0;
                padding-bottom: 0;
            }

            .img-wrap {
                display: flex;
                justify-content: center;

                img {
                    max-width: 100%;
                    height: auto;
                }
            }

            .box.green {
                + .detail-section {
                    margin-top: 63px;
                }
            }

            table {
                col {
                    width: auto !important;
                }
            }
        }

        .buttons {
            display: flex;
            justify-content: center;
            gap: 18px;
            margin-top: 90px;
        }

        .button-navy {
            display: block;
            margin: 87px auto 0;
        }

        .box.green {
            padding: 35px 55px;
        }

        .detail-section {
            > strong {
                padding-left: 0;
                background: none;
            }
        }

        .files {
            display: flex;
            margin-top: 100px;
            border-top: 1px solid #e0e0e0;
            border-bottom: 1px solid #e0e0e0;
            padding: 39px 55px 33px 0;
            @include m.respond-to(map.get(m.$max, 1199)) {
                flex-direction: column;
                padding: 20px;
            }

            strong {
                flex: 0 0 auto;
                width: 160px;
                text-align: center;
                font-size: 18px;
                line-height: 32px;
                color: #000;
                @include m.respond-to(map.get(m.$max, 1199)) {
                    width: 100%;
                    padding-bottom: 20px;
                    text-align: left;
                }
            }

            ul {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 12px 30px;
                @include m.respond-to(map.get(m.$max, 1199)) {
                    grid-template-columns: 1fr;
                    gap: 10px;
                }
            }

            a {
                display: block;
                padding-left: 27px;
                background: url("#{$imgPath}/icon-clip.png") no-repeat 0 50%;
                background-size: auto 20px;
                font-size: 16px;
                color: #000;
                line-height: 26px;
            }

            + .buttons {
                display: flex;

                button,
                a {
                    margin: 0;
                }
            }
        }

        .buttons {
            position: relative;
            padding: 0 200px;
            box-sizing: border-box;
            @include m.respond-to(map.get(m.$max, 1199)) {
                flex-wrap: wrap;
                padding: 0;
            }

            &:last-of-type {
                button,
                a {
                    margin: 0;

                    &:nth-child(3) {
                        &:last-child {
                            position: absolute;
                            right: 0;

                            @include m.respond-to(map.get(m.$max, 1199)) {
                                position: relative;
                            }
                        }
                    }
                }
            }
        }

        .desc {
            padding: 0 25px;
            font-size: 16px;
            line-height: 32px;

            color: #000;
            @include m.respond-to(map.get(m.$max, 1199)) {
                padding: 0;
                font-size: 14px;
                line-height: 24px;
            }

            + .img-wrap {
                margin-top: 60px;
            }
        }
    }
    .announcement-detail {
        border-top: 2px solid #444;
        padding-top: 60px;

        > strong {
            display: block;
            margin-top: 39px;
            font-size: 40px;
            font-weight: 600;
            line-height: 52px;
            color: #000;
            @include m.respond-to(map.get(m.$max, 1199)) {
                margin-top: 20px;
                font-size: 24px;
                line-height: 34px;
            }
        }

        .dot-info {
            display: flex;
            gap: 72px;
            max-width: 100%;
            margin-top: 51px;
            padding: 47px 46px;
            background-color: #f9f9f9;
            border-radius: 20px;
            @include m.respond-to(map.get(m.$max, 1199)) {
                flex-direction: column;
                margin-left: 0;
                gap: 10px;
                padding: 20px;
                border-radius: 10px;
            }

            li {
                font-size: 17px;
                margin-top: 0;
                @include m.respond-to(map.get(m.$max, 1199)) {
                }

                strong {
                    padding-left: 12px;

                    &:before {
                        width: 7px;
                        height: 7px;
                        background-color: #3cad39;
                    }
                }
            }
        }

        .links {
            display: flex;
            justify-content: center;
            gap: 22px;
            margin-top: 70px;
        }

        .detail-section {
            margin-top: 67px;
            padding-top: 83px;
            border-top: 1px solid #e5e5e5;
            @include m.respond-to(map.get(m.$max, 1199)) {
                margin-top: 50px;
                padding-top: 50px;
            }
        }

        .desc {
            padding: 0 25px;
            font-size: 16px;
            line-height: 26px;

            color: #000;
            @include m.respond-to(map.get(m.$max, 1199)) {
                padding: 0;
                font-size: 14px;
                line-height: 24px;
            }
        }

        .files {
            display: flex;
            margin-top: 100px;
            border-top: 1px solid #e0e0e0;
            border-bottom: 1px solid #e0e0e0;
            padding: 39px 55px 33px 0;
            @include m.respond-to(map.get(m.$max, 1199)) {
                flex-direction: column;
                padding: 20px;
            }

            strong {
                flex: 0 0 auto;
                width: 160px;
                text-align: center;
                font-size: 18px;
                line-height: 32px;
                color: #000;
                @include m.respond-to(map.get(m.$max, 1199)) {
                    width: 100%;
                    padding-bottom: 20px;
                    text-align: left;
                }
            }

            ul {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 12px 30px;
                @include m.respond-to(map.get(m.$max, 1199)) {
                    grid-template-columns: 1fr;
                    gap: 10px;
                }
            }

            a {
                display: block;
                padding-left: 27px;
                background: url("#{$imgPath}/icon-clip.png") no-repeat 0 50%;
                background-size: auto 20px;
                font-size: 16px;
                color: #000;
                line-height: 26px;
            }
        }

        .button-navy {
            display: block;
            margin: 95px auto 0;
        }
    }
}