@use "sass:map";
@use "sass:math";
@use "./../../components/mixin" as m;

$imgPath: "./../../images/koagi";
@mixin buttons {
    .button-apply {
        display: block;
        min-width: 150px;
        box-sizing: border-box;
        margin: 60px auto 0;
        background-color: #013569;
        padding: 23px 43px;
        border-radius: 10px;
        color: #fff;
        text-align: center;
        font-size: 17px;
        font-weight: 600;
        @include m.respond-to(map.get(m.$max, 1199)) {
            display: block;
            width: 110px;
            margin: 35px auto 0;
            padding: 15px 0;
            border-radius: 7px;
            font-size: 15px;
        }
    }
    .button-navy {
        min-width: 150px;
        box-sizing: border-box;
        background-color: #013569;
        padding: 23px 43px;
        border-radius: 10px;
        color: #fff;
        text-align: center;
        font-size: 17px;
        font-weight: 600;
        @include m.respond-to(map.get(m.$max, 1199)) {
            min-width: 110px;
            padding: 15px 10px;
            border-radius: 7px;
            font-size: 15px;
        }

        &.small {
            min-width: 94px;
            border-radius: 5px;
            padding: 15px 20px;
            font-size: 15px;
        }

        &.round {
            border-radius: 50px;
        }

        &-outline {
            min-width: 150px;
            box-sizing: border-box;
            border: 2px solid #013569;
            padding: 23px 43px;
            border-radius: 10px;
            color: #000;
            text-align: center;
            font-size: 17px;
            font-weight: 600;
            @include m.respond-to(map.get(m.$max, 1199)) {
                min-width: 110px;
                padding: 15px 10px;
                border-radius: 7px;
                font-size: 15px;
            }
        }
        &-circle {
            width: 140px;
            height: 140px;
            border-radius: 100px;
            padding-top: 44px;
            background: #013569 url("#{$imgPath}/icon-apply.png") no-repeat 50% 37px;
            font-size: 16px;
            color: #fff;
            font-weight: 700;
        }
    }
    .button-gray {
        min-width: 150px;
        box-sizing: border-box;
        background-color: #aaa;
        padding: 23px 43px;
        border-radius: 10px;
        color: #fff;
        font-size: 17px;
        text-align: center;
        font-weight: 600;
        @include m.respond-to(map.get(m.$max, 1199)) {
            min-width: 110px;
            padding: 15px 0;
            border-radius: 7px;
            font-size: 15px;
        }

        &.square {
            min-width: 0;
            padding: 15px 28px;
            font-size: 16px;
            border-radius: 0;
            @include m.respond-to(map.get(m.$max, 1199)) {
                font-size: 14px;
                padding: 10px 20px;
            }
        }
    }
    .button-black {
        padding: 15px 27px;
        font-size: 16px;
        text-align: center;
        background-color: #242424;
        color: #fff;
    }
    .button-green {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 28px 54px;
        text-align: center;
        background-color: #3cad39;
        border-radius: 10px;
        font-size: 17px;
        color: #fff !important;
        font-weight: 700;
    }
    .button-green-outline {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 28px 54px;
        border-radius: 10px;
        text-align: center;
        color: #3cad39 !important;
        font-size: 17px;
        border: 2px solid #3cad39;
        font-weight: 700;
    }
    .button-darkgray {
        padding: 15px 28px;
        background-color: #242424;
        font-size: 16px;
        color: #fff;
        font-weight: 600;
        @include m.respond-to(map.get(m.$max, 1199)) {
            font-size: 14px;
            padding: 10px 20px;
        }
    }
    .button-gray-outline {
        min-width: 115px;
        padding: 15px 28px;
        border: 1px solid #7d7d7d;
        font-size: 16px;
        color: #000;
        font-weight: 600;
        box-sizing: border-box;
        @include m.respond-to(map.get(m.$max, 1199)) {
            font-size: 14px;
            padding: 8px 20px;
        }
    }
    .button-delete {
        flex: 0 0 auto;
        width: 18px;
        height: 18px;
        margin-top: 2px;
        background: url("#{$imgPath}/icon-delete.png") no-repeat 50% 50%;
    }
    .button-cyan {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 10px 17px;
        font-size: 14px;
        font-weight: 600;
        color: #fff;
        border-radius: 5px;
        background-color: #3baf89;
    }

    .button-icon-outline {
        display: inline-flex;
        padding: 16px 126px 16px 32px;
        border-radius: 100px;
        border: 1px solid #919191;
        background: url("#{$imgPath}/icon-arrow-right-line.png") no-repeat top 50% right 27px;
        font-size: 16px;
        color: #000;
    }
}