$imgPath: "./../../images/koagi";

.hidden,
.sound-only {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
    border: 0 !important;
    padding: 0 !important;
    margin: -1px !important;
}

#skipnavigation {
    position: relative;
    z-index: 1100;

    .skip {
        position: absolute;
        top: 0;
        left: 0;
    }

    a {
        display: block;
        height: 1px;
        width: 1px;
        margin-bottom: -1px;
        overflow: hidden;
        text-align: center;
        background-color: #000;
        color: #fff;
        white-space: nowrap;

        &:focus,
        &:active {
            height: auto;
            width: auto;
            padding: 5px;
            margin-bottom: 10px;
        }
    }
}

#wrap {
    position: relative;
    padding: 0;
    min-height: 100%;
    z-index: 200;
}

.mKeysub1 .bg,
#footer .bg,
#wrap .bg {
    position: relative;
    margin: 0 auto;
    width: 1450px;
    zoom: 1;
}

#wrap .bg:after {
    display: block;
    clear: both;
    content: ""
}

#wrap,
#footer {
    min-width: 1520px;
}

#header {
    position: sticky;
    top: -48px;
    background-color: #fff;
    z-index: 500;
}

#header .uh {
    background-color: #fafafa;
}

#header .uh .bg {
    font-size: 14px;
    height: 48px;
}

#header .uh a {
    display: inline-block;
    color: #222;
    line-height: 48px;
    height: 48px;
}

#header .uh .link {
    float: left;
}

#header .uh .link a {
    position: relative;
    float: left;
    font-size: 15px;
    font-weight: 500;
    padding: 0 15px;
    text-align: center;
    font-family: "EliceDigitalBaeum", "SCoreDream", "맑은 고딕", "돋움", dotum, sans-serif;
    font-weight: bold;

    &:not(.type2):after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        width: 4px;
        height: 4px;
        background-color: #969696;
        border-radius: 100%;
        transform: translateY(-50%);
    }
}

#header .uh .link a:last-child {
    &:after {
        display: none;
    }
}

#header .uh .link a.type2 {
    background: #299b8c;
    color: #fff;
}

#header .uh .util {
    float: right;
    font-size: 14px;
    padding: 0;
}

#header .uh .util a {
    margin: 0 0 0 18px;
}

#header .uh .util .name {
    background: url(./../../images/koagi/ico_log1.png) 0 50% no-repeat;
    padding: 0 0 0 23px;
}

#header .uh .util .name + .out {
    margin-left: 4px;
}

#header .mh .bg {
    height: 122px;
}

#header .mh h1 {
    display: inline-flex;
    align-items: center;
    float: left;
    width: 430px;
    height: 122px;
}

#header .mh .util {
    float: right;
    margin: 27px -13px 0 0;
}

#header .mh .util .bt {
    display: inline-block;
    color: #fff;
    font-size: 16px;
    background-color: #299b8c;
    border-radius: 6px;
    padding: 0 10px;
    line-height: 35px;
    height: 35px;
    vertical-align: middle;
}

body.scrolling #header {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.06);
}

.iLog1,
.iFind1,
.iMenu1 {
    display: inline-block;
    background: url(./../../images/koagi/ico_menu1.png) 50% 50% no-repeat;
    text-indent: -9999px;
    font-size: 0;
    width: 58px;
    height: 58px;
    vertical-align: middle;
}

.iFind1 {
    background-image: url(./../../images/koagi/ico_find1.png);
}

.mGnb {
    font-weight: 600;
}

.mGnb .list li {
    float: left;
}

.mGnb .list li:last-child .dep2 {
    border-right: 1px solid #e8e8e8;
}

.mGnb .list li .dep1 {
    position: relative;
    display: block;
    color: #333;
    font-size: 23px;
    font-family: "SBAggro", "SCoreDream", "맑은 고딕", "돋움", dotum, sans-serif;
    font-weight: 500;
    letter-spacing: -0.7px;
    padding: 0 40px;
    line-height: 122px;
    height: 122px;
    transition: all 0.4s 0s;
    z-index: 102;
}

.mGnb .list li .dep2 {
    display: none;
    position: absolute;
    top: 114px;
    left: 0;
    background-color: #fff;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 0 24px;
    z-index: 101;
}

.mGnb .list li .dep2:after,
.mGnb .list li .dep2:before {
    content: "";
    position: absolute;
    top: 0;
    left: -1000%;
    background-color: #fff;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    width: 1000%;
    height: 100%;
    z-index: 10;
}

.mGnb .list li .dep2:after {
    left: auto;
    right: -1000%;
}

.mGnb .list li .dep2 .ti {
    position: relative;
    margin: 0 0 0 -105px;
    background-color: #fff;
    padding: 47px 0 0;
    width: 265px;
    z-index: 10;
}

.mGnb .list li .dep2 .ti:after {
    content: "";
    position: absolute;
    top: 73px;
    left: -110px;
    background-color: #777;
    width: 89px;
    height: 1px;
}

.mGnb .list li .dep2 .ti:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 20px;
    height: 100%;
}

.mGnb .list li .dep2 .ti .t {
    position: relative;
    font-size: 38px;
    white-space: nowrap;
}

.mGnb .list li .dep2 .ti .c {
    position: relative;
    color: #979797;
    font-size: 13px;
    font-weight: normal;
    letter-spacing: 0.5px;
    margin: 10px 0 0 5px;
    white-space: nowrap;
}

.mGnb .list li .dep2 .ls {
    padding: 47px 0;
}

.mGnb .list li .dep2 .ls ul + ul {
    margin-top: 35px;
}

.mGnb .list li .dep2 .ls ul {
    zoom: 1;
}

.mGnb .list li .dep2 .ls ul:after {
    display: block;
    clear: both;
    content: ""
}

.mGnb .list li .dep2 .ls li {
    float: left;
    margin: 0 0 0 80px;
    width: 298px;

    &:nth-of-type(n+4) {
        margin-top: 35px;
    }
}

.mGnb .list li .dep2 .ls li:hover .t {
    background-color: #279c2f;
    border-color: #279c2f;
    color: #fff;
}

.mGnb .list li .dep2 .ls li .t {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid #d0d0d0;
    color: #282828;
    font-size: 18px;
    padding: 0 29px;
    height: 56px;
}

.mGnb .list li .dep2 .ls li .dep3 {
    margin: 20px 0 15px;
}

.mGnb .list li .dep2 .ls li .dep3 a + a {
    margin-top: 8px;
}

.mGnb .list li .dep2 .ls li .dep3 a {
    position: relative;
    display: block;
    color: #4e4e4e;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: -1px;
    padding: 0 0 0 20px;
}

.mGnb .list li .dep2 .ls li .dep3 a:hover {
    color: #279c2f;
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 2px;
}

.mGnb .list li .dep2 .ls li .dep3 a:before {
    content: "";
    background-color: #cdcdcd;
    border-radius: 50%;
    background-color: #cdcdcd;
    width: 5px;
    height: 5px;
}

.mGnb .list li.active .dep1,
.mGnb .list li.hover .dep1 {
    color: #299b8c;
}

.mGnb .list li.hover .dep2 {
    display: -webkit-flex;
    display: flex;
}

.visual-wrap {
    max-width: 2200px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}

.mKeysub1 {
    display: flex;
    align-items: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    width: 2200px;
    height: 300px;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: 100% 0;
        pointer-events: none;
        z-index: 1;
    }

    &.plant {
        &:before {
            background-image: url("#{$imgPath}/sub-visual-plant.png");
        }
    }

    h3 {
        font-size: 36px;
        line-height: 46px;
        font-weight: 500;
    }

    .info {
        font-size: 14px;
        line-height: 24px;
    }

    .cell {
        display: flex;
        flex-direction: column;
        align-self: stretch;
        justify-content: center;
        position: relative;
        width: 100%;
    }

    .left {
        position: absolute;
        width: 377px;
        height: 300px;
        padding: 76px 0 0 65px;
        box-sizing: border-box;
        background: url("#{$imgPath}/sub-visual-left.png") no-repeat 50% 0;
        font-size: 40px;
        line-height: 50px;
        color: #252525;
        font-weight: 500;
        text-align: left;
        text-decoration: underline;

        &:after {
            content: "";
            position: absolute;
            bottom: -20px;
            right: -48px;
            width: 322px;
            height: 185px;
            background: url("#{$imgPath}/object-mountain.png") no-repeat 50% 50%;
            z-index: 1;
            pointer-events: none;
        }

        span {
            position: relative;

            &:before {
                content: "";
                position: absolute;
                top: -20px;
                right: -20px;
                width: 27px;
                height: 26px;
                background: url("#{$imgPath}/icon-leaf.png") no-repeat 50% 50%;
            }
        }
    }

    .text-wrap {
        position: relative;
        width: min(100%, 1400px);
        margin: 0 auto;
        z-index: 2;
    }
}

.mKeysub1 .cell {
    vertical-align: middle;
    text-align: right;
}

.mKeysub1 h3 {
    font-size: 45px;
    margin: -10px 0 0;
}

.mKeysub1 .info {
    font-size: 14px;
    margin: 10px 0 0;
}

#body {
    margin: 80px auto 0;
    width: min(1450px, 100%);
}

#body .bg {
    display: -webkit-flex;
    display: flex;
    padding: 0;
}

#body .bg.block {
    display: block;
}

#body .mLnb {
    min-width: 270px;
    width: 270px;
}

#body .contents {
    position: relative;
    -webkit-flex: 1;
    flex: 1;
    margin: 0 0 0 70px;
    padding: 193px 0 200px;
}

#footer {
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
    font-size: 15px;
    margin-top: 86px;
}

#footer .bg {
    display: -webkit-flex;
    display: flex;
    width: 1500px;
}

#footer .link {
    border-bottom: 1px solid #e5e5e5;
}

#footer .link .tit,
#footer .link a {
    border-right: 1px solid #e5e5e5;
    letter-spacing: -1px;
    padding: 0 40px 0 23px;
    line-height: 67px;
    height: 67px;
}

#footer .link .tit {
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding-right: 0;
    width: 139px;
}

#footer .link a {
    -webkit-flex: 1;
    flex: 1;
    position: relative;
    background: url(./../../images/koagi/ico_footer1.png) calc(100% - 20px) 50% no-repeat;
    font-size: 16px;
    color: #393939;
}

#footer .text .bg {
    color: #6b6b6b;
    font-size: 14px;
    padding: 47px 0;
}

#footer .text .log {
    float: left;
    padding: 14px 0;;
    width: 357px;
}

#footer .text .txt {
    -webkit-flex: 1;
    flex: 1;
    line-height: 160%;
}

#footer .text .txt .ad {
    font-size: 15.5px;
    margin: 12px 0 0;
}

#footer .text .txt .ad .bar {
    font-family: dotum;
}

#footer .text .txt .ln a {
    position: relative;
    display: inline-block;
    color: #3a3a3a;
    font-size: 15.5px;
}

#footer .text .txt .ln a + a {
    margin-left: 15px;
}

#footer .text .txt .ln a + a:before {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: -10px;
    border-radius: 50%;
    background-color: #3a3a3a;
    width: 2px;
    height: 2px;
}

#footer .text .img {
    padding: 10px 0;
}

.forM {
    display: none;
}

.mLnb h3 {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #279c2f;
    border-radius: 12px;
    color: #fff;
    font-size: 30px;
    letter-spacing: -0.5px;
    font-weight: 600;
    padding: 5px 0 0;
    text-align: center;
    width: 100%;
    height: 154px;
}

.mLnb h3 span {
    position: relative;
    padding: 0 28px;
}

.mLnb h3 span:before {
    content: "";
    position: absolute;
    top: -23px;
    right: 0;
    background: url(./../../images/koagi/ico_lnb1.png) 0 0 no-repeat;
    width: 42px;
    height: 31px;
}

.mLnb .list {
    border: 1px solid #dedede;
    border-radius: 12px;
    margin: 22px 0 0;
    padding: 10px 18px;
}

.mLnb .list > li {
    border-bottom: 1px solid #ebebeb;
}

.mLnb .list > li:last-child {
    border-bottom: 0;
}

.mLnb .list > li .dep1 {
    position: relative;
    display: block;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.5px;
    padding: 22px 50px 22px 10px;
    width: 100%;
    word-break: keep-all;
}

.mLnb .list > li .dep1:before {
    content: "";
    position: absolute;
    top: calc(50% - 12px);
    right: 13px;
    background: url(./../../images/koagi/ico_lnb_arr1.png) 50% 50% no-repeat;
    width: 24px;
    height: 24px;
    transition: all 0.4s 0s;
}

.mLnb .list > li .dep2 {
    display: none;
    background-color: #fbfbfb;
    border-top: 1px solid #43ad4a;
    padding: 14px 0;
}

.mLnb .list > li .dep2 li a,
.mLnb .list > li .dep2 li button {
    position: relative;
    display: block;
    background: url(./../../images/koagi/ico_dep3.png) calc(100% - 20px) 50% no-repeat;
    font-size: 13px;
    font-weight: normal;
    padding: 8px 20px;
}

.mLnb .list > li .dep2 li button {
    width: 100%;
}

.mLnb .list > li .dep2 li.active a,
.mLnb .list > li .dep2 li.active button,
.mLnb .list > li .dep2 li a:hover {
    color: #50b457;
    font-weight: 500;
    background-image: url(./../../images/koagi/ico_dep3_a.png);
}

.mLnb .list > li .dep2 .iDep3 {
    padding-right: 45px;
}

.mLnb .list > li .dep2 .iDep3:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 34px;
    margin-top: -6px;
    background: url(./../../images/koagi/ico_dep3.png) 50% 50% no-repeat;
    width: 12px;
    height: 12px;
}

.mLnb .list > li .dep2 li.active .iDep3:after,
.mLnb .list > li .show .iDep3:after {
    margin-top: -1px;
    height: 2px;
}

.mLnb .list > li .dep2 .dep3 {
    display: none;
    background-color: #fff;
    border-radius: 8px;
    margin: 10px 30px 15px 0;
    padding: 17px 19px;
}

.mLnb .list > li .dep2 .dep3 li a {
    color: #000;
    font-weight: 400;
    text-decoration: none;
    padding: 2px 0 2px 11px;
}

.mLnb .list > li .dep2 .dep3 li a:before {
    top: 13px;
    background-color: #484848;
    width: 5px;
    height: 1px;
}

.mLnb .list > li .dep2 .dep3 li.active a {
    text-decoration: underline;
}

.mLnb .list > li.active .dep1,
.mLnb .list > li:hover .dep1 {
    color: #17a481;
    font-weight: 600;
}

.mLnb .list > li.active .dep1:before,
.mLnb .list > li:hover .dep1:before {
    background-image: url(./../../images/koagi/ico_lnb_arr1_a.png);
    transform: rotate(180deg);
}

.mLnb .list > li.active.nosub .dep1 {
    position: relative;
}

.mLnb .list > li.nosub .dep1 {
    padding-right: 50px;
}

.gTitle1 {
    position: relative;
    margin: 58px auto 0;
    text-align: left;
    width: 1440px;
    z-index: 1;
}

.gTitle1 h4 {
    color: #333;
    font-size: 42px;
    font-weight: 600;
    letter-spacing: -2.4px;
}

.gTitle1 .title {
    margin: 18px 0 0;

    .desc {
        margin-top: 30px;
        text-align: center;
        font-size: 15px;
        line-height: 25px;
        font-family: SCoreDream, serif;
        color: #333;
    }
}

.gTitle1 .title h4 {
    display: flex;
    justify-content: center;
    font-size: 40px;
    line-height: 50px;
    font-weight: 500;
    color: #333;
}

.gTitle1 .mBc1 {
    display: flex;
    align-items: center;
    text-align: left;

    &.forM {
        display: none;
    }
}

.mUtil1 {
    margin-left: auto;
    text-align: right;
}

.mUtil1 a + button,
.mUtil1 a + a {
    margin-left: 13px;
}

.mUtil1 button,
.mUtil1 a {
    display: inline-block;
    background: url(./../../images/koagi/ico_util1_1.png) 50% 50% no-repeat;
    border: 1px solid #cbcbcb;
    border-radius: 50%;
    text-indent: -9999px;
    font-size: 0;
    width: 46px;
    height: 46px;
    vertical-align: middle;
}

.mUtil1 .attach {
    background-image: url(./../../images/koagi/ico_util1_2.png);
}

.mUtil1 .print {
    background-image: url(./../../images/koagi/ico_util1_3.png);
}

.mBc1 {
    margin: 0 0 0 9px;
    text-align: center;
}

.mBc1 > span {
    position: relative;
    display: inline-block;
    color: #3b3b3b;
    font-size: 15px;
    letter-spacing: 0;
    margin: 0 0 0 28px;
    vertical-align: middle;
}

.mBc1 > span:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -19px;
    background: url(./../../images/koagi/ico_bc2.png) 50% 50% no-repeat;
    width: 7px;
    height: 12px;
    transform: translateY(-50%);
}

.mBc1 > .cur {
    text-decoration: underline;
    text-underline-offset: 2px;
}

.mBc1 .home {
    position: relative;
    display: inline-block;
    background: url(./../../images/koagi/ico_bc1.png) 0 50% no-repeat;
    margin-left: 0;
    padding: 0 0 0 26px;
    height: 21px;
}

.mBc1 .home:before {
    display: none;
}

.mSitemap1,
.forM {
    display: none;
}

.mSitemap1.active {
    left: 0;
}

.mSitemap1 {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    background-color: #fff;
    font-weight: 700;
    width: 100%;
    height: 100%;
    z-index: 1000;
    transition: all 0.4s 0s;
}

.mSitemap1 .title {
    background-color: #279c2f;
    padding: 16px 17px 21px;
}

.mSitemap1 .title .close {
    position: absolute;
    top: 0;
    right: 0;
    background: url(./../../images/koagi/ico_close1_m.png) 50% 50% no-repeat;
    background-size: 17px auto;
    text-indent: -9999px;
    font-size: 0;
    width: 61px;
    height: 57px;
}

.mSitemap1 .util {
    background-color: #136019;
}

.mSitemap1 .list {
    display: -webkit-flex;
    display: flex;
    background-color: #fff;
    height: calc(100% - 212px);
}

.mSitemap1 .list .dep1 {
    border-right: 1px solid #d7d7d7;
    width: 140px;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
}

.mSitemap1 .list .dep1 li.active,
.mSitemap1 .list .dep1 li a:hover {
    border-bottom-color: #279c2f;
    color: #279c2f;
    font-weight: bold;
}

.mSitemap1 .list .dep1 a {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: left;
    border-bottom: 1px solid #d7d7d7;
    color: #333;
    font-size: 12px;
    font-weight: 500;
    line-height: 150%;
    padding: 0 15px;
    height: 60px;
}

.mSitemap1 .list .dep1 li.m2 a {
    background-image: url(./../../images/koagi/ico_menu1_2_m.png);
    background-position: 50% 18px;
    padding-top: 58px;
}

.mSitemap1 .list .dep1 li.m3 a {
    background-image: url(./../../images/koagi/ico_menu1_3_m.png);
}

.mSitemap1 .list .dep1 li.m4 a {
    background-image: url(./../../images/koagi/ico_menu1_4_m.png);
}

.mSitemap1 .list .dep1 li.m5 a {
    background-image: url(./../../images/koagi/ico_menu1_5_m.png);
    background-position: 50% 18px;
    padding-top: 58px;
}

.mSitemap1 .list .dep1 li.m6 a {
    background-image: url(./../../images/koagi/ico_menu1_6_m.png);
    background-position: 50% 18px;
    padding-top: 58px;
}

.mSitemap1 .list .dep2 {
    -webkit-flex: 1;
    flex: 1;
    border-top: 1px solid #dcdcdc;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
}

.mSitemap1 .list .dep2 > ul > li {
    border-bottom: 1px solid #dcdcdc;
}

.mSitemap1 .list .dep2 > ul > li a,
.mSitemap1 .list .dep2 > ul > li button {
    position: relative;
    display: block;
    font-size: 12px;
    font-weight: 500;
    line-height: 140%;
    text-align: left;
    width: 100%;
    padding: 17px 40px 17px 15px;
    word-break: keep-all;
}

.mSitemap1 .list .dep2 > ul > li button:before {
    content: "";
    position: absolute;
    top: calc(50% - 4px);
    right: 18px;
    background: url(./../../images/koagi/ico_menu1_arr_m.png) 50% 50% no-repeat;
    background-size: 14px auto;
    width: 14px;
    height: 8px;
    transition: all 0.4s 0s;
}

.mSitemap1 .list .dep2 > ul > li li button:before {
    content: "";
    position: absolute;
    top: calc(50% - 4px);
    right: 18px;
    background: url(./../../images/koagi/ico_menu1_arr2_m.png) 50% 50% no-repeat;
    background-size: 12px auto;
    width: 12px;
    height: 12px;
    opacity: 1;
    transition: all 0s 0s;
}

.mSitemap1 .list .dep2 > ul > li li.active button:before {
    margin-top: 6px;
    height: 1px;
}

.mSitemap1 .list .dep2 > ul > li li .dep4 {
    display: none;
    background-color: #fff;
    border-radius: 8px;
    margin: 0 19px 10px;
    padding: 17px 19px;
}

.mSitemap1 .list .dep2 > ul > li .dep3 li .dep4 li {
    position: relative;
    padding: 0;
}

.mSitemap1 .list .dep2 > ul > li .dep3 li .dep4 li:before {
    content: "";
    position: absolute;
    top: 13px;
    left: 0;
    background-color: #484848;
    width: 5px;
    height: 1px;
}

.mSitemap1 .list .dep2 > ul > li .dep3 li .dep4 li a {
    position: relative;
    display: block;
    padding: 2px 0 2px 11px;
}

.mSitemap1 .list .dep2 > ul > li .dep3 li .dep4 li.active a {
    text-decoration: underline;
}

.mSitemap1 .list .dep2 > ul > li a {
    padding-right: 19px;
}

.mSitemap1 .list .dep2 > ul > li a:before {
    display: none;
}

.mSitemap1 .list .dep2 > ul > li .dep3 {
    display: none;
    background-color: #f9f9f9;
    border-top: 1px solid #dcdcdc;
    padding: 18px 0;
}

.mSitemap1 .list .dep2 > ul > li .dep3 a {
    display: block;
    color: #3c3c3c;
    font-size: 11px;
    padding: 8px 18px;
    height: auto;
}

.mSitemap1 .list .dep2 > ul > li .dep3 a:hover {
    font-weight: bold;
}

.mSitemap1 .list .dep2 > ul > li.active button {
    font-weight: bold;
}

.mSitemap1 .list .dep2 > ul > li.active button:before {
    transform: rotate(180deg);
}

.mLang1 {
    position: relative;
}

.mLang1 .sel {
    position: relative;
    display: block;
    background: url(./../../images/koagi/ico_lang1.png) 0 3px no-repeat;
    background-size: 13px auto;
    color: #fff;
    font-size: 14px;
    padding: 0 0 0 20px;
    font-weight: 700;
}

.mLang1 .sel:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url(./../../images/koagi/ico_lang1_arr.png) 0 3px no-repeat;
    background-size: 11px auto;
    width: 11px;
    height: 6px;
}

.mLang1 .selList {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #279c2f;
    padding: 5px 0;
    width: 100%;
}

.mLang1 .selList a {
    display: block;
    color: #fff;
    font-size: 14px;
    padding: 2px 0 2px 20px;
}

.mLink1 {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    margin: 23px 5px 0;
}

.mLink1 a {
    -webkit-flex: 1;
    flex: 1;
    position: relative;
    color: #fff;
    font-size: 13px;
    padding: 65px 0 0;
    text-align: center;
}

.mLink1 a:before {
    content: "";
    position: absolute;
    top: 0;
    left: calc(50% - 28px);
    background: url(./../../images/koagi/ico_sm1_1.png) 50% 50% no-repeat #bfe1c1;
    background-size: 25px auto;
    border-radius: 50%;
    width: 56px;
    height: 56px;
}

.mLink1 .log:before {
    background-image: url(./../../images/koagi/ico_sm1_2.png);
}

.mLink1 .my:before {
    background-image: url(./../../images/koagi/ico_sm1_3.png);
}

.mUtil2 {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    background-color: #136019;
    text-align: center;
    height: 50px;
}

.mUtil2 .col {
    -webkit-flex: 1;
    flex: 1;
}

.mUtil2 .col a {
    display: block;
    color: #fff;
    font-size: 13px;
}

.mUtil2 .col a > span {
    background: url(./../../images/koagi/ico_util2_1.png) 100% 50% no-repeat;
    background-size: 11px auto;
    padding: 0 23px 0 0;
}

.mUtil2 .col.i2 a > span {
    background: url(./../../images/koagi/ico_util2_2.png);
}

.gCount1 {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin: 0 0 27px;
}

.gCount1 .mCount1 {
    -webkit-flex: 1;
    flex: 1;
    margin-top: 0;
    padding-bottom: 0;
    font-size: 15px;
    line-height: 25px;
    font-family: "SCoreDream", serif;
}

.gCount1 .rt {
    text-align: right;
}

.mCount1 + .mBoard1 {
    margin-top: 27px;
}

.mCount1 {
    font-size: 15px;
    margin: 52px 0 0;
}

.mCount1 strong {
    color: #f39939;
    font-weight: 500;
}

.mSearch1 .select {
    min-width: 140px;
    vertical-align: middle;
    margin-right: 3px;
}

.mSearch1 .it {
    margin-left: 1px;
    min-width: 270px;
    vertical-align: middle;
}

.mSearch1 .it.w365 {
    min-width: 365px;
}

.mSearch1 .find {
    display: inline-block;
    background: url(./../../images/koagi/ico_find2.png) 50% 50% no-repeat #17a481;
    text-indent: -9999px;
    font-size: 0;
    margin-left: -5px;
    vertical-align: middle;
    width: 48px;
    height: 48px;
}

.mSearch1 .mBtn1 {
    margin-left: 6px;
    min-width: 130px;
    line-height: 48px;
    height: 48px;
    vertical-align: top;
}

.mSearch1 .mBtn1 .find {
    display: inline-block;
    background: url(./../../images/koagi/ico_find2_2.png) 0 50% no-repeat transparent;
    text-indent: 0;
    color: #fff;
    font-weight: normal;
    font-size: 16px;
    margin: -1px 0 0;
    padding: 0 0 0 24px;
    width: auto;
    height: auto;
    vertical-align: top;
}

.mSearch1.bgGray {
    background-color: #f8f8f8;
    margin: 36px 0 0;
    padding: 33px 0;
    text-align: center;
}

.it {
    font-size: 15px;
    font-weight: 500;
    line-height: 48px;
    height: 48px;
    border: solid 1px #ddd;
    background-color: #fff;
    color: #000;
    padding: 0 0 0 15px;
}

.select {
    background: url(./../../images/koagi/ico_select1.png) calc(100% - 14px) 50% no-repeat #fff;
    background-size: 14px auto;
    font-size: 15px;
    font-weight: 500;
    line-height: 48px;
    height: 48px;
    border: solid 1px #ddd;
    color: #000;
    padding: 0 45px 0 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: all 0.4s 0s;
}

.mPag {
    margin: 90px 0 0;
    padding-top: 70px;
    border-top: 1px solid #e1e1e1;
    line-height: normal;
    text-align: center;
}

.mPag a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #dedede;
    color: #666;
    text-decoration: none;
    font-size: 14px;
    margin: 0 -2px 0 -4px;
    vertical-align: middle;
    text-align: center;
    min-width: 42px;
    height: 40px;
}

.mPag .active {
    position: relative;
    background-color: #279c6b;
    border-color: #279c6b;
    color: #fff;
    text-decoration: underline;
}

.mPag .first,
.mPag .last,
.mPag .prev,
.mPag .next {
    position: relative;
    display: inline-block;
    background: url(./../../images/koagi/ico_pag_first.png) 50% 50% no-repeat #fff;
    text-indent: -9999px;
    font-size: 0;
    overflow: hidden;
    z-index: 10;
}

.mPag .first {
    margin-right: -6px;
}

.mPag .next,
.mPag .last {
    background-image: url(./../../images/koagi/ico_pag_last.png);
}

.mPag .prev {
    background-image: url(./../../images/koagi/ico_pag_prev.png);
    margin: 0 2px 0 0;
}

.mPag .next {
    background-image: url(./../../images/koagi/ico_pag_next.png);
    margin: 0 -3px 0 1px;
}


