@media all and (max-width: 1199px) {
    .mUtil1 .attach,
    .mUtil1 .print,
    .mGnb,
    #body .mLnb,
    #header .uh,
    .forW {
        display: none;
    }
    .forM {
        display: block;
    }
    span.forM {
        display: inline;
    }
    .mKeysub1 .bg,
    #footer .bg,
    #wrap .bg {
        width: auto;
    }
    #wrap,
    #footer {
        min-width: auto;
    }
    #wrap {
        min-height: calc(100% - 460px);
    }
    #header {
        top: 0;
    }
    #header .mh .bg {
        height: 60px;
    }
    #header .mh {
        text-align: center;
    }
    #header .mh h1 img {
        height: 39px;
    }
    #header .mh h1 {
        float: none;
        width: auto;
        line-height: 60px;
        height: 60px;
    }
    #header .mh .iMenu1 {
        position: absolute;
        top: 0;
        left: 0;
    }
    #header .mh .iLog1 {
        position: absolute;
        top: 0;
        right: 0;
    }
    #header .mh .util .bt.forW {
        display: none;
    }
    .iMenu1,
    .iLog1 {
        height: 60px;
    }
    .iMenu1 {
        background-image: url(./../../images/koagi/ico_menu1_m.png);
        background-size: 19px auto;
    }
    .iLog1 {
        background-image: url(./../../images/koagi/ico_log1_m.png);
        background-size: 23px auto;
    }
    #body {
        margin: 30px 0 50px;
        padding: 15px;
        box-sizing: border-box;
    }
    #body .bg {
        display: -webkit-flex;
        display: flex;
        padding: 0;
    }
    #body .bg.block {
        display: block;
    }
    #body .mLnb {
        min-width: 270px;
        width: 270px;
    }
    #body .contents {
        position: relative;
        -webkit-flex: 1;
        flex: 1;
        padding: 0 15px;
        margin: 0;
    }
    #footer {
        font-size: 11px;
        margin-top: 40px;
    }
    #footer .bg {
        display: flex;
        flex-wrap: wrap;
        width: auto;
    }
    #footer .link {
        border-bottom: 0;
        margin-bottom: -1px;
        zoom: 1;
    }
    #footer .link:after {
        display: block;
        clear: both;
        content: "";
    }
    #footer .link a {
        display: flex;
        align-items: center;
        flex: 0 0 auto;
        justify-content: flex-start;
        border-bottom: 1px solid #e5e5e5;
        padding: 0 30px 0 15px;
        box-sizing: border-box;
        line-height: 130%;
        background-size: 6px auto;
        font-size: 11px;
        width: 50%;
        height: 35px;
    }
    #footer .link .tit {
        display: none;
    }
    #footer .text {
        border-top: 1px solid #e5e5e5;
        margin-top: -1px;
    }
    #footer .text .bg {
        color: #6b6b6b;
        font-size: 14px;
        padding: 25px 20px;
    }
    #footer .text .log {
        float: none;
        padding: 0;
        width: auto;
    }
    #footer .text .log img {
        height: 23px;
    }
    #footer .text .txt {
        display: block;
        margin: 15px 0 0;
    }
    #footer .text .txt .ad {
        font-size: 10px;
        margin: 5px 0 0;
        line-height: 140%;
    }
    #footer .text .txt .ln a {
        font-size: 10px;
    }
    #footer .text .txt .ln a + a {
        margin-left: 15px;
    }
    #footer .text .txt .ln a + a:before {
        content: "";
        position: absolute;
        top: calc(50% - 1px);
        left: -10px;
        border-radius: 50%;
        background-color: #3a3a3a;
        width: 2px;
        height: 2px;
    }
    #footer .text .img {
        padding: 20px 0 0;
    }
    #footer .text .img img {
        height: 25px;
    }
    .mKeysub1 {
        height: 140px;

        .left {
            display: none;
        }

        .cell {
            text-align: center;
        }
    }
    .mKeysub1 h3 {
        font-size: 18px;
    }
    .mKeysub1 .info {
        font-size: 12px;
        margin-top: 5px;
    }
    .gTitle1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        text-align: center;
        width: auto;
        height: auto;
        padding: 0 15px;
    }
    .gTitle1 .mBc1,
    .gTitle1 h4 {
        padding: 0;
    }
    .gTitle1 .mBc1 {
        order: 1;
        text-align: center;
        margin-top: 10px;
    }
    .gTitle1 .title {
        margin-top: 37px;

        .desc {
            margin-top: 10px;
        }
    }
    .gTitle1 .title h4 {
        font-size: 21px;
        line-height: 31px;
        letter-spacing: 0;
        text-align: center;
    }
    .mBc1 {
        margin: 0;
        text-align: center;
    }
    .mBc1 > span {
        font-size: 9px;
        letter-spacing: 0;
        margin: 0 0 0 14px;
    }
    .mBc1 > span:before {
        top: 4px;
        left: -10px;
        background-size: 3px auto;
        width: 3px;
        height: 6px;
    }
    .mBc1 .home {
        background-position: 0 50%;
        background-size: 7px auto;
        padding: 0 0 0 13px;
        height: 11px;
    }
    .mBc1 .home:before {
        display: none;
    }
    .mUtil1 {
        position: absolute;
        top: 37px;
        right: 15px;
    }
    .mUtil1 button,
    .mUtil1 a {
        background-size: auto 14px;
        width: 30px;
        height: 30px;
    }
    /* tab */
    .mTab1 {
        position: relative;
        display: block;
        border-bottom: 0;
        margin: 0 -15px 25px;
        zoom: 1;
    }
    .mTab1:before {
        content: "";
        position: absolute;
        bottom: -1px;
        left: 0;
        background-color: #ddd;
        width: 100%;
        height: 1px;
    }
    .mTab1:after {
        display: block;
        clear: both;
        content: "";
    }
    .mTab1 a {
        display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        float: left;
        border-bottom-color: #ddd;
        font-size: 12px;
        margin: 0 0 -1px;
        width: 33.333%;
        line-height: 120%;
        height: 36px;
    }
    .mTab1 a > span {
        display: block;
        padding: 0 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        word-break: keep-all;
    }
    .mTab1 a + a {
        border-left: 0;
    }
    .mTab1 a:nth-child(3n) {
        border-right: 0;
    }
    .mTab1 a.active {
        background-color: #279c2f;
        border-color: #279c2f;
        color: #fff;
    }
    .mTab1.col2_m a {
        width: 50%;
    }
    .mTab1_s {
        border-bottom: 1px solid #ddd;
        box-shadow: none;
        margin: 0 0 25px;
        padding: 0 5px 15px;
        text-align: center;
    }
    .mTab1_s:before {
        display: none;
    }
    .mTab1_s a {
        border-radius: 27px;
        font-size: 12px;
        margin: 0 0 10px;
        padding: 5px 15px;
        line-height: 130%;
        height: auto;
    }
    .mTab1_s a + a {
        margin-left: 3px;
    }
    /* //tab */
    /* content */
    .mContact1 {
        margin: 0 20px;
        padding-left: 0;
        min-width: auto;
        max-width: none;
    }
    .mContact1 .contact {
        display: block;
        margin-left: 0;
        padding: 10px;
    }
    .mContact1 .col + .col {
        margin: 5px 0 0;
    }
    .mContact1 .col {
        display: block;
        font-size: 13px;
    }
    .mContact1 .col .ti {
        background-size: 14px auto;
        background-position: 10px calc(50% + 1px);
        font-size: 12px;
        padding: 0 15px 0 30px;
        line-height: 30px;
        height: 30px;
    }
    .mContact1 .col .tx {
        display: inline-block;
        font-size: 12px;
        padding: 0 0 0 10px;
    }
    .gCount1 {
        display: block;
        margin-bottom: 10px;
    }
    .gCount1 .mCount1 {
        margin-top: 0;
        padding-bottom: 0;
    }
    .gCount1 .rt {
        margin: 0 0 20px;
    }
    .mSearch1 {
        display: -webkit-flex;
        display: flex;
        align-items: center;
    }
    .mSearch1 .select {
        min-width: 70px;
    }
    .mSearch1 .select + .select,
    .mSearch1 .select + .it {
        margin-left: 2px;
    }
    .mSearch1 .it.w365 {
        min-width: auto;
        width: 100%;
    }
    .mSearch1 .it {
        -webkit-flex: 1;
        flex: 1;
        min-width: auto;
    }
    .mSearch1 .find {
        background-size: 15px auto;
        width: 36px;
        height: 36px;
    }
    .mSearch1 .mBtn1 {
        margin-left: 6px;
        min-width: 60px;
        line-height: 36px;
        height: 36px;
    }
    .mSearch1 .mBtn1 .find {
        background-size: 13px auto;
        font-size: 13px;
        padding-left: 20px;
    }
    .mSearch1.bgGray {
        margin-top: 20px;
        padding: 10px;
    }
    .mSearch1.bgGray + .mCount1 {
        margin-top: 20px;
    }
    .mSearch1.bgGray.type1_m {
        display: block;
    }
    .mSearch1.bgGray.type1_m .flex_m + .flex_m {
        margin-top: 5px;
    }
    .mSearch1.bgGray.type1_m .flex_m {
        display: -webkit-flex;
        display: flex;
        align-items: center;
    }
    .mSearch1.bgGray.type1_m .flex_m .select {
        -webkit-flex: 1;
        flex: 1;
        margin: 0;
    }
    .mSearch1.bgGray.type1_m .flex_m .select + .select {
        margin-left: 5px;
    }
    .mCount1 {
        font-size: 12px;
    }
    .mCount1 + .mBoard1 {
        margin-top: 10px;
    }
    .mFaq1 .q button,
    .mFaq1 .a .con {
        display: block;
        padding: 15px 20px;
    }
    .mFaq1 .ico {
        display: inline-block;
        font-size: 13px;
        margin-right: 5px;
        width: 24px;
        line-height: 24px;
        height: 24px;
    }
    .mFaq1 .iSt5 {
        margin: 2px 10px 0 0;
        padding: 0 10px;
        min-width: auto;
    }
    .mFaq1 .q button {
        padding-right: 45px;
        width: 100%;
    }
    .mFaq1 .q button:before {
        background-size: 12px auto;
        background-position: 50% 50%;
        width: 12px;
    }
    .mFaq1 .q button:before {
        right: 20px;
    }
    .mFaq1 .a .ico {
        background-color: #9598a1;
    }
    .mFaq1 .txt {
        display: block;
        font-size: 13px;
        line-height: 150%;
        margin: 3px 10px 0 0;
        padding: 10px 0 0 -20px;
    }
    .mFaq1 .a .txt {
        padding-top: 10px;
    }
    .mBoard1.type1_m {
        border-top-width: 1px;
    }
    .mBoard1.type1_m colgroup,
    .mBoard1.type1_m thead {
        display: none;
    }
    .mBoard1.type1_m tr.mAnswer1.active {
        display: table-row;
    }
    .mBoard1.type1_m tr.mAnswer1 {
        display: none;
        border: 2px solid #656565;
    }
    .mBoard1.type1_m tr {
        position: relative;
        display: block;
        border-bottom: 1px solid #e0e3e7;
        padding: 15px 0 12px;
        text-align: left;
    }
    .mBoard1.type1_m tr:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-color: #fff;
        width: 1px;
        height: 100%;
    }
    .mBoard1.type1_m tr td.forW {
        display: none;
    }
    .mBoard1.type1_m tr .num {
        display: none;
    }
    .mBoard1.type1_m tr .num.notice {
        display: block;
        float: left;
        margin: 0;
        text-align: left;
        vertical-align: middle;
    }
    .mBoard1.type1_m tr .tit {
        display: block;
        font-size: 15px;
        padding: 1px 10px 10px;
        text-align: left;
    }
    .mBoard1.type1_m tr .tit a {
        display: inline-block;
        font-weight: 600;
        font-size: 14px;
        padding: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }
    .mBoard1.type1_m tr .tit a.iNew1 {
        padding: 0 0 0 42px;
    }
    .mBoard1.type1_m tr .tit a.iRe1 {
        padding: 0 0 0 79px;
    }
    .mBoard1.type1_m tr td {
        position: relative;
        border: 0;
        display: inline-block;
        font-size: 13px;
        padding: 0 7px 0 10px;
        text-align: left;
        height: auto;
    }
    .mBoard1.type1_m tr td > .t {
        display: inline-block;
        margin-right: 3px;
        font-weight: 500;
        min-width: 45px;
    }
    .mBoard1.type1_m tr td > .t.w55_m {
        min-width: 55px;
    }
    .mBoard1.type1_m tr td > .t.w65_m {
        min-width: 65px;
    }
    .mBoard1.type1_m tr td .mBtn1.ms {
        margin-top: -4px;
        vertical-align: middle;
    }
    .mBoard1.type1_m tr td.bar {
        line-height: 140%;
        margin-top: -3px;
        word-break: break-all;
        width: calc(50% - 3px);
    }
    .mBoard1.type1_m tr td.bar.type2_m {
        position: relative;
        margin: 3px 0;
        padding-left: 55px;
        width: calc(100% - 3px);
    }
    .mBoard1.type1_m tr td.bar.type2_m .t {
        position: absolute;
        top: 0;
        left: 10px;
    }
    .mBoard1.type1_m tr td.bar.type2_m.char6 {
        padding-left: 93px;
    }
    .mPn1 li .ti {
        font-size: 13px;
        margin-right: 0;
        width: auto;
        line-height: 42px;
        height: 42px;
    }
    .mPn1 li .ti span {
        padding: 0 0 0 15px;
    }
    .mPn1 li .ti span:before {
        margin-top: -4px;
        background-size: auto 6px;
        width: 10px;
        height: 7px;
    }
    .mPn1 li.next .ti span:before {
        transform: rotate(180deg);
    }
    .mPn1 li .tx {
        display: block;
        font-size: 13px;
        padding: 0 10px;
        line-height: 42px;
        height: 42px;
    }
    .mPn1 li .tx span {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }
    .mView1 + .mButton1 {
        margin-top: 30px;
    }
    .mView1 .tit {
        font-size: 20px;
        line-height: 140%;
        padding: 20px 0;
    }
    .mView1 .tit .iSt2 {
        font-size: 12px;
        padding: 0 10px;
        line-height: 22px;
        height: 24px;
    }
    .mView1 .tit .ti {
        letter-spacing: -1px;
        margin-top: 13px;
    }
    .mView1 .util {
        font-size: 13px;
        padding: 10px 0;
    }
    .mView1 .util .col + .col {
        margin-left: 20px;
    }
    .mView1 .util .col:before {
        top: 3px;
        left: -12px;
        height: 12px;
    }
    .mView1 .util .col .ti {
        font-size: 13px;
        margin-right: 2px;
    }
    .mView1 .article {
        font-size: 14px;
        line-height: 170%;
        padding: 20px 0;
        min-height: 150px;
    }
    .mView1 .article .img {
        margin-top: 20px;
    }
    .mView1 .article .img img {
        width: 100%;
    }
    .mView1 .article .img img + img {
        margin: 10px 0 0;
    }
    .mView1 .article .mSwiper1 {
        margin-top: 0;
        margin-bottom: 0;
    }
    .mAttach2 {
        display: block;
        padding: 15px 0;
    }
    .mAttach2 .ti {
        font-size: 14px;
        margin: 0;
        width: auto;
    }
    .mAttach2 .tx {
        padding: 10px 0 0;
    }
    .mAttach2 ul {
        margin-left: 0;
    }
    .mAttach2 li {
        float: none;
        margin: 0 0 5px;
    }
    .mAttach2 li a {
        background-size: 15px auto;
        font-size: 13px;
        letter-spacing: 0;
        padding: 0 0 0 18px;
    }
    .iNew1:before {
        top: 2px;
    }
    .iLock1 span {
        background-size: 12px auto;
        background-position: 0 4px;
        padding-left: 17px;
    }
    .iRe1 {
        background: url(./../../images/koagi/ico_re1_m.png) 0 -3px no-repeat;
        background-size: 10px auto;
    }
    .iRe1:before {
        top: 1px;
        left: 15px;
        border-radius: 2px;
        font-size: 12px;
        width: 55px;
        line-height: 20px;
        height: 20px;
    }
    .iSt1,
    .iSt2,
    .iSt4 {
        font-size: 11px;
        padding: 0 4px;
        min-width: auto;
        line-height: 20px;
        height: 22px;
    }
    .iSt2 {
        padding: 0 8px;
    }
    .iSt4 {
        line-height: 18px;
        height: 18px;
    }
    .mAnswer1 ul {
        position: relative;
        padding: 15px 5px;
    }
    .mAnswer1 li:nth-child(even) {
        width: auto;
    }
    .mAnswer1 li {
        float: none;
        font-size: 12px;
        margin: 0 0 5px;
        width: auto;
    }
    .mAnswer1 li .t {
        margin: 0 10px 0 0;
        width: 100px;
    }
    .mAnswer1 li .t span {
        font-size: 12px;
        font-weight: 600;
        padding: 5px;
        width: 100px;
        line-height: 130%;
        height: auto;
    }
    .mAnswer1 li .c {
        -webkit-flex: 1;
        flex: 1;
        padding: 3px 0 0;
    }
    .mAnswer1 li .c .mBtn1 {
        vertical-align: middle;
        margin: -3px 0 0 5px;
    }
    .mPag {
        margin-top: 30px;
    }
    .mPag a,
    .mPag strong {
        font-size: 12px;
        margin: 0 -1px 0 -4px;
        min-width: 28px;
        line-height: 24px;
        height: 26px;
    }
    .mPag .first,
    .mPag .last,
    .mPag .prev,
    .mPag .next {
        background-size: auto 8px;
    }
    .mList1 {
        border-top-width: 1px;
    }
    .mList1 li {
        padding: 15px 0 10px;
    }
    .mList1 .img {
        display: block;
        width: 125px;
        min-width: 125px;
        height: 95px;
    }
    .mList1 .text {
        margin: -3px 0 0 10px;
        padding: 0;
    }
    .mList1 .text .iSt1 {
        margin-bottom: 10px;
    }
    .mList1 .text .tit {
        font-size: 14px;
    }
    .mList1 .text .txt {
        font-size: 13px;
        line-height: 150%;
        margin-top: 3px;
    }
    .mList1 .text .uti {
        position: static;
        display: block;
        font-size: 12px;
        margin-top: 10px;
    }
    .mList1 .text .uti > span {
        background-size: 12px auto;
        margin: 0 10px 5px 0;
        padding: 0 0 0 16px;
    }
    .mInfo1 .txt .fs15 {
        font-size: 13px;
        line-height: 140%;
        margin-top: 10px;
    }
    .mList2 .list {
        border-radius: 10px;
        padding: 10px 10px 15px 20px;
    }
    .mList2 .list li {
        float: none;
        margin: 0 0 3px;
        width: auto;
    }
    .mList2 .list li a {
        font-size: 13px;
        padding: 0 0 0 10px;
    }
    .mList2 .list li a .i {
        background-size: 10px auto;
        width: 10px;
        height: 10px;
    }
    .mList2.type2 li:before,
    .mList2 .list li a:before {
        top: 6px;
        width: 3px;
        height: 3px;
    }
    .mList2 + .mTitle1 {
        margin-top: 40px;
    }
    .mList2.type2 li {
        font-size: 13px;
        padding: 0 0 0 10px;
    }
    .mList2.type2 li:before {
        top: 8px;
    }
    .mList3 {
        padding: 20px 20px 25px;
    }
    .mList3 li + li {
        margin-top: 16px;
    }
    .mList3 li {
        font-size: 13px;
        letter-spacing: 0;
    }
    .mList3 li .ic {
        font-size: 12px;
        margin-right: 10px;
        width: 35px;
        line-height: 35px;;
        height: 35px;;
    }
    .mList4 + .mTitle1 {
        margin-top: 40px;
    }
    .mList4.flex,
    .mList4.flex ul {
        display: block;
    }
    .mList4 {
        padding: 17px 15px;
    }
    .mList4 ul + ul,
    .mList4 li + li {
        margin-top: 8px;
    }
    .mList4 li {
        font-size: 13px;
        padding-left: 10px;
    }
    .mList4 li:before {
        top: 7px;
        width: 3px;
        height: 3px;
    }
    .mList4 li .ti {
        display: inline-block;
        margin-right: 0;
        min-width: 50px;
    }
    .mBox1 + .mTitle1 {
        margin-top: 40px;
    }
    .mBox1 {
        border-width: 3px;
        font-size: 13px;
        line-height: 150%;
        padding: 20px 15px;
    }
    .mBox1 .tit {
        margin-bottom: 20px;
        padding: 0;
    }
    .mBox1 .tit2 {
        margin-bottom: 20px;
    }
    .mBox1 .tit2 span {
        padding: 7px 15px;
    }
    .mBox1 .dot {
        padding: 0 0 10px 14px;
    }
    .mBox1 .dot:before {
        top: 10px;
        left: 5px;
        width: 3px;
        height: 3px;
    }
    .mBox1 .lst {
        line-height: 170%;
        margin: 0 0 25px;
        padding: 0 0 0 10px;
    }
    .mBox1 .lst .gab {
        padding: 0 0 0 19px;
    }
    .mGallery1 {
        border-top-width: 1px;
        padding: 0 0 25px;
    }
    .mGallery1 ul {
        margin: 0 0 0 -15px;
    }
    .mGallery1 li {
        margin: 20px 0 0 15px;
        width: calc(50% - 15px);
    }
    .mGallery1 .img {
        border-radius: 10px;
        margin-bottom: 10px;
        height: auto;
    }
    .mGallery1 .img:before {
        border-radius: 10px;
    }
    .mGallery1 .img img {
        height: 38vw;
    }
    .mGallery1 .img.noimg img {
        width: 100px;
    }
    .mGallery1.type2 .tit,
    .mGallery1 .tit {
        font-size: 14px;
        margin: 8px 0 0;
    }
    .mGallery1 .txt {
        font-size: 13px;
        margin-top: 4px;
    }
    .mGallery1 .uti {
        font-size: 12px;
        margin: 5px 0 0;
    }
    .mGallery1 .uti > span {
        background-size: 12px auto;
        margin: 0 10px 5px 0;
        padding: 0 0 0 16px;
    }
    .mGallery1 .button {
        margin-top: 25px;
        padding: 0;
    }
    .mGallery1 .button .mBtn1 {
        font-size: 12px;
    }
    .mGallery1 .button .mBtn1 + .mBtn1 {
        margin-left: 5px;
    }
    .mGallery1.type2 ul {
        margin: -30px 0 0 -15px;
    }
    .mGallery1.type2 li {
        margin: 50px 0 0 15px;
        width: calc(50% - 15px);
    }
    .mGallery1.type2 .img {
        margin-bottom: 10px;
        height: auto;
    }
    .mGallery1.type2 .img img {
        height: 64vw;
    }
    .mGallery2 ul + .mTitle1 {
        margin-top: 50px;
    }
    .mGallery2 ul + ul {
        margin-top: 10px;
    }
    .mGallery2 ul {
        margin: -65px 0 0;
    }
    .mGallery2 li {
        float: none;
        margin: 30px 0 0;
        width: auto;
    }
    .mGallery2 .img {
        border-radius: 10px;
        margin: 0 0 10px;
        height: auto;
    }
    .mGallery2 .img img {
        width: 100%;
    }
    .mGallery2 .text .tit {
        font-size: 16px;
    }
    .mGallery2 .text .txt {
        font-size: 14px;
        letter-spacing: 0;
        margin-top: 4px;
    }
    .mRecent1 {
        margin-bottom: 40px;
    }
    .mRecent1 a {
        display: block;
    }
    .mRecent1 .img {
        display: block;
        width: auto;
        height: auto;
    }
    .mRecent1 .img img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
    .mRecent1 .txt {
        display: block;
        border: 1px solid #dfdfdf;
        border-top: 0;
        padding: 15px;
        height: auto;
    }
    .mRecent1 .txt .ti {
        font-size: 16px;
        line-height: 150%;
    }
    .mRecent1 .txt .tx {
        font-size: 13px;
        line-height: 150%;
        margin-top: 10px;
    }
    .mRecent1 .txt .dt {
        background-size: 12px auto;
        font-size: 12px;
        margin-top: 10px;
        padding: 0 0 0 16px;
    }
    .mTab1 + .mInfo1 {
        margin-top: 0;
    }
    .mInfo1 {
        margin: 0 0 30px;
        padding: 0 0 30px;
    }
    .mInfo1 .info {
        border-radius: 10px;
        font-size: 13px;
        line-height: 150%;
        padding: 23px 20px;
    }
    .mInfo1 .info:before {
        display: none;
    }
    .mInfo1 .line {
        letter-spacing: 0;
        padding-top: 15px;
    }
    .mInfo1 .line:before {
        width: 25px;
    }
    .mInfo1 .img + .txt {
        margin-top: 20px;
    }
    .mInfo1 .img img {
        width: 100%;
    }
    .mInfo1 .txt {
        font-size: 15px;
        letter-spacing: 0;
        line-height: 150%;
    }
    .mInfo1 .mBtn1 {
        margin-top: 20px;
    }
    .mInfo1 .mButton1.flex_m {
        display: -webkit-flex;
        display: flex;
        align-items: center;
    }
    .mInfo1 .mButton1.flex_m .mBtn1 + .mBtn1 {
        margin-left: 5px;
    }
    .mInfo1 .mButton1.flex_m .mBtn1 {
        -webkit-flex: 1;
        flex: 1;
        padding: 0 10px;
        min-width: auto;
    }
    .mInfo2 {
        font-size: 15px;
        margin-top: 35px;
    }
    .mInfo2 span {
        background-size: 22px auto;
        padding: 0 0 0 30px;
        text-align: left;
    }
    /* //content */
    /* button */
    .mButton1.posRt {
        float: none;
        margin-top: 30px;
    }
    .mBtn1 {
        font-size: 14px;
        padding: 0 10px;
        line-height: 43px;
        height: 45px;
    }
    .mButton1.posRt .mBtn1.m,
    .mBtn1.m {
        font-size: 13px;
        padding: 0 5px;
        line-height: 35px;
        height: 35px;
    }
    .mBtn1.ms {
        border-radius: 2px;
        font-size: 11px;
        padding: 0 5px;
        line-height: 23px;
        height: 25px;
    }
    .mBtn1.w265 {
        min-width: 130px;
    }
    .mBtn1.w84 {
        min-width: 50px;
    }
    .mBtn1.w130 {
        min-width: 90px;
    }
    .mBtn1.r {
        border-radius: 3px;
    }
    .mBtn1 .down {
        background-size: 10px auto;
        padding-left: 15px;
    }
    /* //button */
    /* form */
    .select {
        background-size: 7px auto;
        background-position: calc(100% - 10px) 50%;
        font-size: 12px;
        line-height: 36px;
        height: 36px;
        padding: 0 25px 0 10px;
    }
    .select option {
        font-size: 12px;
    }
    .it {
        font-size: 12px;
        line-height: 36px;
        height: 36px;
        padding: 0 0 0 10px;
    }
    /* //form */
    /* icon */
    .iAttach1 {
        background-size: 15px auto;
        width: 20px;
        height: 20px;
    }
    /* //icon */
    /* text */
    .mTitle1 {
        background-size: 19px auto;
        font-size: 16px;
        margin: 0 0 20px;
        padding: 0 0 0 25px;
    }
    .txtPrimary {
        color: #18be3c;
        font-weight: 700;
    }
    /* //text */
    .mEsg1 {
        border: 3px solid #e9e9e9;
        width: auto;
    }
    .mEsg1 .top,
    .mEsg1 .btm {
        position: relative;
        background: none;
        background-size: 100% auto;
        height: 60px;
    }
    .mEsg1 .top:before,
    .mEsg1 .top:after {
        content: "";
        position: absolute;
        top: -3px;
        left: -3px;
        background: url(./../../images/koagi/k_esg1_top.png) 0 0 no-repeat #fff;
        background-size: auto 100%;
        width: 61px;
        height: 100%;
    }
    .mEsg1 .top:after {
        left: auto;
        right: -3px;
        background-position: 100% 0;
    }
    .mEsg1 .btm:before,
    .mEsg1 .btm:after {
        content: "";
        position: absolute;
        bottom: -3px;
        left: -3px;
        background: url(./../../images/koagi/k_esg1_btm.png) 0 0 no-repeat #fff;
        background-size: auto 100%;
        width: 61px;
        height: 100%;
    }
    .mEsg1 .btm:after {
        left: auto;
        right: -3px;
        background-position: 100% 0;
    }
    .mEsg1 .con {
        border: 0;
        margin: -15px 0;
        padding: 0 20px;
    }
    .mEsg1 .tit {
        position: relative;
        margin: 0 0 20px;
        padding: 35px 0 0;
    }
    .mEsg1 .tit:before {
        content: "";
        position: absolute;
        top: 0;
        left: calc(50% - 33px);
        background: url(./../../images/koagi/k_esg1_top.png) -240px -45px no-repeat;
        background-size: auto 100%;
        width: 66px;
        height: 100%;
    }
    .mEsg1 .tit img {
        height: 25px;
    }
    .mEsg1 .txt {
        font-size: 13px;
        letter-spacing: 0;
        line-height: 150%;
    }
    .mEsg1 .mList3 {
        margin-top: 30px;
    }
    .mEsg1 .all {
        position: relative;
        font-size: 15px;
        letter-spacing: 0;
        margin-top: 30px;
        padding: 0 0 35px;
    }
    .mEsg1 .all:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: calc(50% - 33px);
        background: url(./../../images/koagi/k_esg1_btm.png) -240px 0 no-repeat;
        background-size: auto 61px;
        width: 66px;
        height: 19px;
    }
    .gCount1 {
        display: block;
        margin-bottom: 10px;
    }
    .gCount1 .mCount1 {
        margin-top: 0;
        padding-bottom: 0;
    }
    .gCount1 .rt {
        margin: 0 0 20px;
    }
    .mSearch1 {
        display: -webkit-flex;
        display: flex;
        align-items: center;
    }
    .mSearch1 .select {
        min-width: 70px;
    }
    .mSearch1 .select + .select,
    .mSearch1 .select + .it {
        margin-left: 2px;
    }
    .mSearch1 .it.w365 {
        min-width: auto;
        width: 100%;
    }
    .mSearch1 .it {
        -webkit-flex: 1;
        flex: 1;
        min-width: auto;
    }
    .mSearch1 .find {
        background-size: 15px auto;
        width: 36px;
        height: 36px;
    }
    .mSearch1 .mBtn1 {
        margin-left: 6px;
        min-width: 60px;
        line-height: 36px;
        height: 36px;
    }
    .mSearch1 .mBtn1 .find {
        background-size: 13px auto;
        font-size: 13px;
        padding-left: 20px;
    }
    .mSearch1.bgGray {
        margin-top: 20px;
        padding: 10px;
    }
    .mSearch1.bgGray + .mCount1 {
        margin-top: 20px;
    }
    .mSearch1.bgGray.type1_m {
        display: block;
    }
    .mSearch1.bgGray.type1_m .flex_m + .flex_m {
        margin-top: 5px;
    }
    .mSearch1.bgGray.type1_m .flex_m {
        display: -webkit-flex;
        display: flex;
        align-items: center;
    }
    .mSearch1.bgGray.type1_m .flex_m .select {
        -webkit-flex: 1;
        flex: 1;
        margin: 0;
    }
    .mSearch1.bgGray.type1_m .flex_m .select + .select {
        margin-left: 5px;
    }
    .mCount1 {
        font-size: 12px;
    }
    .select {
        background-size: 7px auto;
        background-position: calc(100% - 10px) 50%;
        font-size: 12px;
        line-height: 36px;
        height: 36px;
        padding: 0 25px 0 10px;
    }
    .select option {
        font-size: 12px;
    }
    .it {
        font-size: 12px;
        line-height: 36px;
        height: 36px;
        padding: 0 0 0 10px;
    }
    .mPag {
        margin-top: 30px;
    }
    .mPag a,
    .mPag strong {
        font-size: 12px;
        margin: 0 -1px 0 -4px;
        min-width: 28px;
        line-height: 24px;
        height: 26px;
    }
    .mPag .first,
    .mPag .last,
    .mPag .prev,
    .mPag .next {
        background-size: auto 8px;
    }
}
