/* SCoreDream */
@font-face {
    font-family: "SCoreDream";
    font-weight: 100;
    font-style: normal;
    src: url("./../fonts/SCoreDream1.woff2") format("woff2"),
    url("./../fonts/SCoreDream1.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "SCoreDream";
    font-weight: 200;
    font-style: normal;
    src: url("./../fonts/SCoreDream2.woff2") format("woff2"),
    url("./../fonts/SCoreDream2.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "SCoreDream";
    font-weight: 300;
    font-style: normal;
    src: url("./../fonts/SCoreDream3.woff2") format("woff2"),
    url("./../fonts/SCoreDream3.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "SCoreDream";
    font-weight: 400;
    font-style: normal;
    src: url("./../fonts/SCoreDream4.woff2") format("woff2"),
    url("./../fonts/SCoreDream4.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "SCoreDream";
    font-weight: 500;
    font-style: normal;
    src: url("./../fonts/SCoreDream5.woff2") format("woff2"),
    url("./../fonts/SCoreDream5.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "SCoreDream";
    font-weight: 600;
    font-style: normal;
    src: url("./../fonts/SCoreDream6.woff2") format("woff2"),
    url("./../fonts/SCoreDream6.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "SCoreDream";
    font-weight: 700;
    font-style: normal;
    src: url("./../fonts/SCoreDream7.woff2") format("woff2"),
    url("./../fonts/SCoreDream7.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "SCoreDream";
    font-weight: 800;
    font-style: normal;
    src: url("./../fonts/SCoreDream8.woff2") format("woff2"),
    url("./../fonts/SCoreDream8.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "SCoreDream";
    font-weight: 900;
    font-style: normal;
    src: url("./../fonts/SCoreDream9.woff2") format("woff2"),
    url("./../fonts/SCoreDream9.woff") format("woff");
    font-display: swap;
}

/* EliceDigitalBaeum */
@font-face {
    font-family: "EliceDigitalBaeum";
    font-weight: 400;
    font-style: normal;
    src: url("./../fonts/EliceDigitalBaeumRegular.woff2") format("woff2"),
    url("./../fonts/EliceDigitalBaeumRegular.woff") format("woff"),
    url("./../fonts/EliceDigitalBaeumRegular.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "EliceDigitalBaeum";
    font-weight: 700;
    font-style: normal;
    src: url("./../fonts/EliceDigitalBaeumBold.woff2") format("woff2"),
    url("./../fonts/EliceDigitalBaeumBold.woff") format("woff"),
    url("./../fonts/EliceDigitalBaeumBold.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "SBAggro";
    font-weight: 400;
    font-style: normal;
    src: url("./../fonts/SBAggroL.woff") format("woff"),
    url("./../fonts/SBAggroL.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "SBAggro";
    font-weight: 500;
    font-style: normal;
    src: url("./../fonts/SBAggroM.woff") format("woff"),
    url("./../fonts/SBAggroM.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "SBAggro";
    font-weight: 700;
    font-style: normal;
    src: url("./../fonts/SBAggroB.woff") format("woff"),
    url("./../fonts/SBAggroB.otf") format("opentype");
    font-display: swap;
}
