@use "sass:map";
@use "sass:math";
@use "./../../components/mixin" as m;

@use "./../partials/badge" as badge;
@use "./../partials/gallery" as gallery;
@use "detailView" as detailView;
@use "./../partials/tabs" as tabs;
@use "./../partials/detailSection" as detailSection;
@use "./../partials/calendar" as calendar;
@use "./../partials/table" as table;
@use "./../partials/tags" as tags;
@use "./../partials/step" as step;
@use "./../partials/buttons" as buttons;
@use "./../partials/board" as board;
@use "./../partials/cardItems" as cardItems;
@use "./../partials/boardItems" as boardItems;
@use "./../partials/benefit" as benefit;
@use "./../partials/ticketInfo" as ticketInfo;

$imgPath: "./../../images/koagi";
#body {
    @include badge.badge;
}

@include gallery.gallery;
.dot-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 26px;
    @include m.respond-to(map.get(m.$max, 1199)) {
        grid-template-columns: 1fr;
        margin-top: 4px;
        width: calc(100% + 160px);
        margin-left: -155px;
        padding-left: 10px;
        font-weight: 700;
        box-sizing: border-box;
    }

    li {
        display: flex;
        align-items: flex-start;
        margin-top: 12px;
        font-size: 15px;
        line-height: 25px;
        color: #333;
        @include m.respond-to(map.get(m.$max, 1199)) {
            font-size: 15px;
        }

        > strong {
            flex: 0 0 auto;
            position: relative;
            width: 86px;
            padding-left: 10px;
            font-weight: 700;

            &:before {
                content: "";
                position: absolute;
                top: 10px;
                left: 0;
                width: 5px;
                height: 5px;
                border-radius: 100%;
                background-color: #333;
                transform: translateY(-50%);
            }
        }

        p {
            flex: 1;
            font-weight: 500;

            > strong {
                color: #db0e0e;
                font-weight: 700;
            }
        }
    }
}

.swiper-wrap {
    ul {
        display: flex;
    }

    li {
        flex-shrink: 0;
    }
}

@include detailView.detailView;
.link-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 64px;
    margin: 74px auto 0;
    border-radius: 10px;
    background-color: #013569;
    color: #fff;
    font-weight: 700;
    @include m.respond-to(map.get(m.$max, 1199)) {
        width: 120px;
        height: 50px;
        margin: 35px auto 0;
        border-radius: 7px;
        font-size: 15px;
    }
}

@include tabs.tabs;
.search-period {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #50a6a9;
    border-radius: 20px;
    padding: 30px 124px;
    @include m.respond-to(map.get(m.$max, 1199)) {
        flex-direction: column;
        gap: 30px;
        padding: 20px;
    }

    > div {
        display: flex;
        align-items: center;
        @include m.respond-to(map.get(m.$max, 1199)) {
            flex-wrap: wrap;
            width: 100%;
            max-width: 400px;
        }
    }

    strong {
        display: inline-flex;
        flex: 0 0 auto;
        width: 100px;
        font-size: 17px;
        color: #000;
        @include m.respond-to(map.get(m.$max, 1199)) {
            width: 100%;
        }
    }

    .left {
        @include m.respond-to(map.get(m.$max, 1199)) {
            gap: 10px;
        }

        .it {
            width: 174px;
            padding-right: 42px;
            background: url("#{$imgPath}/icon-calendar-black.png") no-repeat 130px 50%;
            @include m.respond-to(map.get(m.$max, 1199)) {
                background-position: right 10px top 50%;
                background-size: 20px auto;
            }
        }

        label {
            @include m.respond-to(map.get(m.$max, 1199)) {
                flex: 1;
                .it {
                    width: 100%;
                }
            }
        }

        span {
            flex: 0 0 auto;
            display: inline-flex;
            width: 20px;
            justify-content: center;
            font-weight: bold;
        }
    }

    .right {
        .it {
            width: 365px;
            @include m.respond-to(map.get(m.$max, 1199)) {
                width: 100%;
            }
        }

        label[for="searchInput"] {
            flex: 1;
        }

        strong {
            @include m.respond-to(map.get(m.$max, 1199)) {
                margin-bottom: 10px;
            }
        }
    }

    label {
        flex: 0 0 auto;
        margin: 0;

        .select {
            margin-right: 10px;
        }

        .it {
            margin: 0;
        }
    }
}

.search-edu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid #279c2f;
    border-radius: 20px;
    padding: 60px 124px;
    @include m.respond-to(map.get(m.$max, 1199)) {
        flex-direction: column;
        gap: 10px;
        padding: 20px;
    }

    + .gCount1 {
        margin-top: 98px;
        @include m.respond-to(map.get(m.$max, 1199)) {
            margin-top: 40px;
        }
    }

    ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        @include m.respond-to(map.get(m.$max, 1199)) {
            grid-template-columns: 1fr;
        }

        li {
            display: flex;
            width: 100%;
            gap: 15px;
            @include m.respond-to(map.get(m.$max, 1199)) {
                flex-wrap: wrap;
                gap: 5px;
            }

            + li {
                @include m.respond-to(map.get(m.$max, 1199)) {
                    margin-top: 10px;
                }
            }

            > strong {
                flex: 0 0 auto;
                display: inline-flex;
                align-items: center;
                min-width: 82px;
                font-size: 17px;
                line-height: 27px;
                color: #333;
                font-weight: 500;
                white-space: nowrap;
                @include m.respond-to(map.get(m.$max, 1199)) {
                    width: 100%;
                    font-size: 14px;
                    line-height: 24px;
                    font-weight: 600;
                }
            }

            > label {
                display: flex;
                align-items: center;
                flex: 1;
                cursor: pointer
            }
        }

        .select {
            width: 100%;
            max-width: 227px;
            @include m.respond-to(map.get(m.$max, 1199)) {
                max-width: 100%;
            }
        }

        .it {
            width: 100%;
        }

        span {
            flex: 0 0 auto;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 5px;
        }

        input[type="checkbox"] {
            + label {
                display: inline-flex;
                flex: 0 0 auto;
                width: auto;
                padding: 0 5px 0 36px;
                margin: 0;
            }
        }
    }
}

input[type="checkbox"] {
    display: none;

    &:checked {
        + label {
            &:before {
                background: #4a506b url("#{$imgPath}/icon-checked.png") no-repeat 50% 50%;
                border-color: #4a506b;
            }
        }
    }

    + label {
        display: flex;
        margin: 0 auto;
        height: 25px;
        position: relative;
        cursor: pointer;

        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            width: 23px;
            height: 23px;
            background-color: #fff;
            border: 1px solid #666;
            transform: translateY(-50%);
        }
    }
}

input[type="radio"] {
    display: none;

    &:checked {
        + label {
            &:before {
                background-color: #fff;
                border-color: #4a506b;
            }

            &:after {
                display: block;
            }
        }
    }

    + label {
        display: flex;
        margin: 0 auto;
        height: 25px;
        position: relative;
        cursor: pointer;

        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            width: 23px;
            height: 23px;
            border-radius: 100%;
            background-color: #fff;
            border: 1px solid #666;
            transform: translateY(-50%);
        }

        &:after {
            display: none;
            content: "";
            position: absolute;
            left: 5px;
            top: 50%;
            width: 15px;
            height: 15px;
            background-color: #4a506b;
            border-radius: 100%;
            transform: translateY(-50%);
        }
    }
}

.swiper-tabs {
    .swiper {
        overflow: hidden;
    }

    ~ .panel {
        .detail-view {
            margin-top: 112px;
            border-top: none;
            padding-top: 0;
        }
    }

    .swiper-slide {
        flex: 0 0 auto;
        position: relative;
        width: 270px;

        img,
        .img-wrap,
        strong {
            pointer-events: none;
        }

        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }

    [role="tab"] {
        position: relative;
        cursor: pointer;

        strong {
            position: absolute;
            left: 50%;
            bottom: 30px;
            transform: translateX(-50%);
            color: #fff;
            font-size: 20px;
            line-height: 30px;
            font-weight: 700;
            z-index: 1;
        }

        &[aria-selected="true"] {
            strong {
                bottom: 60px;
                padding-top: 70px;

                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 50%;
                    width: 48px;
                    height: 48px;
                    background: url("#{$imgPath}/icon-plus.png") no-repeat 50% 50%;
                    transform: translateX(-50%);
                }
            }

            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgb(0 0 0 / .3);
            }
        }
    }

    .scrollbar {
        position: relative;
        margin-top: 55px;
        cursor: pointer;

        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: #696969;
            transform: translateY(-50%);
        }

        .swiper-scrollbar-drag {
            &:before {
            }

            height: 31px;
            background: url("#{$imgPath}/icon-scroll.png") no-repeat 50% 50%;
            cursor: pointer;
        }
    }
}

.detail-info {
    border-top: 2px solid #444;
    padding-top: 67px;
    @include m.respond-to(map.get(m.$max, 1199)) {
        padding-top: 37px;
    }
}

@include detailSection.detailSection;
.box {
    border: 2px solid;
    border-radius: 20px;
    padding: 68px;
    @include m.respond-to(map.get(m.$max, 1199)) {
        padding: 25px 15px;
    }

    &.division {
        display: flex;
        gap: 80px;
        @include m.respond-to(map.get(m.$max, 1199)) {
            flex-wrap: wrap;
            gap: 40px;
        }
    }

    &.green {
        border-color: #279c2f;
    }

    &.outline {
        padding: 38px 30px;
        border: 1px solid #e5e5e5;
        border-radius: 0;
    }

    &.medium {
        max-width: 718px;
        margin: 0 auto;
        padding: 71px 20px 85px;
    }

    &.outline-round {
        padding: 39px 45px;
        border-radius: 20px;
        border: 1px solid #e8e8e8;
        @include m.respond-to(map.get(m.$max, 1199)) {
            padding: 15px;
        }

        + .box {
            margin-top: 36px;
        }
    }
}

.box-desc {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    border-radius: 10px;
    padding: 27px;
    font-size: 16px;
    line-height: 26px;
    color: #000;
    box-sizing: border-box;

    &.cyan {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 28px;
        width: 100%;
        background-color: #58b2a8;
        color: #fff;
        @include m.respond-to(map.get(m.$max, 1199)) {
            flex-direction: column;
        }

        strong {
            border-radius: 50px;
            padding: 10px 20px;
            color: #000;
            background-color: #fff;
            font-weight: 700;
        }

        span {
            margin-left: 20px;
            font-weight: 600;
        }
    }

    ~ .table-gray {
        margin-top: 54px;

        th,
        td {
            border-left: none;
            border-right: none;
        }
    }

    ~ .total {
        margin-top: 27px;
    }

    ~ .buttons {
        display: flex;
        justify-content: center;
        gap: 18px;
        margin-top: 94px;
    }
}

.box-info {
    text-align: center;

    > strong {
        display: inline-block;
        padding-top: 89px + 43px;
        background: url("#{$imgPath}/icon-finish.png") no-repeat 50% 0;
        background-size: 89px auto;
        font-size: 22px;
    }

    p {
        margin-top: 23px;
        font-size: 15px;
        line-height: 25px;
        color: #6d6d6d;

        > strong {
            color: #242424;
        }
    }

    + .buttons {
        display: flex;
        gap: 18px;
        justify-content: center;
        margin-top: 82px;
    }
}

.box-title-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    @include m.respond-to(map.get(m.$max, 1199)) {
        grid-template-columns: 1fr;
    }

    li {
        display: grid;
        grid-template-columns: 120px 1fr;
        align-items: center;
        gap: 16px;

        strong {
            display: inline-flex;
            justify-content: center;
            min-width: 120px;
            padding: 11px 30px 12px;
            background-color: #524e4d;
            box-sizing: border-box;
            border-radius: 10px;
            font-size: 15px;
            color: #fff;
            font-weight: 600;
        }

        span {
            font-size: 16px;
            color: #000;
            font-weight: 700;
        }
    }
}

@include calendar.calendar;
.detail-explanation {
    .img-wrap {
        display: block;
        margin-top: 90px;
        text-align: center;
        @include m.respond-to(map.get(m.$max, 1199)) {
            margin-top: 35px;
        }

        img {
            display: inline-block;
            max-width: 100%;
            height: auto;
        }

        + .desc {
            margin-top: 86px;
        }
    }

    .desc {
        padding: 0 25px;
        font-size: 16px;
        line-height: 26px;
        color: #000;
        @include m.respond-to(map.get(m.$max, 1199)) {
            padding: 0;
            font-size: 14px;
            line-height: 24px;
        }
    }
}

.detail-sub {
    display: flex;
    gap: 55px;
    margin-top: 70px;
    @include m.respond-to(map.get(m.$max, 1199)) {
        flex-wrap: wrap;
        gap: 30px;
    }

    .left,
    .right {
        display: flex;
        flex-direction: column;
        flex: 1;
        align-self: stretch;
        @include m.respond-to(map.get(m.$max, 1199)) {
            flex: 0 0 auto;
            width: 100%;
        }
    }

    .right {
        dfn {
            @include m.respond-to(map.get(m.$max, 1199)) {
                font-size: 22px;
                line-height: 32px;
            }
        }

        ul {
            @include m.respond-to(map.get(m.$max, 1199)) {
                margin-top: 20px;
            }
        }

        li {
            @include m.respond-to(map.get(m.$max, 1199)) {
                margin-bottom: 7px;
                font-size: 14px;
                line-height: 24px;
            }
        }
    }

    strong {
        color: #000;
        font-size: 20px;
        font-weight: 700;
        @include m.respond-to(map.get(m.$max, 1199)) {
            font-size: 17px;
        }
    }

    .box.outline {
        flex: 1;
        margin-top: 30px;
        padding: 38px 30px;
        border: 1px solid #e5e5e5;
        border-radius: 0;
        @include m.respond-to(map.get(m.$max, 1199)) {
            margin-top: 20px;
            padding: 20px 15px;
        }

        li {
            position: relative;
            font-size: 15px;
            line-height: 25px;
            color: #000;
            padding-left: 10px;
            @include m.respond-to(map.get(m.$max, 1199)) {
                font-size: 14px;
                line-height: 24px;
            }

            &:before {
                content: "\00B7";
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    }
}

@include table.table;
@include buttons.buttons;
.schedule {
    flex: 0 0 auto;
    width: 794px;
    @include m.respond-to(map.get(m.$max, 1199)) {
        width: 100%;
        overflow-x: auto;
    }

    &-wrap {
        width: 100%;
    }

    input[type="checkbox"] {
        + label {
            width: 25px;
        }
    }
}

.detail-theme {
    margin-top: 128px;

    .top {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .buttons {
        flex: 0 0 auto;
        position: relative;
        width: 350px;
        height: 550px;
        padding-left: 20px;
        margin-left: -20px;
        overflow-y: auto;
        overflow-x: hidden;
        scroll-snap-type: y mandatory;
        @include m.respond-to(map.get(m.$max, 1199)) {
            width: 100%;
            height: auto;
        }

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 20px;
            width: 350px;
            height: 100%;
            background-color: #223927;
        }

        button {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            width: 100%;
            height: 100px;
            text-align: left;
            padding: 0 40px;
            box-sizing: border-box;
            scroll-snap-align: center;
            background-color: #223927;

            &:before {
                content: "";
                position: absolute;
                top: 50%;
                left: -20px;
                width: 310px;
                height: 65px;
                background-color: #3eaa36;
                transform: translateY(-50%);
                border-radius: 0 50px 50px 50px;
                opacity: 0;
            }

            span {
                position: relative;
                font-size: 18px;
                color: #fff;
                font-weight: 700;
            }

            &[aria-selected="true"] {
                &:before {
                    opacity: 1;
                }
            }

            &[aria-selected="false"] {
            }
        }
    }

    .visual {
        flex: 1;
        @include m.respond-to(map.get(m.$max, 1199)) {
            flex: 0 0 auto;
        }

        img {
            @include m.respond-to(map.get(m.$max, 1199)) {
                width: 100%;
                height: auto;
            }
        }
    }

    .panel {
        margin-top: 114px;
        text-align: center;

        > strong {
            display: block;
            position: relative;
            padding-top: 35px;
            font-weight: 500;
            font-size: 50px;
            line-height: 60px;
            color: #333;

            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 50%;
                width: 53px;
                height: 1px;
                background-color: #000;
                transform: translateX(-50%);
            }
        }

        > p {
            margin-top: 42px;
            font-size: 16px;
            line-height: 26px;
            color: #000;
        }

        .tags {
            margin-top: 77px;
        }

        .gallery-items {
            margin-top: 60px;
            padding-top: 0;
            border-top: none;
        }
    }

    .map {
        margin-top: 108px;

        img {
            @include m.respond-to(map.get(m.$max, 1199)) {
                width: 100%;
                height: auto;
            }
        }
    }

    .visuals {
        flex: 1;
        overflow: hidden;
        position: relative;
        @include m.respond-to(map.get(m.$max, 1199)) {
            flex: 0 0 100%;
        }

        .visual {
            width: 100%;
        }

        .button-next,
        .button-prev {
            position: absolute;
            top: 50%;
            width: 72px;
            height: 72px;
            background: url("#{$imgPath}/icon-circle-right.png") no-repeat 50% 50%;
            box-shadow: 0 0 10px rgba(148 148 148 / .19);
            border-radius: 100%;
            @include m.respond-to(map.get(m.$max, 1199)) {
                width: 40px;
                height: 40px;
                background-size: 100% auto;
            }
        }

        .button-next {
            right: 60px;
            transform: translateY(-50%);
            @include m.respond-to(map.get(m.$max, 1199)) {
                right: 0;
            }
        }

        .button-prev {
            left: 60px;
            transform: translateY(-50%) rotate(180deg);
            @include m.respond-to(map.get(m.$max, 1199)) {
                left: 0;
            }
        }
    }
}

@include tags.tags;
@include step.step;
@include board.board;
@include cardItems.cardItems;
@include boardItems.boardItems;

.custom-visual {
    display: flex;
    width: 100%;
    margin-bottom: 53px;
    @include m.respond-to(map.get(m.$max, 1199)) {
        flex-direction: column;
    }

    + .ticket-info {
        margin-top: 127px;
    }

    .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 0 0 auto;
        width: 800px;
        max-width: 100vw;
        background: url("#{$imgPath}/background-banner.png") no-repeat 50% 50%;
        background-size: cover;
        @include m.respond-to(map.get(m.$max, 1199)) {
            width: 100vw;
            min-height: 480px;
            margin-left: -15px;
            padding: 30px;
            box-sizing: border-box;
        }
    }

    .title {
        font-family: "SBAggro", serif;
        text-align: center;
        color: #272727;

        > span,
        > strong {
            position: relative;

            &:first-child {
                &:before {
                    content: "\201C";
                    position: absolute;
                    left: -33px;
                    top: -6px;
                    font-size: 65px;
                    font-weight: 500;
                    font-family: "SBAggro", serif;
                    @include m.respond-to(map.get(m.$max, 1199)) {
                        font-size: 20px;
                        left: -20px;
                    }
                }
            }

            &:last-child {
                &:after {
                    content: "\201D";
                    position: absolute;
                    right: -43px;
                    top: -1px;
                    font-size: 65px;
                    font-weight: 500;
                    font-family: "SBAggro", serif;
                    @include m.respond-to(map.get(m.$max, 1199)) {
                        font-size: 20px;
                        right: -20px;
                    }
                }
            }
        }

        span {
            font-size: 40px;
            line-height: 60px;
            font-weight: 500;
            @include m.respond-to(map.get(m.$max, 1199)) {
                font-size: 20px;
                line-height: 30px;
            }
        }

        strong {
            font-size: 58px;
            line-height: 68px;
            font-weight: 500;
            @include m.respond-to(map.get(m.$max, 1199)) {
                font-size: 30px;
                line-height: 40px;
            }
        }
    }

    .desc {
        margin-top: 34px;
        font-size: 17px;
        line-height: 30px;
        color: #272727;
        text-align: center;
    }

    .buttons {
        display: flex;
        gap: 20px;
    }

    [class*="button-"] {
        display: inline-flex;
        margin-top: 43px;
    }

    .right {
        flex: 1;

        img {
            width: 100%;
            height: auto;
        }

        @include m.respond-to(map.get(m.$max, 1199)) {
            flex: 0 0 auto;
            width: 100vw;
            margin-left: -15px;
        }
    }
}

.check-items {
    display: flex;
    flex-direction: column;
    gap: 22px;

    input[type="checkbox"] {
        &:checked {
            + label {
                &:before {
                    background: url("#{$imgPath}/icon-check-red-on.png") no-repeat 50% 50%;
                }

                strong,
                span {
                    color: #c91445;
                }
            }
        }

        &:disabled {
            + label {
                cursor: default;

                &:before {
                    display: none;
                }
            }
        }

        + label {
            display: flex;
            width: 100%;
            height: auto;
            padding: 27px 38px;
            border: 1px solid #d2d2d2;
            border-radius: 20px;
            box-sizing: border-box;
            @include m.respond-to(map.get(m.$max, 1199)) {
                flex-wrap: wrap;
            }

            &:before {
                left: initial;
                right: 38px;
                width: 28px;
                height: 28px;
                background: url("#{$imgPath}/icon-check-red-off.png") no-repeat 50% 50%;
                border: none;
            }
        }
    }

    strong {
        flex: 0 0 160px;
        font-size: 18px;
        font-weight: 600;
    }

    span {
        flex: 1;
        font-size: 17px;
        padding-right: 80px;
        box-sizing: border-box;
        @include m.respond-to(map.get(m.$max, 1199)) {
            flex: 0 0 100%;
            margin-top: 20px;
        }
    }
}

.document-state {
    display: flex;
    min-height: 70px;
    margin-bottom: 74px;
    @include m.respond-to(map.get(m.$max, 1199)) {
        flex-direction: column;
    }

    &.reject {
        strong {
            background-color: #c91445;
        }

        p {
            border: 1px solid #c91445;
            color: #c91445;
            background-color: #fff7f9;
        }
    }

    &.approval {
        strong {
            background-color: #0b59c3;
        }

        p {
            border: 1px solid #0b59c3;
            color: #0b59c3;
            background-color: #ebf3fe;
        }
    }

    strong {
        flex: 0 0 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px 0 0 50px;
        color: #fff;
        font-size: 19px;
        font-weight: 700;
        @include m.respond-to(map.get(m.$max, 1199)) {
            flex: 0 0 auto;
            box-sizing: border-box;
            padding: 10px;
            border-radius: 10px 10px 0 0;
        }
    }

    p {
        flex: 1;
        display: flex;
        align-items: center;
        border-radius: 0 50px 50px 0;
        padding: 10px 27px;
        font-size: 19px;
        line-height: 29px;
        font-weight: 700;
        @include m.respond-to(map.get(m.$max, 1199)) {
            justify-content: center;
            box-sizing: border-box;
            padding: 10px;
            border-radius: 0 0 10px 10px;
            text-align: center;
        }
    }
}

@include benefit.benefit;
.step-items {
    display: flex;
    justify-content: space-between;
    gap: 54px;
    margin-top: 84px;
    counter-reset: section;
    @include m.respond-to(map.get(m.$max, 1199)) {
        flex-direction: column;
    }

    li {
        flex: 1;
        position: relative;

        &:not(:first-of-type) {
            &:after {
                content: "";
                position: absolute;
                top: 60px;
                left: -60px;
                width: 18px;
                height: 32px;
                background: url("#{$imgPath}/icon-triangle-right.png") no-repeat 0 0;
            }
        }
    }

    .icon-wrap {
        display: flex;
        justify-content: center;
        overflow: hidden;
        position: relative;
        width: 180px;
        height: 180px;
        border-radius: 100%;
        margin: 0 auto;
        padding-top: 90px;
        box-sizing: border-box;

        &:before {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            left: 50%;
            counter-increment: section;
            content: "STEP 0" counter(section);
            background-color: #299b8c;
            height: 62px;
            width: 180px;
            color: #fff;
            font-weight: 800;
            transform: translateX(-50%);
            z-index: 1;
        }

        &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border-radius: 100%;
            border: 1px solid #dcdcdc;
            box-sizing: border-box;
        }
    }

    .title {
        display: block;
        text-align: center;
        margin-top: 35px;
        font-size: 18px;
        color: #333;
        line-height: 30px;
        font-weight: 600;
    }

    p {
        font-size: 15px;
        line-height: 25px;
        color: #333;
        font-weight: 500;
        text-align: center;

        strong {
            color: #ec0303;
            font-weight: 500;
        }
    }
}
.dot-caution {
    li {
        position: relative;
        padding-left: 16px;
        font-size: 16px;
        color: #595959;
        line-height: 34px;
        font-weight: 500;

        &:before {
            content: "";
            position: absolute;
            top: 12px;
            left: 0;
            width: 6px;
            height: 6px;
            background-color: #69a94e;
        }
    }
}
.icon-info {
    li {
        display: flex;
        width: 100%;

        &:not(:first-of-type) {
            margin-top: -20px;
        }

        &:last-of-type {
            @include m.respond-to(map.get(m.$max, 1199)) {
                margin-bottom: -30px;
            }
        }
    }

    strong {
        flex: 0 0 56px;
        padding: 0 20px 0 21px;
        background-repeat: no-repeat;
        background-position: 0 4px;
        text-align: justify;
        font-size: 15px;
        line-height: 25px;
        color: #000;
        font-weight: 500;

        &:after {
            content: "";
            display: inline-block;
            width: 100%;
        }
    }

    span {
        flex: 1;
        font-size: 15px;
        line-height: 25px;
        font-weight: 600;
    }

    .location {
        strong {
            background-image: url("#{$imgPath}/icon-mark.png");
            background-size: 14px auto;
        }
    }

    .clock {
        strong {
            background-image: url("#{$imgPath}/icon-clock.png");
            background-size: 15px auto;
        }
    }
}

@include ticketInfo.ticketInfo;