@use "sass:map";
@use "sass:math";
@use "./../../components/mixin" as m;

@use "./../partials/badge" as badge;
@use "./../partials/gallery" as gallery;
@use "detailView" as detailView;
@use "./../partials/tabs" as tabs;
@use "./../partials/detailSection" as detailSection;
@use "./../partials/calendar" as calendar;
@use "./../partials/table" as table;
@use "./../partials/tags" as tags;
@use "./../partials/step" as step;
@use "./../partials/buttons" as buttons;
@use "./../partials/board" as board;
@use "./../partials/cardItems" as cardItems;
@use "./../partials/boardItems" as boardItems;

$imgPath: "./../../images/koagi";
#body {
    @include badge.badge;
}

@include gallery.gallery;
.dot-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 26px;
    @include m.respond-to(map.get(m.$max, 1199)) {
        grid-template-columns: 1fr;
        margin-top: 4px;
        width: calc(100% + 160px);
        margin-left: -155px;
        padding-left: 10px;
        font-weight: 700;
        box-sizing: border-box;
    }

    li {
        display: flex;
        align-items: flex-start;
        margin-top: 12px;
        font-size: 15px;
        line-height: 25px;
        color: #333;
        font-family: "SCoreDream", serif;
        @include m.respond-to(map.get(m.$max, 1199)) {
            font-size: 15px;
        }

        > strong {
            flex: 0 0 auto;
            position: relative;
            width: 86px;
            padding-left: 10px;
            font-weight: 700;

            &:before {
                content: "";
                position: absolute;
                top: 10px;
                left: 0;
                width: 5px;
                height: 5px;
                border-radius: 100%;
                background-color: #333;
                transform: translateY(-50%);
            }
        }

        p {
            flex: 1;
            font-family: "SCoreDream", serif;
            font-weight: 500;

            > strong {
                color: #db0e0e;
                font-weight: 700;
            }
        }
    }
}

.swiper-wrap {
    ul {
        display: flex;
    }

    li {
        flex-shrink: 0;
    }
}

@include detailView.detailView;
.link-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 64px;
    margin: 74px auto 0;
    border-radius: 10px;
    background-color: #013569;
    font-family: "SCoreDream", serif;
    color: #fff;
    font-weight: 700;
    @include m.respond-to(map.get(m.$max, 1199)) {
        width: 120px;
        height: 50px;
        margin: 35px auto 0;
        border-radius: 7px;
        font-size: 15px;
    }
}

@include tabs.tabs;
.search-period {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #50a6a9;
    border-radius: 20px;
    padding: 30px 124px;
    @include m.respond-to(map.get(m.$max, 1199)) {
        flex-direction: column;
        gap: 10px;
        padding: 20px;
    }

    > div {
        @include m.respond-to(map.get(m.$max, 1199)) {
            flex-wrap: wrap;
            gap: 10px;
        }
    }

    strong {
        display: inline-flex;
        flex: 0 0 auto;
        width: 100px;
        font-size: 17px;
        font-family: "SCoreDream", serif;
        color: #000;
        @include m.respond-to(map.get(m.$max, 1199)) {
            width: 100%;
        }
    }

    .left {
        display: flex;
        align-items: center;

        .it {
            background: url("#{$imgPath}/icon-calendar-black.png") no-repeat 130px 50%;
            @include m.respond-to(map.get(m.$max, 1199)) {
                background-position: right 10px top 50%;
                background-size: 20px auto;
            }
        }

        label {
            @include m.respond-to(map.get(m.$max, 1199)) {
                flex: 1;
                .it {
                    width: 100%;
                }
            }
        }

        span {
            flex: 0 0 auto;
            display: inline-flex;
            width: 20px;
            justify-content: center;
            font-weight: bold;
            font-family: "SCoreDream", serif;
        }
    }

    .it {
        width: 174px;
        padding-right: 42px;
        box-sizing: border-box;
    }

    label {
        flex: 0 0 auto;
    }
}

.search-edu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid #279c2f;
    border-radius: 20px;
    padding: 60px 124px;
    @include m.respond-to(map.get(m.$max, 1199)) {
        flex-direction: column;
        gap: 10px;
        padding: 20px;
    }

    + .gCount1 {
        margin-top: 98px;
        @include m.respond-to(map.get(m.$max, 1199)) {
            margin-top: 40px;
        }
    }

    ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        @include m.respond-to(map.get(m.$max, 1199)) {
            grid-template-columns: 1fr;
        }

        li {
            display: flex;
            width: 100%;
            gap: 15px;
            @include m.respond-to(map.get(m.$max, 1199)) {
                flex-wrap: wrap;
                gap: 5px;
            }

            + li {
                @include m.respond-to(map.get(m.$max, 1199)) {
                    margin-top: 10px;
                }
            }

            > strong {
                flex: 0 0 auto;
                display: inline-flex;
                align-items: center;
                min-width: 82px;
                font-size: 17px;
                line-height: 27px;
                color: #333;
                font-weight: 500;
                white-space: nowrap;
                @include m.respond-to(map.get(m.$max, 1199)) {
                    width: 100%;
                    font-size: 14px;
                    line-height: 24px;
                    font-weight: 600;
                }
            }

            > label {
                display: flex;
                align-items: center;
                flex: 1;
                cursor: pointer
            }
        }

        .select {
            width: 100%;
            max-width: 227px;
            @include m.respond-to(map.get(m.$max, 1199)) {
                max-width: 100%;
            }
        }

        .it {
            width: 100%;
        }

        span {
            flex: 0 0 auto;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 5px;
        }

        input[type="checkbox"] {
            + label {
                display: inline-flex;
                flex: 0 0 auto;
                width: auto;
                padding: 0 5px 0 36px;
                margin: 0;
            }
        }
    }
}

input[type="checkbox"] {
    display: none;

    &:checked {
        + label {
            &:before {
                background: #4a506b url("#{$imgPath}/icon-checked.png") no-repeat 50% 50%;
                border-color: #4a506b;
            }
        }
    }

    + label {
        display: flex;
        margin: 0 auto;
        height: 25px;
        position: relative;
        cursor: pointer;

        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            width: 23px;
            height: 23px;
            background-color: #fff;
            border: 1px solid #666;
            transform: translateY(-50%);
        }
    }
}

input[type="radio"] {
    display: none;

    &:checked {
        + label {
            &:before {
                background-color: #fff;
                border-color: #4a506b;
            }

            &:after {
                display: block;
            }
        }
    }

    + label {
        display: flex;
        margin: 0 auto;
        height: 25px;
        position: relative;
        cursor: pointer;

        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            width: 23px;
            height: 23px;
            border-radius: 100%;
            background-color: #fff;
            border: 1px solid #666;
            transform: translateY(-50%);
        }

        &:after {
            display: none;
            content: "";
            position: absolute;
            left: 5px;
            top: 50%;
            width: 15px;
            height: 15px;
            background-color: #4a506b;
            border-radius: 100%;
            transform: translateY(-50%);
        }
    }
}

.swiper-tabs {
    .swiper {
        overflow: hidden;
    }

    .swiper-wrapper {
    }

    .swiper-slide {
        flex: 0 0 auto;
        width: 270px;

        img {
            display: block;
            width: 100%;
            height: auto;
        }
    }

    .scrollbar {
        position: relative;
        margin-top: 55px;

        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: #696969;
            transform: translateY(-50%);
        }

        .swiper-scrollbar-drag {
            &:before {
            }

            height: 31px;
            background: url("#{$imgPath}/icon-scroll.png") no-repeat 50% 50%;
            cursor: pointer;
        }
    }
}

.detail-info {
    border-top: 2px solid #444;
    padding-top: 67px;
    @include m.respond-to(map.get(m.$max, 1199)) {
        padding-top: 37px;
    }
}

@include detailSection.detailSection;
.box {
    border: 2px solid;
    border-radius: 20px;
    padding: 68px;
    @include m.respond-to(map.get(m.$max, 1199)) {
        padding: 25px 15px;
    }

    &.division {
        display: flex;
        gap: 80px;
        @include m.respond-to(map.get(m.$max, 1199)) {
            flex-wrap: wrap;
            gap: 40px;
        }
    }

    &.green {
        border-color: #279c2f;
    }

    &.outline {
        padding: 38px 30px;
        border: 1px solid #e5e5e5;
        border-radius: 0;
    }

    &.medium {
        max-width: 718px;
        margin: 0 auto;
        padding: 71px 20px 85px;
    }
}

.box-desc {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    border-radius: 10px;
    padding: 27px;
    font-size: 16px;
    line-height: 26px;
    color: #000;
    box-sizing: border-box;

    &.cyan {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 28px;
        width: 100%;
        background-color: #58b2a8;
        color: #fff;
        @include m.respond-to(map.get(m.$max, 1199)) {
            flex-direction: column;
        }

        strong {
            border-radius: 50px;
            padding: 10px 20px;
            color: #000;
            background-color: #fff;
            font-weight: 700;
        }

        span {
            margin-left: 20px;
            font-weight: 600;
        }
    }

    ~ .table-gray {
        margin-top: 54px;

        th,
        td {
            border-left: none;
            border-right: none;
        }
    }

    ~ .total {
        margin-top: 27px;
    }

    ~ .buttons {
        display: flex;
        justify-content: center;
        gap: 18px;
        margin-top: 94px;
    }
}

.box-info {
    text-align: center;

    strong {
        display: inline-block;
        padding-top: 89px + 43px;
        background: url("#{$imgPath}/icon-finish.png") no-repeat 50% 0;
        background-size: 89px auto;
        font-size: 22px;
    }

    p {
        margin-top: 23px;
        font-size: 15px;
        line-height: 25px;
        color: #6d6d6d;
    }

    + .buttons {
        display: flex;
        gap: 18px;
        justify-content: center;
        margin-top: 82px;
    }
}

@include calendar.calendar;
.detail-explanation {
    .img-wrap {
        display: block;
        margin-top: 90px;
        text-align: center;
        @include m.respond-to(map.get(m.$max, 1199)) {
            margin-top: 35px;
        }

        img {
            display: inline-block;
            max-width: 100%;
            height: auto;
        }

        + .desc {
            margin-top: 86px;
        }
    }

    .desc {
        padding: 0 25px;
        font-size: 16px;
        line-height: 26px;
        font-family: "SCoreDream", serif;
        color: #000;
        @include m.respond-to(map.get(m.$max, 1199)) {
            padding: 0;
            font-size: 14px;
            line-height: 24px;
        }
    }
}

.detail-sub {
    display: flex;
    gap: 55px;
    margin-top: 70px;
    @include m.respond-to(map.get(m.$max, 1199)) {
        flex-wrap: wrap;
        gap: 30px;
    }

    .left,
    .right {
        display: flex;
        flex-direction: column;
        flex: 1;
        align-self: stretch;
        @include m.respond-to(map.get(m.$max, 1199)) {
            flex: 0 0 auto;
            width: 100%;
        }
    }

    .right {
        @include m.respond-to(map.get(m.$max, 1199)) {
            padding: 0 20px;
            margin-top: -50px;
        }

        dfn {
            @include m.respond-to(map.get(m.$max, 1199)) {
                font-size: 22px;
                line-height: 32px;
            }
        }

        ul {
            @include m.respond-to(map.get(m.$max, 1199)) {
                margin-top: 20px;
            }
        }

        li {
            @include m.respond-to(map.get(m.$max, 1199)) {
                margin-bottom: 7px;
                font-size: 14px;
                line-height: 24px;
            }
        }
    }

    strong {
        color: #000;
        font-size: 20px;
        font-family: "SCoreDream", serif;
        font-weight: 700;
        @include m.respond-to(map.get(m.$max, 1199)) {
            font-size: 17px;
        }
    }

    .box.outline {
        flex: 1;
        margin-top: 30px;
        padding: 38px 30px;
        border: 1px solid #e5e5e5;
        border-radius: 0;
        @include m.respond-to(map.get(m.$max, 1199)) {
            margin-top: 20px;
            padding: 20px 15px;
        }

        li {
            position: relative;
            font-size: 15px;
            line-height: 25px;
            color: #000;
            font-family: "SCoreDream", serif;
            padding-left: 10px;
            @include m.respond-to(map.get(m.$max, 1199)) {
                font-size: 14px;
                line-height: 24px;
            }

            &:before {
                content: "\00B7";
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    }
}

@include table.table;
@include buttons.buttons;
.schedule {
    flex: 0 0 auto;
    width: 794px;
    @include m.respond-to(map.get(m.$max, 1199)) {
        width: 100%;
        overflow-x: auto;
    }

    &-wrap {
        width: 100%;
    }
}

.detail-theme {
    margin-top: 128px;

    .top {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .buttons {
        flex: 0 0 auto;
        position: relative;
        width: 350px;
        height: 550px;
        padding-left: 20px;
        margin-left: -20px;
        overflow-y: auto;
        scroll-snap-type: y mandatory;
        @include m.respond-to(map.get(m.$max, 1199)) {
            width: 100%;
            height: auto;
        }

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 20px;
            width: 350px;
            height: 100%;
            background-color: #223927;
        }

        button {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            width: 100%;
            height: 100px;
            text-align: left;
            padding: 0 40px;
            box-sizing: border-box;
            scroll-snap-align: center;
            background-color: #223927;

            &:before {
                content: "";
                position: absolute;
                top: 50%;
                left: -20px;
                width: 310px;
                height: 65px;
                background-color: #3eaa36;
                transform: translateY(-50%);
                border-radius: 0 50px 50px 50px;
                opacity: 0;
            }

            span {
                position: relative;
                font-size: 18px;
                font-family: "SCoreDream", serif;
                color: #fff;
                font-weight: 700;
            }

            &[aria-selected="true"] {
                &:before {
                    opacity: 1;
                }
            }

            &[aria-selected="false"] {
            }
        }
    }

    .visual {
        flex: 1;

        img {
            @include m.respond-to(map.get(m.$max, 1199)) {
                width: 100%;
                height: auto;
            }
        }
    }

    .panel {
        margin-top: 114px;
        text-align: center;

        > strong {
            display: block;
            position: relative;
            padding-top: 35px;
            font-weight: 500;
            font-size: 50px;
            line-height: 60px;
            color: #333;

            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 50%;
                width: 53px;
                height: 1px;
                background-color: #000;
                transform: translateX(-50%);
            }
        }

        > p {
            margin-top: 42px;
            font-size: 16px;
            line-height: 26px;
            color: #000;
            font-family: "SCoreDream", serif;
        }

        .tags {
            margin-top: 77px;
        }

        .gallery-items {
            margin-top: 60px;
            padding-top: 0;
            border-top: none;
        }
    }

    .map {
        margin-top: 108px;

        img {
            @include m.respond-to(map.get(m.$max, 1199)) {
                width: 100%;
                height: auto;
            }
        }
    }
}

@include tags.tags;
@include step.step;
@include board.board;
@include cardItems.cardItems;
@include boardItems.boardItems;
.custom-visual {
    display: flex;
    width: 100%;
    margin-bottom: 53px;
    @include m.respond-to(map.get(m.$max, 1199)) {
        flex-direction: column;
    }

    .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 0 0 auto;
        width: 800px;
        max-width: 100vw;
        background: url("#{$imgPath}/background-banner.png") no-repeat 50% 50%;
        background-size: cover;
        @include m.respond-to(map.get(m.$max, 1199)) {
            min-height: 480px;
            margin-left: -15px;
            padding: 30px;
            box-sizing: border-box;
        }
    }

    .title {
        font-family: "SBAggro", serif;
        text-align: center;
        color: #272727;

        > span,
        > strong {
            position: relative;

            &:first-child {
                &:before {
                    content: "\201C";
                    position: absolute;
                    left: -33px;
                    top: -6px;
                    font-size: 65px;
                    font-weight: 500;
                    font-family: "SBAggro", serif;
                    @include m.respond-to(map.get(m.$max, 1199)) {
                        font-size: 20px;
                        left: -20px;
                    }
                }
            }

            &:last-child {
                &:after {
                    content: "\201D";
                    position: absolute;
                    right: -43px;
                    top: -1px;
                    font-size: 65px;
                    font-weight: 500;
                    font-family: "SBAggro", serif;
                    @include m.respond-to(map.get(m.$max, 1199)) {
                        font-size: 20px;
                        right: -20px;
                    }
                }
            }
        }

        span {
            font-size: 40px;
            line-height: 60px;
            font-weight: 500;
            @include m.respond-to(map.get(m.$max, 1199)) {
                font-size: 20px;
                line-height: 30px;
            }
        }

        strong {
            font-size: 58px;
            line-height: 68px;
            font-weight: 500;
            @include m.respond-to(map.get(m.$max, 1199)) {
                font-size: 30px;
                line-height: 40px;
            }
        }
    }

    .desc {
        margin-top: 34px;
        font-size: 17px;
        line-height: 30px;
        color: #272727;
        text-align: center;
    }

    button {
        margin-top: 43px;
    }

    .right {
        flex: 1;

        img {
            width: 100%;
            height: auto;
        }
        @include m.respond-to(map.get(m.$max, 1199)) {
            flex: 0 0 auto;
            width: 100vw;
            margin-left: -15px;
        }
    }

}