
body,
header,
section,
footer,
h1,
h2,
h3,
h4,
div,
p,
ul,
ol,
li,
button,
figure,
figcaption,
img {
    margin: 0;
    padding: 0;
}

html {
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

body,
button {
    font-family: "SBAggro", "맑은 고딕", "돋움", dotum, sans-serif;
    font-weight: 400;
    letter-spacing: -.4px;
    border-radius: 0;
    box-sizing: border-box;
}

input,
select,
textarea {
    font-family: "SCoreDream", "맑은 고딕", "돋움", dotum, sans-serif;
    font-weight: 400;
    letter-spacing: -.4px;
}

input {
    ~ .caution {
        opacity: 0;
    }

    &:invalid {
        outline: 3px solid #f00;

        ~ .caution {
            opacity: 1;
        }
    }

    &:valid {
        outline: 1px;
    }
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;

    > span {
        pointer-events: none;
    }
}

button,
a {
    &:active {
        opacity: .8;
    }
}

a {
    text-decoration: none;

    &:visited {
        color: inherit;
    }
}

img {
    vertical-align: middle;
}

li {
    list-style: none;
}
