@use "sass:map";
@use "sass:math";
@use "./../../components/mixin" as m;

$imgPath: "./../../images/koagi";
@mixin table {
    table {
        width: 100%;
        border-collapse: collapse;

        + table {
            margin-top: 52px;
        }

        @include m.respond-to(map.get(m.$max, 1199)) {
            col[width*="px"] {
                width: auto;
            }
        }
    }
    .table-black {
        min-width: 100%;
        @include m.respond-to(map.get(m.$max, 1199)) {
            width: auto;
        }

        > thead {
            position: sticky;
            top: 0;
            z-index: 2;
        }

        th,
        td {
            padding: 18px 0;
            line-height: 26px;
            @include m.respond-to(map.get(m.$max, 1199)) {
                white-space: nowrap;
                padding: 12px;
                font-size: 14px;
                line-height: 24px;
            }
        }

        th {
            background-color: #3a3a3a;
            color: #fff;
            font-size: 16px;
            border: none;
        }

        td {
            text-align: center;
            font-size: 15px;
            border-bottom: 1px solid #e0e3e7;

            > strong {
                &:first-of-type {
                    color: #f00a0a;
                }
            }
        }

        .button-underline {
            font-size: 16px;
            text-decoration: underline;
            @include m.respond-to(map.get(m.$max, 1199)) {
                font-size: 14px;
            }
        }

        .table-gray {
            th,
            td {
                padding: 12px;
                font-size: 14px;
                line-height: 24px;
            }

            th {
                color: #000;
            }
        }

        .schedule-detail {
            display: none;

            &.show {
                display: table-row;
            }
        }
    }
    .table-gray {
        width: 100%;

        &.fixed {
            table-layout: fixed;
        }

        th,
        td {
            border: 1px solid #e7e7e7;
            padding: 20px;
            font-size: 16px;
            line-height: 26px;
            @include m.respond-to(map.get(m.$max, 1199)) {
                padding: 15px 5px;
                font-size: 14px;
                line-height: 24px;
            }

            &:first-of-type {
                border-left: none;
            }

            &:last-of-type {
                border-right: none;
            }
        }

        th {
            border-top: 1px solid #707070;
            font-weight: 700;
            background-color: #fafafa;
        }

        td {
            font-weight: 400;
            text-align: center;

            &.bold {
                font-weight: 600;
            }

            &.bg-blue {
                background-color: #f3f9ff;
            }

            &.text-blue {
                color: #1c7ee3;
            }

            &.align-left {
                text-align: left;
            }
        }
    }
    .table-horizon {
        caption {
            caption-side: top;
            font-size: 17px;
            text-align: left;
            font-weight: 700;
            margin-bottom: 22px;
            @include m.respond-to(map.get(m.$max, 1199)) {
                font-size: 13px;
                line-height: 20px;
            }
        }

        tr {
            &:first-of-type {
                th,
                td {
                    border-top: 1px solid #707070;
                }
            }
        }

        th,
        td {
            padding: 18px 24px;
            border: 1px solid #e7e7e7;
            font-size: 16px;
            line-height: 26px;
            @include m.respond-to(map.get(m.$max, 1199)) {
                padding: 17px 6px;
                font-size: 14px;
                line-height: 24px;
            }
        }

        th {
            background-color: #fafafa;

            &:first-of-type {
                border-left: none;
            }
        }

        td {
            &:last-of-type {
                border-right: none;
            }
        }

        .link {
            &:first-of-type {
                margin-left: 25px;
            }

            + .link {
                margin-left: 12px;
            }
        }

        .box.outline {
            padding: 30px 27px;
            @include m.respond-to(map.get(m.$max, 1199)) {
                padding: 20px 15px;
            }

            li {
                display: flex;
                gap: 9px;
                align-items: flex-start;
                margin-bottom: 5px;

                > span {
                    font-size: 16px;
                    color: #000;
                    font-weight: 500;
                    @include m.respond-to(map.get(m.$max, 1199)) {
                        font-size: 14px;
                    }
                }
            }
        }

        .buttons {
            display: flex;
            gap: 10px;
            margin-top: 20px;
        }

        .caution {
            margin-top: 35px;
            font-size: 16px;
            color: #ec1010;
            line-height: 25px;
        }

        .files {
            display: flex;
            flex-wrap: wrap;
            gap: 10px 60px;

            li {
                display: inline-flex;
                flex: 0 0 auto;
            }

            a {
                display: block;
                padding-left: 27px;
                background: url("#{$imgPath}/icon-clip.png") no-repeat 0 50%;
                background-size: auto 20px;
                font-size: 16px;
                color: #000;
                line-height: 26px;
            }
        }
    }
    .item-horizon {
        border-top: 1px solid #000;

        &.type2 {
            li {
                > div:only-of-type label {
                    width: 1200px;
                    max-width: 100%;
                }
            }

            textarea {
                resize: none;
                width: 100%;
                height: 200px;
                font-size: 15px;
                font-weight: 500;
                line-height: 48px;
                border: solid 1px #ddd;
                background-color: #fff;
                color: #000;
                padding: 0 15px;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
            }
        }

        li {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            width: 100%;

            > strong,
            > div {
                min-height: 70px;
                padding: 18px 25px;
                box-sizing: border-box;
                border-bottom: 1px solid #e7e7e7;
            }

            > strong {
                display: flex;
                align-self: stretch;
                align-items: center;
                justify-content: center;
                flex: 0 0 auto;
                width: 200px;
                background-color: #fafafa;
                text-align: center;
                border-right: 1px solid #e7e7e7;
                @include m.respond-to(map.get(m.$max, 1199)) {
                    width: 90px;
                    font-size: 13px;
                    line-height: 23px;
                    min-height: 50px;
                    padding: 10px 10px;
                }
            }

            > div {
                display: flex;
                align-items: center;
                align-self: stretch;
                flex-wrap: wrap;
                flex: 1;
                color: #333;
                font-size: 16px;
                @include m.respond-to(map.get(m.$max, 1199)) {
                    flex: 0 0 auto;
                    width: calc(100% - 90px);
                    gap: 10px;
                    padding: 10px;
                    font-size: 13px;
                    line-height: 18px;
                    min-height: 50px;
                }

                &:only-of-type {
                    label {
                        width: 475px;
                        max-width: 100%;

                        &[for*="textarea"] {
                            width: 100%;
                        }
                    }

                    label[for*="select"] {
                        width: 190px;

                        select {
                            width: 100%;
                        }

                        &.middle {
                            min-width: 267px;
                            @include m.respond-to(map.get(m.$max, 1199)) {
                                min-width: auto;
                            }
                        }
                    }
                }

                .file_add li {
                    padding: 5px 0;
                }

                label {
                    width: 100%;

                    &.middle {
                        width: 274px;
                    }

                    &.full {
                        width: 919px;
                    }
                }

                + strong {
                    border-left: 1px solid #e7e7e7;
                    @include m.respond-to(map.get(m.$max, 1199)) {
                        border-left: none;
                    }
                }

                ~ div {
                    label {
                        display: block;
                        width: 100%;
                    }
                }

                .it {
                    width: 100%;
                    box-sizing: border-box;
                }
            }

            input[type="checkbox"] {
                + label {
                    width: auto;
                    align-items: center;
                    padding-left: 34px;
                    margin: 0 25px 0 0;
                    @include m.respond-to(map.get(m.$max, 1199)) {
                        width: 100%;
                    }
                }

                ~ label .it {
                    width: 286px;
                    @include m.respond-to(map.get(m.$max, 1199)) {
                        width: 100%;
                    }
                }
            }

            input[type="radio"] {
                + label {
                    width: auto;
                    align-items: center;
                    padding-left: 34px;
                    margin: 0 25px 0 0;
                    @include m.respond-to(map.get(m.$max, 1199)) {
                        width: 100%;
                    }
                }
            }

            .caution {
                font-size: 15px;
                line-height: 25px;
                color: #ec1010;
                font-weight: 400;
                margin-left: 17px;
                opacity: 1;
                @include m.respond-to(map.get(m.$max, 1199)) {
                    margin-left: 0;
                    margin-top: 0;
                    font-size: 12px;
                    line-height: 20px;
                }

                &.gray {
                    color: #000;
                }

                &.block {
                    display: flex;
                    width: 100%;
                    margin-top: 12px;
                    margin-left: 0;
                    color: #4e4e4e;
                }
            }
        }

        input[type="text"]:disabled {
            background-color: #fafafa;
        }

        .address {
            gap: 10px;

            label {
                &:not(:first-of-type) {
                    flex: 0 0 417px;
                    @include m.respond-to(map.get(m.$max, 1199)) {
                        flex: 0 0 100%;
                    }
                }

                &:first-of-type {
                    flex: 1;
                }
            }
        }

        .period {
            gap: 7px;

            label {
                flex: 0 0 170px;
                @include m.respond-to(map.get(m.$max, 1199)) {
                    flex: 1;
                }

                input[type="text"] {
                    padding-right: 50px;
                    background: url("#{$imgPath}/icon-calendar-black.png") no-repeat top 50% right 22px;
                    background-size: 23px auto;
                    @include m.respond-to(map.get(m.$max, 1199)) {
                        background-position: top 50% right 10px;
                    }
                }
            }
        }

        .business {
            gap: 7px;

            label {
                flex: 1;
            }

            span {
                color: #333;
                font-size: 16px;
            }
        }

        .essential {
            font-size: 16px;
            color: #ec1010;
            margin-left: 4px;
        }

        + .caution {
            display: block;
            font-size: 15px;
            margin-top: 22px;
            color: #ec1010;
            font-weight: 400;
            text-align: right;
            @include m.respond-to(map.get(m.$max, 1199)) {
                margin-top: 5px;
                font-size: 13px;
                line-height: 20px;
            }
        }

        .file {
            flex-direction: column;
            align-items: flex-start;
            justify-items: flex-start;
            gap: 20px;

            .caution {
                margin-top: 15px;
                margin-left: 0;
            }

            .buttons {
                display: flex;
                gap: 10px;
            }
        }

        textarea {
            resize: none;
            width: 100%;
            height: 650px;
            font-size: 15px;
            font-weight: 500;
            line-height: 48px;
            border: solid 1px #ddd;
            background-color: #fff;
            color: #000;
            padding: 0 15px;
            box-sizing: border-box;
            @include m.respond-to(map.get(m.$max, 1199)) {
                appearance: none;
                border-radius: 0;
                font-size: 13px;
                line-height: 32px;
                height: 300px;
                padding: 0 0 0 10px;
            }
        }

        .box.outline {
            width: 100%;
            padding: 30px 27px;
            box-sizing: border-box;
            @include m.respond-to(map.get(m.$max, 1199)) {
                padding: 20px 15px;
            }

            li {
                display: flex;
                gap: 9px;
                align-items: flex-start;
                flex-wrap: nowrap;
                margin-bottom: 5px;

                > span {
                    font-size: 16px;
                    line-height: 26px;
                    color: #000;
                    font-weight: 500;
                    @include m.respond-to(map.get(m.$max, 1199)) {
                        font-size: 14px;
                        line-height: 24px;
                    }
                }
            }
        }

        .button-navy.small {
            + .file-wrap {
                margin-left: 20px;
                @include m.respond-to(map.get(m.$max, 1199)) {
                    margin-left: 0;
                }
            }
        }

        .file-wrap {
            display: flex;
            align-items: baseline;
            gap: 11px;

            + .caution {
                margin-left: 40px;
                @include m.respond-to(map.get(m.$max, 1199)) {
                    margin-left: 0;
                }
            }
        }
    }

    .caution_p {
        display: block;
        font-size: 15px;
        margin-top: 22px;
        font-weight: 400;
        text-align: left;
    }

    .table-info {
        border-top: 2px solid #000;

        li {
            display: grid;
            grid-template-columns: 1fr 272px 272px 272px 272px;
            align-items: center;
            border-bottom: 1px solid #e7e7e7;
            padding: 20px;
            @include m.respond-to(map.get(m.$max, 1199)) {
                grid-template-columns: 1fr 1fr 1fr 1fr;
                gap: 0;
                padding: 12px;
            }

            &:first-of-type {
                background-color: #fafafa;
                text-align: center;
                @include m.respond-to(map.get(m.$max, 1199)) {
                    display: none;
                }

                > div {
                    font-weight: 500;
                }
            }

            &:not(:first-of-type) {
                > div:first-of-type {
                    padding-left: 50px;
                    @include m.respond-to(map.get(m.$max, 1199)) {
                        padding-left: 0;
                    }
                }
            }

            > div {
                font-size: 16px;
                line-height: 26px;

                > span:not([id]) {
                    display: none;
                    @include m.respond-to(map.get(m.$max, 1199)) {
                        display: inline-flex;
                    }
                }

                &:not(:first-of-type) {
                    text-align: center;
                }

                @include m.respond-to(map.get(m.$max, 1199)) {
                    &:nth-of-type(1) {
                        grid-column: 1 / 3;
                    }
                    &:nth-of-type(2) {
                        grid-column: 1 / 3;
                        text-align: left;
                        font-size: 14px;
                        line-height: 24px;
                    }
                    &:nth-of-type(3) {
                        grid-column: 1/3;
                        text-align: left;
                        font-size: 14px;
                        line-height: 24px;
                    }
                    &:nth-of-type(4) {
                        grid-column: 3 / 4;
                        grid-row: 1 / 4;
                    }
                    &:nth-of-type(5) {
                        grid-column: 4 / 5;
                        grid-row: 1 / 4;
                    }
                }

                p {
                    font-size: 12px;
                }
            }
        }

        .count {
            display: flex;
            justify-content: center;
            align-items: center;

            button {
                width: 36px;
                height: 36px;
                background-repeat: no-repeat;
                background-size: 100% auto;
                background-position: 50% 50%;
                @include m.respond-to(map.get(m.$max, 1199)) {
                    width: 30px;
                    height: 30px;
                }
            }

            .button-increase {
                background-image: url("#{$imgPath}/icon-plus-box.png");
            }

            .button-decrease {
                background-image: url("#{$imgPath}/icon-minus-box.png");
            }

            > span {
                flex: 0 0 auto;
                width: 52px;
                font-size: 16px;
                font-weight: 700;
                @include m.respond-to(map.get(m.$max, 1199)) {
                    width: 30px;
                }
            }
        }
    }
    .table-grid {
        display: grid;
        grid-template-columns: 220px 1fr 330px 520px;

        &.grid5 {
            grid-template-columns: 1fr 260px 260px 1fr 1fr;
            @include m.respond-to(map.get(m.$max, 1199)) {
                grid-template-columns: repeat(5, 1fr);
            }

            &-2 {
                grid-template-columns: repeat(4, 170px) 1fr;
                @include m.respond-to(map.get(m.$max, 1199)) {
                    grid-template-columns: repeat(5, 1fr);
                }
            }
        }

        &.grid8 {
            grid-template-columns: repeat(8, 1fr);
        }

        .col1-3 {
            grid-column: 1 / 3;
        }

        .col3 {
            grid-column: 3;
        }

        .col4 {
            grid-column: 4;
        }

        .col5 {
            grid-column: 5;
        }

        .row2-6 {
            grid-row: 2 / 6;
        }

        .row2-4 {
            grid-row: 2 / 4;
        }

        .row2-5 {
            grid-row: 2 / 5;
        }

        .row2-8 {
            grid-row: 2/8;
        }

        .head {
            background-color: #fafafa;
            border-top: 2px solid #707070;
        }

        > div {
            display: flex;
            flex-direction: column;
            gap: 15px;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: 20px;
            border-bottom: 1px solid #e7e7e7;
            font-size: 16px;
            line-height: 25px;
            color: #000;
            @include m.respond-to(map.get(m.$max, 1199)) {
                padding: 5px;
            }

            &:not(.border-right-none) {
                border-right: 1px solid #e7e7e7;
            }

            strong {
                font-weight: 600;
            }
        }
    }
}