@use "sass:map";
@use "sass:math";
@use "./../../components/mixin" as m;

$imgPath: "./../../images/koagi";
@mixin tabs {
    .tabs {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        margin: 80px 0 82px;
        @include m.respond-to(map.get(m.$max, 767)) {
            gap: m.m(21) m.m(23);
            margin: m.m(10) 0 m.m(58);
        }

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            min-width: 150px;
            box-sizing: border-box;
            padding: 21px 35px;
            background-color: #fff;
            border-radius: 100px;
            border: 1px solid #d1d1d1;
            font-size: 18px;
            line-height: 28px;
            font-weight: 700;
            @include m.respond-to(map.get(m.$max, 767)) {
                font-size: m.m(24);
                line-height: m.m(34);
                padding: m.m(20) m.m(44);
            }
        }

        .active {
            a {
                background-color: #3eaa36;
                color: #fff;
                border-color: #3eaa36;

                &:after {
                    content: "";
                    position: absolute;
                    right: -7px;
                    top: -21px;
                    width: 42px;
                    height: 41px;
                    background: url("#{$imgPath}/icon-leaf-border.png") no-repeat 50% 50%;
                    pointer-events: none;
                    @include m.respond-to(map.get(m.$max, 767)) {
                        top: m.m(-21);
                        right: m.m(-9);
                        width: m.m(42);
                        height: m.m(42);
                        background-size: 100% auto;
                    }
                }
            }
        }

        + .box.outline-cyan {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 43px;

            strong {
                font-size: 19px;
                line-height: 29px;
                color: #333;
                font-weight: 700;
            }
        }
    }
    .full-tabs {
        display: flex;
        width: 100%;
        margin-top: 47px;

        > button {
            flex: 1;
            padding: 23px;
            border: 1px solid #ddd;
            border-bottom: 2px solid #279c2f;
            font-size: 17px;
            color: #000;
            font-weight: 500;

            &[aria-selected="true"] {
                background-color: #279c2f;
                border-color: #279c2f;
                color: #fff;
            }
        }
    }
}