@use "sass:map";
@use "sass:math";

@use "./../components/mixin" as m;

$imgPath: "./../../images/wonju";

#wrap {
    min-width: 0;
}

.main-swiper .swiper-wrap .text-items .title {
    -webkit-line-clamp: 2;
}

.swiper-quick .swiper-slide {
    min-height: 146px;
    @include m.respond-to(map.get(m.$max, 1199)) {
        min-height: 0;
    }
}

.items {
    position: relative;
}

.swiper-link {
    overflow: hidden;

    [class*="button-"] {
        position: absolute;
        top: 0;
        right: 0;
        width: 62px;
        height: 62px;
        background: url("#{$imgPath}/icon-arrow-left.png");
    }

    .button-next {
        transform: rotate(180deg);
    }
}

.round-section > a {
    margin-left: auto;
}

.horizon-items > .title-wrap .title a {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 45px;
    height: 45px;
    background-image: url("#{$imgPath}/icon-more.png");

}