<div class="content"
     id="container">
    <div class="sub_wrap">
        <div class="inner">
            <div class="sub_top bg2">
                <h2 class="sub_tit">경기도아동언제나돌봄광역센터란?</h2>
            </div>
            <div class="sub_con">
                <div class="sub_tit2">
                    <p class="db_tit"><span>경기도아동언제나돌봄광역센터</span>는</p>
                    <p class="db_txt">돌봄공백 없는 360° 아동 언제나돌봄 체계 구축 및 지역기반 아동돌봄 생태계 조성을 위해<br>
                        경기도와 시군, 아동돌봄센터, 서비스 제공기관 등과 협력하여 경기도형 틈새없는<br>
                        아동긴급돌봄체계 구축ㆍ운영, 서비스 자원 확대 및 지원체계 마련사업을 추진합니다.</p>
                </div>
                <div class="section_wrap bg1">
                    <div class="section_inner">
                        <div class="db_box_wrap type01">
                            <p class="db_box_tit">비전</p>
                            <p class="db_box_txt"><span>아동과 가족</span> 이&nbsp; <span>행복한 경기도</span>&nbsp;실현</p>
                        </div>
                        <div class="db_box_wrap type02">
                            <p class="db_box_tit">미션</p>
                            <p class="db_box_txt">돌봄공백 없는 <span>360° 아동 언제나돌봄 체계 구축,</span><br>
                                경기도형<span> 아동돌봄 서비스 강화</span> 및 <span>지역기반 돌봄 활성화</span></p>
                        </div>
                    </div>
                </div>
                <div class="section_wrap bg2">
                    <div class="section_inner">
                        <div class="bull_mark_wrap bg_type03">
                            <p class="bull_mark_tit">핵심가치</p>
                            <ul class="bull_mark_list">
                                <li>
                                    <div class="bull_mark01">인권존중</div>
                                </li>
                                <li>
                                    <div class="bull_mark02">소통·협력</div>
                                </li>
                                <li>
                                    <div class="bull_mark03">돌봄의 사회화</div>
                                </li>
                            </ul>
                        </div>
                        <div class="bull_mark_wrap">
                            <p class="bull_mark_tit">전략목표</p>
                            <p class="bull_db_triple">
                                <img alt="전달체계, 서비스 자원확대, 지원 체계마련"
                                     src="<%= imgPath %>/icon/bull_triple_db2.png">
                            </p>
                        </div>
                    </div>
                </div>
                <div class="section_wrap bg3">
                    <div class="section_inner">
                        <div class="bg_type02">
                            <p class="db_map_tit">아동 언제나돌봄서비스 제공 시군현황</p>
                            <div class="db_step_wrap">
                                <ul>
                                    <li>
                                        <div class="tit">초등 시설형</div>
                                        <div class="year_wrap">
                                            <div class="year_box before">
                                                <div class="year">2024년</div>
                                                <div class="year_txt">수원, 성남, 화성, 남양주, 안산, 평택, 안양, 파주, 김포, 광명, 이천, 구리,
                                                    여주, 동두천
                                                </div>
                                            </div>
                                            <div class="year_box after">
                                                <div class="year">2025년</div>
                                                <div class="year_txt">수원, 화성, 남양주, 안산, 평택, 안양, <span>시흥,</span> 파주,
                                                    김포,<span> 의정부,</span> 광명,<span> 군포, 양주, 오산</span>,
                                                    이천,<span> 안성,</span> 구리, <span>포천,</span> <span>양평,</span> 여주, 동두천
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tit">언제나 어린이집</div>
                                        <div class="year_wrap">
                                            <div class="year_box before">
                                                <div class="year">2024년</div>
                                                <div class="year_txt">부천, 남양주, 김포, 하남, 이천</div>
                                            </div>
                                            <div class="year_box after">
                                                <div class="year">2025년</div>
                                                <div class="year_txt"><span>고양,</span> 부천, 남양주, 김포, <span>의정부,</span>
                                                    하남, 이천, <span>포천,</span> <span>안산,</span> <span>안양</span></div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tit">방문형 긴급돌봄</div>
                                        <div class="year_wrap">
                                            <div class="year_box before">
                                                <div class="year">2024년</div>
                                                <div class="year_txt">수원, 화성, 안성, 평택, 시흥, 광명, 남양주, 구리, 동두천, 가평</div>
                                            </div>
                                            <div class="year_box after">
                                                <div class="year">2025년</div>
                                                <div class="year_txt">수원, 화성, 안성, 평택, 시흥, <span>광주,</span> 광명, 남양주, 구리,
                                                    동두천
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="db_map_txt_box">
                                <div class="db_step_box db_step_box01">
                                    <p class="db_step_round">3개</p>
                                    <dl>
                                        <dt>서비스 운영시군</dt>
                                        <dd>남양주시</dd>
                                    </dl>
                                </div>
                                <div class="db_step_box db_step_box02">
                                    <p class="db_step_round">2개</p>
                                    <dl>
                                        <dt>서비스 운영시군</dt>
                                        <dd>광명시, 구리시, 김포시, 수원시, 안양시, 이천시, 화성시, 안산시, 평택시, 의정부시, 포천시</dd>
                                    </dl>
                                </div>
                                <div class="db_step_box db_step_box03">
                                    <p class="db_step_round">1개</p>
                                    <dl>
                                        <dt>서비스 운영시군</dt>
                                        <dd>여주시, 파주시, 양주시, 시흥시, 안성시, 포천시, 부천시, 하남시, 고양시, 광주시, 동두천시, 오산시, 양평군</dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="btn_area">
                                <a class="color_btn bull"
                                   href="/always360/childcareMap/search.do?key=2401020011">돌봄지도에서 서비스 제공기관을 확인하세요
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>