<div class="content"
     id="container">
    <form id="frm"
          name="frm"
          action="/always360/user/mypage/childcareRsvtList.do?key=2401020023&amp;pageIndex=1&amp;rsvtSn="
          method="get">
        <input id="key"
               name="key"
               type="hidden"
               value="2401020023">
        <input id="pageIndex"
               name="pageIndex"
               type="hidden"
               value="1">
        <input type="hidden"
               name="rsvtSn">
        <div class="sub_wrap type1">
            <div class="inner">
                <div class="sub_top bg4">
                    <h2 class="sub_tit">돌봄서비스 관리</h2>
                </div>
                <div class="sub_con">
                    <div class="max_1520">
                        <div class="manage_list_wrap">
                            <div class="page_tab_btn_area type2">
                                <a href="#"
                                   class="active"
                                   title="선택됨">돌봄신청 관리
                                </a>
                                <a href="javascript:void(0);"
                                   onclick="goReportList();">돌보미 업무보고
                                </a>
                                <a href="javascript:void(0);"
                                   onclick="goSurveyList();">만족도 조사
                                </a>
                            </div>
                            <div class="search_area">
                                <div class="flex">
                                    <div class="input_wrap">
                                        <input id="sw"
                                               name="sw"
                                               title="이름을 입력하세요"
                                               onkeypress="if(event.keyCode == 13){ fn_egov_link_page(1); return false; }"
                                               placeholder="이름을 입력하세요"
                                               type="text"
                                               value="">
                                        <button type="submit"
                                                title="검색"
                                                class="icon_search"></button>
                                    </div>
                                </div>
                            </div>
                            <div class="list_top_wrap">
                                <div class="total_page">
                                    전체 <em>0</em>건, 1/<span>1</span> 페이지
                                </div>
                            </div>
                            <li class="db_manage_list">
                                <h3 class="screenOut">돌봄신청 관리</h3>
                                <ul>
                                    <% if (state === 'noData') { %>
                                        <!-- 돌봄신청 내역 없음 -->
                                        <div class="no_result_wrap">
                                            <p class="no_result">돌봄신청내역이 존재하지 않습니다.</p>
                                        </div>
                                        <!-- // 돌봄신청 내역 없음 -->
                                    <% } %>
                                </ul>
                            </li>
                        </div>
                        <div class="paging_wrap">
                            <a href="#"
                               class="num active"
                               title="현재 페이지(선택됨)">1
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>