<div class="fixed_area">
    <input type="hidden"
           id="index"
           name="index"
           value="always360">
    <input type="hidden"
           id="type"
           name="type"
           value="type03">
    <input type="hidden"
           id="chatmodel"
           name="chatmodel"
           value="sLLM">
    <div class="bull_area bull_area01">
        <a href="#"><span>챗봇</span></a>
        <!-- 250319 챗봇 추가 -->
        <div class="layer_wrap">
            <div class="chat_full_wrap">
                <div class="chat_wrap">
                    <div class="chat_area">
                        <div class="chat_header">
                            <h2 class="chat_id">
                                <img src="<%= imgPath %>/childcare_icon/logo_icon.svg"
                                     alt="360돌봄">
                                경기도아동언제나돌봄
                            </h2>
                        </div>
                        <ul class="chat_list">
                        </ul>
                    </div>
                    <div class="chat_bottom">
                        <div class="chat_input_wrap">
                            <input type="text"
                                   class="chat_input"
                                   id="sentence"
                                   placeholder="궁금하신 내용을 입력해주세요."
                                   title="메시지 입력창"
                                   onkeypress="if(event.keyCode==13) {question(); return false;}">
                            <button class="btn_reset"><span class="screenOut">닫기</span>x</button>
                            <button class="btn_send"
                                    onclick="javascript:question()"><span class="screenOut">전송</span>
                            </button>
                        </div>
                    </div>
                    <button type="button"
                            title="챗봇닫기"
                            class="close_btn"></button>
                </div>
            </div>
        </div>
        <!-- // 250319 챗봇 추가 -->
    </div>
    <div class="bull_area bull_area02">
        <a href="/always360/user/mypage/preInfoRegList.do?key=2401020023"><span>사전<br>아동등록</span></a>
    </div>
    <div class="bull_area bull_area03">
        <a href="/always360/childcare/rsvtForm.do?key=2411190006"><span>돌봄<br>신청하기</span></a>
    </div>
</div>