<footer>
    <div class="footer_inner">
        <div class="logo_wrap">
            <a href="https://www.gg.go.kr/"
               title="새창열림"
               target="_blank">
                <img src="<%= imgPath %>/logo/footer_logo3.png"
                     alt="경기도">
            </a>
            <a href="https://www.gwff.kr/"
               title="새창열림"
               target="_blank">
                <img src="<%= imgPath %>/logo/footer_logo4.png"
                     alt="경기도여성가족재단">
            </a>
            <!-- 250610 추가 -->
            <a href="https://www.wa.or.kr/board/list.asp?BoardID=0006"
               title="새창열림"
               target="_blank"
               class="wa_mark">
                <img src="<%= imgPath %>/logo/wa_mark.png"
                     alt="과학기술정보통신부 WA WEB 접근성 한국웹접근성인증평가원 2025.06.09~2026.06.08">
            </a>
        </div>
        <div class="flex">
            <div class="footer_left">
                <!-- 250207 수정 -->
                <div class="footer_info">
                    <dl>
                        <dt class="">경기도여성가족재단</dt>
                        <dd>(16207) 경기도 수원시 장안구 경수대로 1150(파장동)</dd>
                        <dd>
                            경기도 아동언제나돌봄광역센터 TEL.031-898-9750
                            <span class="ico_dot for_web"></span>
                            <br class="for_mobile">시스템 이용 문의 TEL.02-6949-3374, 070-4616-0350
                        </dd>
                    </dl>
                </div>
                <!-- // 250207 수정 -->
            </div>
            <div class="footer_right">
                <a href="https://www.gwff.kr/base/contents/view?contentsNo=137&menuLevel=3&menuNo=207"
                   target="_blank"
                   class="text_btn1 chevron_right">경기도 아동언제나돌봄광역센터
                </a>
                <a href="/always360/sso/adminForm.do?key=2404190001"
                   class="text_btn2 chevron_right">기관 로그인
                </a>
            </div>
        </div>
        <div class="footer_bottom">
            <!-- 250207 수정 -->
            <div class="flex">
                <div class="left">
                    <ul>
                        <li>
                            <a href="/always360/content.do?key=2402130001">이용약관</a>
                        </li>
                        <li>
                            <a class="privacy"
                               href="/always360/content.do?key=2402130003">개인정보처리방침
                            </a>
                        </li>
                        <li>
                            <a href="/always360/content.do?key=2406270001">이메일무단수집거부</a>
                        </li>
                    </ul>
                    <div class="copyright">© GYEONGGI PROVINCE All Rights Reserved.</div>
                </div>
                <div class="right">
                    <!-- 250519 교체 -->
                    <div class="dropdown_wrap">
                        <button type="button">관련기관</button>
                        <ul class="dropdown">
                            <li>
                                <a href="https://www.gg.go.kr"
                                   title="새창열림"
                                   target="_blank">경기도청
                                </a>
                            </li>
                            <li>
                                <a href="https://www.gwff.kr/"
                                   title="새창열림"
                                   target="_blank">경기도여성가족재단
                                </a>
                            </li>
                            <li>
                                <a href="https://www.idolbom.go.kr"
                                   title="새창열림"
                                   target="_blank">아이돌봄서비스
                                </a>
                            </li>
                            <li>
                                <a href="https://www.ncrc.or.kr"
                                   title="새창열림"
                                   target="_blank">아동권리보장원
                                </a>
                            </li>
                            <li>
                                <a href="https://www.bokjiro.go.kr"
                                   title="새창열림"
                                   target="_blank">복지로
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- 250519 교체 끝 -->
                </div>
            </div>
        </div>
        <!-- 250207 수정 끝 -->
    </div>
</footer>