<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible"
      content="IE=edge"/>
<meta name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
<meta name="format-detection"
      content="telephone=no,email=no,address=no">
<meta name="author"
      content="경기도아동언제나돌봄">
<meta name="keywords"
      content="경기도 아동돌봄, 아동돌봄체계, 긴급아동돌봄, 방문형 아이돌봄, 시설형 아이돌봄, 아동돌봄센터">
<meta name="description"
      content="360° 아동언제나돌봄서비스는 돌봄이 필요한 12세 이하 아동을 대상으로 돌봄 서비스를 제공합니다.">
<meta name="copyright"
      content="&copy; 경기도여성가족재단. All Rights Reserved.">
<meta property="og:type"
      content="website">
<meta property="og:title"
      content="경기도 아동 언제나 돌봄">
<meta property="og:image"
      content="/resource/www/images/common/logo.svg">
<meta property="og:url"
      content="">
<meta property="og:description"
      content="돌봄공백 없는 경기도내 31개 시군에서 추진하는 아동 언제나 돌봄 서비스 제공 복지 플랫폼">
<meta name="google-signin-client_id"
      content="784372812530-4ar8rse1ks19riuk33k5mdmgnvvcqquk.apps.googleusercontent.com">
<meta name="robots"
      content="index, follow">
<link rel="icon"
      href="https://www.gg.go.kr/always360/resource/www/images/favicon.ico"
      type="image/x-icon">
<!-- css -->
<link rel="stylesheet"
      href="https://www.gg.go.kr/always360/resource/cmm/css/loding.css?v=20250101">
<link rel="stylesheet"
      href="https://www.gg.go.kr/always360/resource/www/css/reset.css?v=20250101">
<!--
<link rel="stylesheet"
      href="https://www.gg.go.kr/always360/resource/www/css/fonts.css?v=20250101">
<link rel="stylesheet"
      href="https://www.gg.go.kr/always360/resource/www/css/common.css?v=20250101">
<link rel="stylesheet"
      href="https://www.gg.go.kr/always360/resource/www/css/common_new.css?v=20250101">
<link rel="stylesheet"
      href="https://www.gg.go.kr/always360/resource/www/css/sub.css?ver=1">
<link rel="stylesheet"
      href="https://www.gg.go.kr/always360/resource/www/css/swiper-bundle.css?v=20250101">
<link rel="stylesheet"
      href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
-->
<!-- //css -->
<!-- script -->
<!--
<script src="https://www.gg.go.kr/always360/resource/www/js/jquery.min.js"></script>
<script src="https://www.gg.go.kr/always360/resource/www/js/swiper.min.js"></script>
<script src="https://www.gg.go.kr/always360/resource/www/js/common.js"></script>
<script src="https://www.gg.go.kr/always360/resource/www/js/main.js"></script>
<script src="https://www.gg.go.kr/always360/resource/www/js/popup.js"></script>
<script src="https://www.gg.go.kr/always360/resource/cmm/js/utils.js"></script>
<script src="https://www.gg.go.kr/always360/resource/cmm/js/dates.js"></script>
<script src="https://www.gg.go.kr/always360/resource/cmm/js/jquery_utils.js"></script>
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
-->
<!-- Google tag (gtag.js) -->
<script async
        src="https://www.googletagmanager.com/gtag/js?id=G-VV20T4GZT2"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'G-VV20T4GZT2');
</script>
<!-- //script -->
<title id="titleNm">경기도아동언제나돌봄</title>