<div class="content"
     id="container">
    <div class="sub_wrap type1">
        <div class="inner">
            <div class="sub_top bg2">
                <h2 class="sub_tit">아동언제나돌봄 서비스 안내</h2>
            </div>
            <div class="sub_con">
                <div class="max_1520">
                    <div class="page_tab_btn_area">
                        <a class="active"
                           href="#"
                           title="선택됨">서비스 유형
                        </a>
                        <a href="/always360/content.do?key=2411190004">신청방법 및 이용절차</a>
                    </div>
                    <div class="page_tab_con bg_type">
                        <p class="page_tab_tit"><span>360˚ 아동언제나돌봄서비스</span>는<br>
                            돌봄이 필요한 12세 이하 아동을 대상으로<br>
                            <span class="color02">3가지 유형의 돌봄 서비스</span>를 제공합니다.</p>
                        <div class="page_tab_box_wrap">
                            <div class="page_tab_box">
                                <div class="page_tab_box_tit01"><span>초등 시설형</span></div>
                                <div class="page_tab_box_con">
                                    <dl>
                                        <dt>이용대상</dt>
                                        <dd><strong>6세~ 12세 아동</strong></dd>
                                        <dd class="type02">*이용아동의 형제, 자매로 미취학(5~6세) 아동인 경우는 이용가능</dd>
                                    </dl>
                                    <dl>
                                        <dt>이용시간</dt>
                                        <dd><strong>07:00~24:00</strong></dd>
                                    </dl>
                                    <dl>
                                        <dt>주요내용</dt>
                                        <dd>돌봄이 필요한 아동을 거주지 근처 다함께돌봄센터, 지역아동센터 등 아동돌봄 시설에서 돌봄을 제공합니다.</dd>
                                    </dl>
                                    <dl>
                                        <dt>이용요금</dt>
                                        <dd>시군별 비용 상이</dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="page_tab_box">
                                <div class="page_tab_box_tit02"><span>언제나 어린이집</span></div>
                                <div class="page_tab_box_con">
                                    <dl>
                                        <dt>이용대상</dt>
                                        <dd><strong>생후 6개월 이상 ~ 7세이하 취학전 영유아</strong></dd>
                                    </dl>
                                    <dl>
                                        <dt>이용시간</dt>
                                        <dd><strong>24시간</strong></dd>
                                    </dl>
                                    <dl>
                                        <dt>주요내용</dt>
                                        <dd>영유아의 일시적 돌봄이 필요한 경우, 언제든지 믿고 맡길 수 있는 보육서비스를 제공하는 언제나어린이집입니다.</dd>
                                    </dl>
                                    <dl>
                                        <dt>이용요금</dt>
                                        <dd>시간당 3천원(단, 이천시는 시간당 1천원)</dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="page_tab_box">
                                <div class="page_tab_box_tit03"><span>방문형 긴급돌봄</span></div>
                                <div class="page_tab_box_con">
                                    <dl>
                                        <dt>이용대상</dt>
                                        <dd><strong>생후 3개월 ~ 12세 이하 아동</strong></dd>
                                    </dl>
                                    <dl>
                                        <dt>이용시간</dt>
                                        <dd><strong>24시간</strong></dd>
                                    </dl>
                                    <dl>
                                        <dt>주요내용</dt>
                                        <dd>양육공백 발생 가정에 아이돌보미를 파견하는 찾아가는 경기도형 찾아가는 돌봄서비스입니다.</dd>
                                    </dl>
                                    <dl>
                                        <dt>이용요금</dt>
                                        <dd>평일 : 시간당 12,180원</dd>
                                        <dd>심야 ·휴일 : 시간당 18,270원(50% 증액)</dd>
                                        <dd>아이돌봄 일시연계(긴급돌봄) : 이용 2시간 전 신청 시 3,000원 추가</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>