<div class="content"
     id="container">
    <div class="sub_wrap type2">
        <div class="inner">
            <div class="sub_top">
                <h2 class="sub_tit">회원가입</h2>
            </div>
            <div class="sub_con">
                <div class="join_wrap">
                    <h3 class="join_tit">경기도 아동 언제나돌봄 가입을 축하합니다.</h3>
                    <div class="join_inner">
                        <div class="join_result_wrap">
                            <div class="guide_txt"><span class="name">홍길동 회원님</span> <br>
                                경기도 아동 언제나돌봄가입이 완료 되었습니다.
                            </div>
                            <em class="">돌봄 서비스 신청은 자녀 “사전등록”이 필요한 서비스로<br>
                                사전등록을 진행 한 후 서비스 신청을 진행해 주세요!
                            </em>
                            <div class="btn_wrap2">
                                <a href="#"
                                   onclick="goList('L');"
                                   class="primary_btn">로그인
                                </a>
                                <a href="#"
                                   onclick="goList('M');"
                                   class="main_btn">메인으로 이동
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>