<!-- 메인 -->
<div class="content"
     id="container">
    <div class="main_wrap">
        <section class="section1">
            <div class="section_inner">
                <div class="main_swiper1_wrap">
                    <div class="main_swiper1">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="https://www.gg.go.kr/always360/content.do?key=2409110002"
                                   target="_blank">
                                    <div class="txt_wrap"></div>
                                    <img src="/always360/atch/fileDown.do?enc=zUW2eq3WLYv%2BS2rkjGGM%2ByIIrRN2Xg02UbaeqhQQbwQ%3D"
                                         alt="2025년 새로워진 경기도 아동언제나돌봄">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="control_wrap">
                        <div class="swiper-pagination"></div>
                        <div class="swiper_btn_wrap">
                            <button type="button"
                                    class="swiper_button_prev"
                                    title="이전 슬라이드"></button>
                            <button type="button"
                                    class="btn_pause"
                                    title="정지"></button>
                            <button type="button"
                                    class="swiper_button_next"
                                    title="다음 슬라이드"></button>
                        </div>
                    </div>
                </div>
                <!-- 로그인 전 -->
                <form name="loginFrm"
                      method="post"></form>
                <form name="frm"
                      id="frm"
                      method="get">
                    <div class="personal_wrap pc_only">
                        <div class="login_box">
                            <strong class="login_guide_txt tac">
                                맞춤형 돌봄 서비스,<br>
                                로그인 후 바로 신청해보세요.
                            </strong>
                            <div class="input_wrap">
                                <input type="text"
                                       id="userId"
                                       name="userId"
                                       placeholder="아이디를 입력해주세요"
                                       title="아이디를 입력해주세요">
                            </div>
                            <div class="input_wrap password_type">
                                <input type="password"
                                       id="userPswd"
                                       name="userPswd"
                                       placeholder="비밀번호를 입력해주세요"
                                       title="비밀번호를 입력해주세요">
                                <button type="button"
                                        title="비밀번호 표시"
                                        class="show_password"></button>
                            </div>
                            <div class="raBox">
                                <input type="checkbox"
                                       name="saveId"
                                       id="saveId"><label for="saveId">아이디 저장</label>
                            </div>
                            <!-- button 에 disabled 추가 시 로그인 버튼 작동 안됨-->
                            <button class="black_btn"
                                    type="submit">로그인
                            </button>
                            <div class="btn_wrap">
                                <a href="/always360/user/idSearch.do?key=2402130005">아이디/비밀번호 찾기</a>
                                <a href="/always360/user/join/s1.do?key=2402130007">회원가입</a>
                            </div>
                        </div>
                        <div class="sns_wrap">
                            <div class="tit">SNS 로그인</div>
                            <ul>
                                <li>
                                    <a title="새창열림"
                                       href="javascript:void(0);"
                                       onclick="redirectToNaverLogin();"
                                       class="naver">네이버
                                    </a>
                                </li>
                                <li>
                                    <a title="새창열림"
                                       href="javascript:void(0);"
                                       onclick="kakaoLogin();"
                                       class="kakao">카카오
                                    </a>
                                </li>
                                <li>
                                    <a title="새창열림"
                                       href="javascript:void(0);"
                                       onclick="googleOauthSignIn();"
                                       class="google">구글
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </form>
                <!-- //로그인 전 -->
            </div>
        </section>
        <section class="section2">
            <div class="section_inner">
                <div class="center_wrap">
                    <p>경기도 아동언제나돌봄 콜센터</p>
                    <div class="number">010-9979-7722</div>
                    <div class="time">운영시간 06:00~24:00<br>365일 24시간 돌봄 서비스</div>
                </div>
                <div class="main_board_wrap">
                    <ul>
                        <li class="type1">
                            <a href="/always360/childcare/rsvtForm.do?key=2411190006">
                                <div class="tit">돌봄서비스</div>
                                <div class="go_txt">신청하기</div>
                            </a>
                        </li>
                        <li class="type2">
                            <a href="/always360/user/mypage/preInfoRegList.do?key=2401020023">
                                <div class="tit">사전아동등록</div>
                                <div class="go_txt">신청하기</div>
                            </a>
                        </li>
                        <li class="type3">
                            <a href="/always360/resource/www/info/아동언제나돌봄서비스_리플렛.pdf"
                               download="아동언제나돌봄서비스_리플렛">
                                <div class="tit">언제나돌봄 소개 리플렛</div>
                                <div class="download_txt">다운로드</div>
                            </a>
                        </li>
                    </ul>
                    <div class="notice_link_wrap">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="/always360/bbs/view.do?pstSn=2507220001&key=2401020019">
                                    <div class="tit_wrap">
                                        <div class="small_tag">공지사항</div>
                                        <div class="tit">플랫폼 서비스 일시 중단 안내 (7월 24일 22:00~23:00)</div>
                                    </div>
                                    <div class="date">
                                        2025.07.22
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section3">
            <form id="frm2"
                  name="frm2"
                  action="/always360/index.do"
                  method="get">
                <input id="key"
                       name="key"
                       type="hidden"
                       value=""/>
                <input id="pageIndex"
                       name="pageIndex"
                       type="hidden"
                       value="1"/>
                <input id="sc_tab"
                       name="sc_tab"
                       type="hidden"
                       value=""/>
                <input id="sc_la"
                       name="sc_la"
                       type="hidden"
                       value=""/>
                <input id="sc_lo"
                       name="sc_lo"
                       type="hidden"
                       value=""/>
                <div class="section_inner"
                     id="map_load">
                </div>
            </form>
        </section>
        <section class="section4">
            <div class="section_inner">
                <div class="tit_wrap">
                    <h2 class="tit">돌봄종합정보 </h2>
                    <div class="main_tab_wrap">
                        <ul>
                            <li>
                                <a href="javascript:void(0);"
                                   onclick="fnSelectTabList(2502170001);"
                                   class="active"
                                   title="선택됨">임신에서 출산까지
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"
                                   onclick="fnSelectTabList(2502170002);"
                                   class=""
                                   title="">영&middot;유아(6세이하)
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"
                                   onclick="fnSelectTabList(2502170003);"
                                   class=""
                                   title="">아동&middot;청소년(7세~18세)
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);"
                                   onclick="fnSelectTabList(2503280004);"
                                   class=""
                                   title="">360&deg; 돌봄
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="main_tab_cont_wrap">
                    <div class="main_info_wrap on">
                        <h3 class="screenOut">임신에서 출산까지</h3>
                        <ul id="ul2502170001"></ul>
                    </div>
                    <div class="main_info_wrap ">
                        <h3 class="screenOut">영&middot;유아(6세이하)</h3>
                        <ul id="ul2502170002"></ul>
                    </div>
                    <div class="main_info_wrap ">
                        <h3 class="screenOut">아동&middot;청소년(7세~18세)</h3>
                        <ul id="ul2502170003"></ul>
                    </div>
                    <div class="main_info_wrap ">
                        <h3 class="screenOut">360&deg; 돌봄</h3>
                        <ul id="ul2503280004"></ul>
                    </div>
                </div>
                <a href="/always360/bbs/list.do?key=2502120002"
                   id="mainMoreBtn"
                   class="more_btn"
                   aria-label="돌봄종합정보 더보기">더보기
                </a>
            </div>
        </section>
    </div>
    <%- include(`${process.env.INCLUDE_PATH}/always360/partials/_float`) %>
</div>
<!-- // 메인 -->