<table class="table-my">
    <thead>
    <tr>
        <th scope="col"
            class="tb-num">번호
        </th>
        <th scope="col"
            class="">검증신청 기관명
        </th>
        <th scope="col"
            class="mobile-hide">실무담당자
        </th>
        <th scope="col"
            class="">인정일자
        </th>
        <th scope="col"
            class="">인정기구명
        </th>
        <th scope="col"
            class="">인정범위
        </th>
        <th scope="col"
            class="mobile-hide">적합성평가 활동유형
        </th>
        <th scope="col"
            class="mobile-hide">관리자승인일
        </th>
    </tr>
    </thead>
    <tbody id="dataTableBody">
    <tr>
        <td class="tb-num">85</td>
        <td class="">
            <a onclick="">인터웹</a>
        </td>
        <td class="mobile-hide">김철수</td>
        <td class="">2025-06-06</td>
        <td class="">국제인정기구</td>
        <td class="">ISO 14067</td>
        <td class="mobile-hide">제1자, 제2자</td>
        <td class="mobile-hide">2025-07-10</td>
    </tr>
    <tr>
        <td class="tb-num">85</td>
        <td class="">
            <a onclick="">인터웹</a>
        </td>
        <td class="mobile-hide">김철수</td>
        <td class="">2025-06-06</td>
        <td class="">국제인정기구</td>
        <td class="">ISO 14067</td>
        <td class="mobile-hide">제1자, 제2자</td>
        <td class="mobile-hide">2025-07-10</td>
    </tr>
    <tr>
        <td class="tb-num">85</td>
        <td class="">
            <a onclick="">인터웹</a>
        </td>
        <td class="mobile-hide">김철수</td>
        <td class="">2025-06-06</td>
        <td class="">국제인정기구</td>
        <td class="">ISO 14067</td>
        <td class="mobile-hide">제1자, 제2자</td>
        <td class="mobile-hide">2025-07-10</td>
    </tr>
    <tr>
        <td class="tb-num">85</td>
        <td class="">
            <a onclick="">인터웹</a>
        </td>
        <td class="mobile-hide">김철수</td>
        <td class="">2025-06-06</td>
        <td class="">국제인정기구</td>
        <td class="">ISO 14067</td>
        <td class="mobile-hide">제1자, 제2자</td>
        <td class="mobile-hide">2025-07-10</td>
    </tr>
    <tr>
        <td class="tb-num">85</td>
        <td class="">
            <a onclick="">인터웹</a>
        </td>
        <td class="mobile-hide">김철수</td>
        <td class="">2025-06-06</td>
        <td class="">국제인정기구</td>
        <td class="">ISO 14067</td>
        <td class="mobile-hide">제1자, 제2자</td>
        <td class="mobile-hide">2025-07-10</td>
    </tr>
    <tr>
        <td class="tb-num">85</td>
        <td class="">
            <a onclick="">인터웹</a>
        </td>
        <td class="mobile-hide">김철수</td>
        <td class="">2025-06-06</td>
        <td class="">국제인정기구</td>
        <td class="">ISO 14067</td>
        <td class="mobile-hide">제1자, 제2자</td>
        <td class="mobile-hide">2025-07-10</td>
    </tr>
    <tr>
        <td class="tb-num">85</td>
        <td class="">
            <a onclick="">인터웹</a>
        </td>
        <td class="mobile-hide">김철수</td>
        <td class="">2025-06-06</td>
        <td class="">국제인정기구</td>
        <td class="">ISO 14067</td>
        <td class="mobile-hide">제1자, 제2자</td>
        <td class="mobile-hide">2025-07-10</td>
    </tr>
    </tbody>
</table>