<table class="table-my">
    <thead>
    <tr>
        <th scope="col"
            class="tb-num">번호
        </th>
        <th scope="col"
            class="tb-title">검증받은 제품명
        </th>
        <th scope="col"
            class="">신청일
        </th>
        <th scope="col"
            class="mobile-hide">등록자
        </th>
        <th scope="col"
            class="mobile-hide">시스템경제
        </th>
        <th scope="col"
            class="">검증일자
        </th>
        <th scope="col"
            class="">관리자승인일
        </th>
    </tr>
    </thead>
    <tbody id="dataTableBody">
    <tr>
        <td class="tb-num">85</td>
        <td class="tb-title">
            <a onclick="main.proc.goViewPage('673')">도안사용신청명도안사용신청명도안사용신청명</a>
        </td>
        <td class="">2025-06-06</td>
        <td class="mobile-hide">홍길동</td>
        <td class="mobile-hide">Cradle to gate</td>
        <td class="">2025-06-06</td>
        <td class="">2025-07-06</td>
    </tr>
    <tr>
        <td class="tb-num">85</td>
        <td class="tb-title">
            <a onclick="main.proc.goViewPage('673')">도안사용신청명도안사용신청명도안사용신청명</a>
        </td>
        <td class="">2025-06-06</td>
        <td class="mobile-hide">홍길동</td>
        <td class="mobile-hide">Cradle to gate</td>
        <td class="">2025-06-06</td>
        <td class="">2025-07-06</td>
    </tr>
    <tr>
        <td class="tb-num">85</td>
        <td class="tb-title">
            <a onclick="main.proc.goViewPage('673')">도안사용신청명도안사용신청명도안사용신청명</a>
        </td>
        <td class="">2025-06-06</td>
        <td class="mobile-hide">홍길동</td>
        <td class="mobile-hide">Cradle to gate</td>
        <td class="">2025-06-06</td>
        <td class="">2025-07-06</td>
    </tr>
    <tr>
        <td class="tb-num">85</td>
        <td class="tb-title">
            <a onclick="main.proc.goViewPage('673')">도안사용신청명도안사용신청명도안사용신청명</a>
        </td>
        <td class="">2025-06-06</td>
        <td class="mobile-hide">홍길동</td>
        <td class="mobile-hide">Cradle to gate</td>
        <td class="">2025-06-06</td>
        <td class="">2025-07-06</td>
    </tr>
    <tr>
        <td class="tb-num">85</td>
        <td class="tb-title">
            <a onclick="main.proc.goViewPage('673')">도안사용신청명도안사용신청명도안사용신청명</a>
        </td>
        <td class="">2025-06-06</td>
        <td class="mobile-hide">홍길동</td>
        <td class="mobile-hide">Cradle to gate</td>
        <td class="">2025-06-06</td>
        <td class="">2025-07-06</td>
    </tr>
    <tr>
        <td class="tb-num">85</td>
        <td class="tb-title">
            <a onclick="main.proc.goViewPage('673')">도안사용신청명도안사용신청명도안사용신청명</a>
        </td>
        <td class="">2025-06-06</td>
        <td class="mobile-hide">홍길동</td>
        <td class="mobile-hide">Cradle to gate</td>
        <td class="">2025-06-06</td>
        <td class="">2025-07-06</td>
    </tr>
    <tr>
        <td class="tb-num">85</td>
        <td class="tb-title">
            <a onclick="main.proc.goViewPage('673')">도안사용신청명도안사용신청명도안사용신청명</a>
        </td>
        <td class="">2025-06-06</td>
        <td class="mobile-hide">홍길동</td>
        <td class="mobile-hide">Cradle to gate</td>
        <td class="">2025-06-06</td>
        <td class="">2025-07-06</td>
    </tr>
    <tr>
        <td class="tb-num">85</td>
        <td class="tb-title">
            <a onclick="main.proc.goViewPage('673')">도안사용신청명도안사용신청명도안사용신청명</a>
        </td>
        <td class="">2025-06-06</td>
        <td class="mobile-hide">홍길동</td>
        <td class="mobile-hide">Cradle to gate</td>
        <td class="">2025-06-06</td>
        <td class="">2025-07-06</td>
    </tr>
    </tbody>
</table>