<div>
    <table>
        <thead>
        <tr>
            <th scope="col" class="tb-num">번호</th>
            <th scope="col" class="">제목</th>
            <th scope="col" class="tb-date">등록일</th>
            <th scope="col" class="tb-add">첨부자료</th>
            <th scope="col" class="tb-hit">조회수</th>
        </tr>
        </thead>
        <tbody id="dataTableBody">
        <tr>
            <td class="tb-num">85</td>
            <td class="tb-title">
                <a onclick="main.proc.goViewPage('673')">2024 글로벌 환경규제 대응 세미나 발표자료</a>
            </td>
            <td class="tb-date">2024-12-09</td>
            <td class="tb-add">
                <button class="add-down"
                        onclick="javascript:main.proc.doDownload('CE797FC8-97AC-4ABE-B2BC-71C5D6BEB682.zip', 'EUCBAM탄소배출량이론과실무_이건모교수아주대학교.zip', '673')">
                    다운로드
                </button>
            </td>
            <td class="tb-hit">1818</td>
        </tr>
        <tr>
            <td class="tb-num">84</td>
            <td class="tb-title">
                <a onclick="main.proc.goViewPage('671')">2023 국제환경규제 대응 관련 자료 + 다시보기링크</a>
            </td>
            <td class="tb-date">2023-12-15</td>
            <td class="tb-add">
                <button class="add-down"
                        onclick="javascript:main.proc.doDownload('1280BBD2-3BE1-4335-969A-7A4D48546E2A.zip', '2023국제환경규제대응세미나발표자료업로드용.zip', '671')">
                    다운로드
                </button>
            </td>
            <td class="tb-hit">2570</td>
        </tr>
        <tr>
            <td class="tb-num">83</td>
            <td class="tb-title">
                <a onclick="main.proc.goViewPage('672')">베트남 환경규제 주요법령(환경보호법, 화학물질법 등) 요약집 4건</a>
            </td>
            <td class="tb-date">2023-12-08</td>
            <td class="tb-add">
                <button class="add-down"
                        onclick="javascript:main.proc.doDownload('4B2FE274-FFE2-4167-B93D-B0E0D15C3E0C.zip', '베트남환경규제주요법령요약집.zip', '672')">
                    다운로드
                </button>
            </td>
            <td class="tb-hit">356</td>
        </tr>
        <tr>
            <td class="tb-num">82</td>
            <td class="tb-title">
                <a onclick="main.proc.goViewPage('667')">EU 과불화화합물 사용규제 대응을 위한 산업계 의견수렴 설명회</a>
            </td>
            <td class="tb-date">2023-08-17</td>
            <td class="tb-add">
                <button class="add-down"
                        onclick="javascript:main.proc.doDownload('1E19470A-D7C4-4778-91EF-605109EB2A1B.pdf', '230817EU과불화화합물사용규제에대한의견제출방법최종.pdf', '667')">
                    다운로드
                </button>
            </td>
            <td class="tb-hit">838</td>
        </tr>
        <tr>
            <td class="tb-num">81</td>
            <td class="tb-title">
                <a onclick="main.proc.goViewPage('666')">(발표자료)23087EU과불화화합물 사용 구제 대응을 위한 산업계 의견수렴 설명</a>
            </td>
            <td class="tb-date">2023-08-17</td>
            <td class="tb-add">
                <button class="add-down"
                        onclick="javascript:main.proc.doDownload('5B526C54-A0DD-4ACF-8468-01F4AEC7FD85.pdf', '230817EU과불화화합물사용규제에대한의견제출방법.pdf', '666')">
                    다운로드
                </button>
            </td>
            <td class="tb-hit">303</td>
        </tr>
        <tr>
            <td class="tb-num">80</td>
            <td class="tb-title">
                <a onclick="main.proc.goViewPage('665')">(발표자료)석유화학업계 기업간담회 -EU REACH PFAS 규제 동향 및 업계 대응 방안-</a>
            </td>
            <td class="tb-date">2023-08-09</td>
            <td class="tb-add">
                <button class="add-down"
                        onclick="javascript:main.proc.doDownload('777DD1C4-063B-4923-85AD-AF39F1A57DDD.pdf', '230809EUREACHPHAS제한동향및절차국제환경규제기업지원센터.pdf', '665')">
                    다운로드
                </button>
            </td>
            <td class="tb-hit">733</td>
        </tr>
        <tr>
            <td class="tb-num">79</td>
            <td class="tb-title">
                <a onclick="main.proc.goViewPage('664')">(발표자료) EU REACH PFAS 규제 동향 및 업계 대응 방안</a>
            </td>
            <td class="tb-date">2023-08-01</td>
            <td class="tb-add">
                <button class="add-down"
                        onclick="javascript:main.proc.doDownload('7F950F3C-A49B-43B8-8636-151F1AFA0E6D.pdf', 'EUREACHPHAS제한동향및절차최종.pdf', '664')">
                    다운로드
                </button>
            </td>
            <td class="tb-hit">1090</td>
        </tr>
        <tr>
            <td class="tb-num">78</td>
            <td class="tb-title">
                <a onclick="main.proc.goViewPage('663')">2023 화학물질 규제 대응 세미나 발표자료</a>
            </td>
            <td class="tb-date">2023-06-28</td>
            <td class="tb-add">
                <button class="add-down"
                        onclick="javascript:main.proc.doDownload('982D3C39-4C2F-4901-B231-4D7017B9B070.zip', '2023화학물질규제대응세미나발표자료업로드용.zip', '663')">
                    다운로드
                </button>
            </td>
            <td class="tb-hit">1773</td>
        </tr>
        <tr>
            <td class="tb-num">77</td>
            <td class="tb-title">
                <a onclick="main.proc.goViewPage('662')">탄소무역규제 대응 세미나 및 검증기관 인정제도 도입 설명회 발표 자료</a>
            </td>
            <td class="tb-date">2023-02-24</td>
            <td class="tb-add">
                <button class="add-down"
                        onclick="javascript:main.proc.doDownload('8EE52D71-3EF5-4917-9ECD-21D6041FCA80.zip', '탄소무역규제대응세미나및검증기관인정제도도입설명회발표자료.zip', '662')">
                    다운로드
                </button>
            </td>
            <td class="tb-hit">1826</td>
        </tr>
        <tr>
            <td class="tb-num">76</td>
            <td class="tb-title">
                <a onclick="main.proc.goViewPage('661')">2022 국제환경규제 대응 세미나(11.24)</a>
            </td>
            <td class="tb-date">2022-11-28</td>
            <td class="tb-add">
                <button class="add-down"
                        onclick="javascript:main.proc.doDownload('29D51773-252D-45EA-A78C-7854B3543B34.zip', '2022국제환경규제대응세미나발표자료11.24.zip', '661')">
                    다운로드
                </button>
            </td>
            <td class="tb-hit">2329</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="pagination" id="paging">
    <a class="prev" alt="이전페이지">이전</a>
    <a class="choice" href="#1^10" data-pg="1">1</a>
    <a href="#2^10" data-pg="2">2</a>
    <a href="#3^10" data-pg="3">3</a>
    <a href="#4^10" data-pg="4">4</a>
    <a href="#5^10" data-pg="5">5</a>
    <a href="#6^10" data-pg="6">6</a>
    <a href="#7^10" data-pg="7">7</a>
    <a href="#8^10" data-pg="8">8</a>
    <a href="#9^10" data-pg="9">9</a>
    <a class="next" alt="다음페이지">다음</a>
</div>