<div class="tb-view">
    <div class="tbv-summary">
        <h4>검증기관 정보 상세</h4>
        <div class="tbv-summary-box">
            <dl>
                <dt>등록일</dt>
                <dd></dd>
            </dl>
            <dl>
                <dt>등록자</dt>
                <dd>관리자</dd>
            </dl>
        </div>
    </div>
    <div class="organ-detail">
        <table class="detail-table">
            <colgroup>
                <col width="130px">
                <col width="*">
            </colgroup>
            <tbody>
            <tr>
                <th>기관명</th>
                <td>(재)한국기계전기전자시험연구원</td>
            </tr>
            <tr>
                <th>유효기간</th>
                <td>2024-09-30 ~ 2028-09-29</td>
            </tr>
            <tr>
                <th>주소</th>
                <td>경기도 군포시 흥안대로27번길 22</td>
            </tr>
            <tr>
                <th>소재지</th>
                <td>경기도 군포시 흥안대로27번길 22</td>
            </tr>
            <tr>
                <th>담당자</th>
                <td>김예리 전화번호 031-428-3811</td>
            </tr>
            <tr>
                <th>팩스번호</th>
                <td>031-342-7654</td>
            </tr>
            <tr>
                <th>인정범위</th>
                <td>환경정보 [**]</td>
            </tr>
            </tbody>
        </table>

        <table class="detail-table">
            <colgroup>
                <col width="150px">
                <col width="218px">
                <col width="*">
                <col width="216px">
            </colgroup>
            <tbody>
            <tr>
                <th>규격코드</th>
                <th>스킴명</th>
                <th>규격명</th>
                <th>사업장</th>
            </tr>
            <tr>
                <td>ISO 14067:2018</td>
                <td>국제통용 발자국 검증제도</td>
                <td>Greenhouse gases - Carbon footprint of
                    <br>products - Requirements and guidelines for quantification</td>
                <td>소재지</td>
            </tr>
            </tbody>

        </table>

        <div class="tbv-add">
            <div class="form_group">
                <dl class="attfile">
                    <dt>첨부파일</dt>
                    <dd id="newAddfiles">첨부파일 없음.</dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<div class="btn-box">
    <button class="btn-view" id="btnList">목록</button>
</div>