<%
var depth1 = depth1 ?? '국제통용 발자국 검증제도';
var depth2 = depth2 ?? '';
var depth3 = depth3 ?? '';
%>
<div class="location">
    <span class="loc_pdr10"><img src="<%= path.images %>/image/site/icon_home.png" alt="홈"></span>
    <span><%= depth1 %></span>
    <% if (depth2 !== '') { %> <span class="location-dep"><%= depth2 %></span><% } %>
    <% if (depth3 !== '') { %> <span class="location-dep"><%= depth3 %></span><% } %>
</div>