<footer>
    <div class="inner footer">
        <h1 class="m-publish-txt">
            <img src="<%= path.images %>/image/site/footer_logo.gif" alt="국가청정생산지원센터">
        </h1>
        <h1>
            <img src="<%= path.images %>/image/site/logo-foot.png" alt="국제환경규제 기업지원센터">
        </h1>
        <div class="foot">
            <div class="foot-link">
                <a href="/footer/privacy" class="per-txt">개인정보 처리방침</a>
                <span>|</span>
                <a href="https://www.kitech.re.kr/etc/page5.php" target="_blank">영상정보처리기 운영관리방침</a>
                <span>|</span>
                <a href="/introduce/map">Contact Us</a>
                <span>|</span>
                <a href="mailto:compass@kncpc.re.kr">관리자에게 문의</a>
            </div>
            <div class="address">
                한국생산기술연구원 대표:이상목 국가청정생산지원센터 국제환경규제 기업지원센터 사업자번호: 119-82-01008
                <br> (우)06211 서울특별시 강남구 테헤란로 322 한신인터밸리 24 동관 18층 TEL :
                <a
                        href="tel:02-2183-1515">02-2183-1515
                </a>
                FAX: 02-2183-1569 EMAIL: compass@kncpc.re.kr
            </div>
        </div>
    </div>
</footer>