<div class="tb-view inquiry-detail">
    <div class="tbv-summary">
        <h4>EU-CBAM 중소기업 대응 정부 합동 설명회_Operator portal 관련문의</h4>
        <div class="tbv-summary-box">
            <dl>
                <dt>등록일</dt>
                <dd></dd>
            </dl>
            <dl>
                <dt>등록자</dt>
                <dd>관리자</dd>
            </dl>
            <dl>
                <dt>조회수</dt>
                <dd>30</dd>
            </dl>
        </div>
        <div class="tbv-summary-group">
            <dl>
                <dt>국가</dt>
                <dd>나이지리아</dd>
            </dl>
            <dl>
                <dt>산업분야</dt>
                <dd>자동차</dd>
            </dl>
        </div>
        <div class="tbv-summary-group">
            <dl>
                <dt>문의분야</dt>
                <dd>2025년 제2차 EU CBAM 대응 정부합동 설명회</dd>
            </dl>
            <dl>
                <dt>상태</dt>
                <dd>
                    <span class="badge badge-complete">답변완료</span>
                    <span class="badge badge-stand">답변확인중</span>
                </dd>
            </dl>
        </div>
        <div class="tbv-summary-group2">
            <dl>
                <dt>규제분야</dt>
                <dd>2025년 제2차 EU CBAM 대응 정부합동 설명회</dd>
            </dl>
        </div>
        <div class="tbv-summary-group2">
            <dl>
                <dt>첨부파일</dt>
                <dd></dd>
            </dl>
        </div>
    </div>
    <div class="tb-content">
        <div class="consult-question">
            <h5 class="consult-Q">
                <label>EU-CBAM 중소기업 대응 정부 합동 설명회_Operator portal 관련문의</label>
            </h5>
            <div id="wcontent">
                온라인으로 문의 사항을 남겨 주시면 전문가가 확인하여 신속히 답변해 드립니다.온라인으로 문의 사항을 남겨 주시면 전문가가 확인하여 신속히 답변해 드립니다.온라인으로 문의 사항을 남겨
                주시면 전문가가 확인하여 신속히 답변해 드립니다.온라인으로 문의 사항을 남겨 주시면 전문가가 확인하여 신속히 답변해 드립니다.온라인으로 문의 사항을 남겨 주시면 전문가가 확인하여 신속히
                답변해 드립니다.온라인으로 문의 사항을 남겨 주시면 전문가가 확인하여 신속히 답변해 드립니다.온라인으로 문의 사항을 남겨 주시면 전문가가 확인하여 신속히 답변해 드립니다.온라인으로 문의
                사항을 남겨 주시면 전문가가 확인하여 신속히 답변해 드립니다.온라인으로 문의 사항을 남겨 주시면 전문가가 확인하여 신속히 답변해 드립니다.온라인으로 문의 사항을 남겨 주시면 전문가가
                확인하여 신속히 답변해 드립니다.온라인으로 문의 사항을 남겨 주시면 전문가가 확인하여 신속히 답변해 드립니다.
            </div>
        </div>
        <div class="consult-answer">
            <h5 class="consult-A">
                <label>Operator portal 관련문의에 대한 답변</label>
            </h5>
            <div id="recontent">
                온라인으로 문의 사항을 남겨 주시면 전문가가 확인하여 신속히 답변해 드립니다.온라인으로 문의 사항을 남겨 주시면 전문가가 확인하여 신속히 답변해 드립니다.온라인으로 문의 사항을 남겨
                주시면 전문가가 확인하여 신속히 답변해 드립니다.온라인으로 문의 사항을 남겨 주시면 전문가가 확인하여 신속히 답변해 드립니다.온라인으로 문의 사항을 남겨 주시면 전문가가 확인하여 신속히
                답변해 드립니다.온라인으로 문의 사항을 남겨 주시면 전문가가 확인하여 신속히 답변해 드립니다.온라인으로 문의 사항을 남겨 주시면 전문가가 확인하여 신속히 답변해 드립니다.
            </div>
        </div>
        <% if (state !== 'reply') { %>
            <div class="button-wrap">
                <button type="button"
                        class="button-reply">답변하기
                </button>
            </div>
        <% } %>
        <% if (state === 'reply') { %>
            <div class="consult-reply">
                <div class="tbv-summary-box">
                    <dl>
                        <dt>답변일</dt>
                        <dd>2023-12-11</dd>
                    </dl>
                    <dl>
                        <dt>답변자</dt>
                        <dd>관리자</dd>
                    </dl>
                    <dl>
                        <dt>첨부파일</dt>
                        <dd>
                            <button type="button">
                                01_화면설계서_국제환경규제사전대응지원시스템_v0.6_250623_디자인.퍼블확인.pptx
                            </button>
                        </dd>
                    </dl>
                </div>

                <div class="reply">
                    온라인으로 문의 사항을 남겨 주시면 전문가가 확인하여 신속히 답변해 드립니다.온라인으로 문의 사항을 남겨 주시면 전문가가 확인하여 신속히 답변해 드립니다.온라인으로 문의 사항을 남겨 주시면 전문가가 확인하여 신속히 답변해 드립니다.온라인으로 문의 사항을 남겨 주시면 전문가가 확인하여 신속히 답변해 드립니다.온라인으로 문의 사항을 남겨 주시면 전문가가 확인하여 신속히 답변해 드립니다.온라인으로 문의 사항을 남겨 주시면 전문가가 확인하여 신속히 답변해 드립니다.온라인으로 문의 사항을 남겨 주시면 전문가가 확인하여 신속히 답변해 드립니다.온라인으로 문의 사항을 남겨 주시면 전문가가 확인하여 신속히 답변해 드립니다.온라인으로 문의 사항을 남겨 주시면 전문가가 확인하여 신속히 답변해 드립니다.온라인으로 문의 사항을 남겨 주시면 전문가가 확인하여 신속히 답변해 드립니다.온라인으로 문의 사항을 남겨 주시면 전문가가 확인하여 신속히 답변해 드립니다.
                </div>
            </div>
        <% } %>
    </div>
    <div class="bbsViewNav mg-b10">
        <div class="form_group">
            <dl class="nav prev">
                <dt><span>이전글</span></dt>
                <dd id="linkPrev"
                    style="cursor: pointer;">CBAM 벤치마크 계수 업데이트 시기
                </dd>
            </dl>
        </div>
        <div class="form_group">
            <dl class="nav next">
                <dt><span>다음글</span></dt>
                <dd id="linkNext"
                    style="cursor: pointer;">중소기업 CBAM 작성 지원 관련 문의
                </dd>
            </dl>
        </div>
    </div>
</div>
<div class="btn-box">
    <button class="btn-view"
            id="btnList">목록
    </button>
</div>