<ul class="l-nav">
    <li class="depth">마이페이지</li>
    <li class="item close">
        <h3 class="btn depth2">
            <a href="/myPage/myInfo"><span>내정보관리</span></a>
        </h3>
    </li>
    <li class="item close">
        <h3 class="btn depth2">
            <a href="/myPage/point"><span>COMPASS 포인트</span></a>
        </h3>
    </li>
    <li class="item close">
        <h3 class="btn depth2">서비스 이용현황<span class="plus"></span>
        </h3>
        <div class="depth3 desc">
            <ul>
                <li>
                    <a href="/myPage/event">환경규제 대응 교육 및 행사</a>
                </li>
                <li>
                    <a href="/myPage/consulting">환경규제 대응 현장컨설팅</a>
                </li>
                <li>
                    <a href="/myPage/online">환경규제 대응 온라인</a>
                </li>
                <li>
                    <a href="/myPage/visit">환경규제 대응 센터방문</a>
                </li>
                <li>
                    <a href="/myPage/untact">환경규제 대응 비대면</a>
                </li>
                <li>
                    <a href="/myPage/reportOfferList">모니터링 정보제안</a>
                </li>
                <!-- <li><a href="/myPage/book">출판물 신청</a></li> -->
                <li>
                    <a href="/myPage/euOnline">EU CBAM 온라인상담</a>
                </li>
                <li>
                    <a href="/myPage/euVisit">EU CBAM 센터방문</a>
                </li>
                <!-- 메뉴 삭제예정
                <li><a href="#">QSAR 물질자료 신청</a></li>
                <li><a href="#">국내기업 피해사례 접수</a></li>
                <li><a href="#">그린제품정보망 기업신청</a></li>
                 -->
            </ul>
        </div>
    </li>
    <li class="item open">
        <h3 class="btn depth2">IPEF등록확인<span class="plus"></span>
        </h3>
        <div class="depth3 desc">
            <ul>
                <li>
                    <a href="#">국내도안신청내역</a>
                </li>
                <li>
                    <a href="#">해외상호인정신청내역</a>
                </li>
                <li>
                    <a href="#">국내해외동시도안신청내역</a>
                </li>
                <li>
                    <a href="#">검증기관승인신청내역</a>
                </li>
            </ul>
        </div>
    </li>
    <li class="item close">
        <h3 class="btn depth2">
            <a href="/myPage/interest"><span>내관심정보</span></a>
        </h3>
    </li>
    <li class="item close">
        <h3 class="btn depth2">
            <a href="/myPage/out"><span>회원탈퇴</span></a>
        </h3>
    </li>
</ul>