<ul class="l-nav">
    <li class="depth_1">국제통용 발자국<br> 검증제도</li>
    <% menu.forEach((item, index) => { %>
        <li class="item close">
            <h3 class="btn depth2"><%= item.title %><span class="plus"></span></h3>
            <div class="depth3 desc">
                <ul>
                    <% item.items.forEach((sub) => { %>
                        <li class="item">
                            <a href="/<%= sub.url %>"><%= sub.title %></a>
                        </li>
                    <% }) %>
                </ul>
            </div>
        </li>
    <% }); %>
</ul>
