<%
var tabs = tabs ?? [];
%>

<div class="tb-view-tab compass-tab">
    <div class="c-tab01" id="multi-tab01">
        <ul id="menu-list">
            <% tabs.forEach((tab, index) => { %>
            <li class="<%= index === 0 ? 'over' : '' %>">
                <a data-category="">
                    <span><%= tab %></span>
                </a>
            </li>
            <% }) %>
        </ul>
        <input type="hidden" id="faqCategory" name="faqCategory" value="">
    </div>
</div>