<div class="tb-view">
    <div class="tbv-summary">
        <h4>미국 일리노이주, PFAS 함유 소비재 5종 판매 금지 법안 통과</h4>
        <div class="tbv-summary-box">
            <dl>
                <dt>등록일</dt>
                <dd>2025-01-01</dd>
            </dl>
            <dl>
                <dt>등록자</dt>
                <dd>관리자</dd>
            </dl>
            <dl>
                <dt>조회수</dt>
                <dd>30</dd>
            </dl>
        </div>
    </div>
    <div class="tb-content detail-wrap">
        <strong class="content-title">향균 및 탈취 특성을 지닌 생물 기반 지속 가능한 섬유 후처리제</strong>
        <ul class="thumbs">
            <li>
                <img src="<%= imgPath ;%>/dummy-product.png"
                     alt="향균 및 탈취 특성을 지닌 생물 기반 지속 가능한 섬유 후처리제"
                     width="480"
                     height="420">
            </li>
            <li>
                <img src="<%= imgPath ;%>/dummy-product.png"
                     alt="향균 및 탈취 특성을 지닌 생물 기반 지속 가능한 섬유 후처리제"
                     width="480"
                     height="420">
            </li>
        </ul>
        <button type="button"
                class="button-download">인증서 PDF 다운로드
        </button>
        <div class="detail-tables">
            <table class="detail-table">
                <colgroup>
                    <col width="40%">
                    <col width="*">
                </colgroup>
                <tbody>
                <tr>
                    <th>등록</th>
                    <td>2025년 5월 15일</td>
                </tr>
                <tr>
                    <th>기준연도</th>
                    <td>2023</td>
                </tr>
                <tr>
                    <th>검증기관</th>
                    <td>인터텍</td>
                </tr>
                <tr>
                    <th>참조PCR</th>
                    <td>PCR 2021:03 기본 화학 물질(버전 1.1.3) 국제 EPD 시스템 참조</td>
                </tr>
                <tr>
                    <th>CFP 연구보고서및 버전</th>
                    <td>CFP24-0501</td>
                </tr>
                <tr>
                    <th>타입정보</th>
                    <td>chemical</td>
                </tr>
                </tbody>
            </table>
            <table class="detail-table">
                <colgroup>
                    <col width="40%">
                    <col width="*">
                </colgroup>
                <tbody>
                <tr>
                    <th>CFP (kg CO₂e/UF)</th>
                    <td>0.97</td>
                </tr>
                <tr>
                    <th>선언된/기능 단위</th>
                    <td>1kg</td>
                </tr>
                <tr>
                    <th>시스템경계</th>
                    <td>요람에서 문까지</td>
                </tr>
                <tr>
                    <th>제외된 단계</th>
                    <td>하류</td>
                </tr>
                <tr>
                    <th>생산 공장 포함</th>
                    <td>대구광역시 동구 매여로 100</td>
                </tr>
                <tr>
                    <th>노트</th>
                    <td>나</td>
                </tr>
                </tbody>
            </table>
            <table class="detail-table">
                <caption>기업정보</caption>
                <colgroup>
                    <col width="40%">
                    <col width="*">
                </colgroup>
                <tbody>
                <tr>
                    <th>회사이름</th>
                    <td>
                        지클로 주식회사
                        <span class="logo">
                            <img src="<%= imgPath ;%>/logo-gclo.png"
                                 alt="지클로 로고"
                                 width="75"
                                 height="26">
                        </span>
                    </td>
                </tr>
                <tr>
                    <th>웹사이트</th>
                    <td><a href="http://www.g-clo.com" target="_blank" title="지클로 새창 바로가기" rel="noreferrer">http://www.g-clo.com</a></td>
                </tr>
                <tr>
                    <th>콘택트 렌즈</th>
                    <td>클레어 킴</td>
                </tr>
                <tr>
                    <th>주소</th>
                    <td>대구광역시 동구 매여로 100</td>
                </tr>
                <tr>
                    <th>전화번호</th>
                    <td><a href="tel:010-2112-6144" title="지클로 대표번호 010-2112-6144 전화걸기">010-2112-6144</a></td>
                </tr>
                </tbody>
            </table>
            <table class="detail-table">
                <caption>제품의 탄소 발자국</caption>
                <colgroup>
                    <col width="60%">
                    <col width="*">
                </colgroup>
                <tbody>
                <tr>
                    <th>온실가스값</th>
                    <th>GHG 값(kg CO₂e/UF)</th>
                </tr>
                <tr>
                    <td>순 화석 GHG 배출량 및 제거량</td>
                    <td>0.957</td>
                </tr>
                <tr>
                    <td>생물학적 온실가스 배출 및 제거</td>
                    <td>0.0007</td>
                </tr>
                <tr>
                    <td>dLUC로 인한 GHG배출 및 제거</td>
                    <td>0.0007</td>
                </tr>
                <tr>
                    <td>항공기 온실가스 배출량</td>
                    <td>0.0007</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="tbv-add">
        <div class="form_group">
            <dl class="attfile">
                <dt>첨부파일</dt>
                <dd id="newAddfiles">첨부파일 없음.</dd>
            </dl>
        </div>
    </div>
</div>
<div class="btn-box">
    <button class="btn-view"
            id="btnList">목록
    </button>
</div>