<ul>
    <li>
        <strong>운영시기</strong>
        <span>1~12월</span>
    </li>
    <li>
        <strong>이용대상</strong>
        <span>성인, 어린이, 가족 단위</span>
    </li>
</ul>

<span class="badge-round green">
    산림청 인증
</span>