<ul class="exhibition-info">
    <li>
        <strong>기간</strong>
        <span>2025-08-06 ~ 2025-10-31</span>
    </li>
    <li>
        <strong>장소</strong>
        <span>사계절전시온실 정문 연못</span>
    </li>
</ul>