<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge, chrome=1">
    <title>파일리스트</title>
    <meta name="keywords"
          content=""/>
    <meta name="description"
          content=""/>
    <meta name="author"
          content=""/>
    <script type="text/javascript"
            src="js/jquery-1.11.2.min.js"></script>
    <style>
        * {
            -webkit-text-size-adjust: none;
        }

        html, body {
            width: 100%;
            height: 100%;
            min-width: 800px;
        }

        html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, ul, li, fieldset, form, label, leging, table, caption, tbody, tfoot, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
            margin: 0;
            padding: 0;
            outline: 0;
            font-family: NanumGothic, '나눔고딕', Dotum, '돋움', applegothic, sans-serif;
            font-size: 13px;
            color: #555; /*vertical-align:baseline;*/
        }

        body {
            line-height: 1.2em;
            border: 0;
        }

        strong, em, span, wbr, a {
            display: inline-block;
        }

        span {
            margin: 0;
            padding: 0;
            outline: 0;
        }

        hr {
            display: none
        }

        ol, ul, dl, dt, dd {
            list-style: none outside none;
            padding: 0;
            margin: 0;
        }

        fieldset, img, table, caption, tbody, tfoot, thead, tr, th, td, button, hr {
            border: 0;
        }

        address, caption, cite, code, dfn, em, strong, th, var {
            font-style: normal;
        }

        img {
            vertical-align: middle;
        }

        a {
            cursor: pointer;
            text-decoration: none;
            color: #666;
        }

        table {
            border-collapse: collapse;
        }

        #wrap {
            padding: 12px;
        }

        #header {
            margin-bottom: 20px;
        }

        #header::after {
            content: '';
            clear: both;
            display: block;
        }

        #header > h1 {
            float: left;
            font-size: 28px;
            color: #1a1a1a;
            padding-top: 15px;
        }

        #header > div {
            float: right;
        }

        #header > div > p {
            font-size: 11px;
            color: #888;
            text-align: right;
        }

        div.box {
            border: 1px solid #dedede;
            background: #f1f1f1;
            padding: 12px 14px;
            margin-bottom: 10px;
        }

        h3 {
            font-size: 14px;
            color: #333;
            margin-bottom: 13px;
        }

        h4 {
            font-size: 14px;
            color: #333;
            margin: 25px 0 8px 5px;
        }

        ol.atten > li {
            margin-bottom: 8px;
            padding: 0;
            line-height: 160%;
        }

        ol.atten > li:last-child {
            margin-bottom: 0;
        }

        table.htmllist th, table.htmllist td {
            border: 1px solid #ccc;
        }

        table.htmllist .line th,
        table.htmllist .line td {
            border-top-width: 2px;
        }

        table.htmllist tr:first-child td {
            font-weight: bold;
            border-bottom: 1px solid #111 !important;
            height: 30px;
            color: #000 !important;
            font-size: 13px !important;
        }

        table.htmllist th {
            padding: 5px 6px;
            text-align: left;
            border-bottom: 2px solid #4e80e8 !important;
            height: 32px;
            background-color: #f3f4f8;
        }

        table.htmllist th.depth2 {
            padding: 2px 18px;
            text-align: left;
            border-bottom: 1px solid #333 !important;
            height: 30px;
            font-size: 12px;
            background-color: #fff
        }

        table.htmllist td {
            padding: 5px 6px;
        }

        table.htmllist td:first-child {
        }

        table.htmllist td:last-child {
            color: #888;
            font-size: 12px;
        }


        table.htmllist td > a {
            width: 100%;
            height: 26px;
            line-height: 26px;
            text-align: center;
            color: #fff;
            font-size: 11px;
            font-weight: bold;
            vertical-align: middle;
            background-color: #5183eb;
            border: 1px solid #3f6fd3;
            border-radius: 3px;
        }

        table.htmllist td > a:hover {
            background-color: #3f6fd3;
            line-height: 28px;
        }

        table.htmllist tr:hover > td {
            background-color: #fffad2;
        }

        table.htmllist tr td {
            background-color: #f0f0f0;
            height: 28px;
        }

        table.htmllist tr.delivery td {
            background-color: #000;
            color: #fff;
        }

        table.htmllist tr.end td {
            background-color: #ffdddd;
        }

        table.htmllist tr.delivery td > a,
        table.htmllist tr.done td > a {
            display: block;
        }

        table.htmllist td.ing {
            text-align: center;
            font-size: 12;
        }

        table.htmllist .done td {
            background-color: #ffdddd;
        }

        /* .total{padding:10px 5px 20px} */
        .total .tit_txt {
            padding-left: 10px;
            margin-left: 10px;
            border-left: 1px solid #ddd;
        }

        .total h3 + .tit_txt {
            padding-left: 0;
            margin-left: 0;
            border-left: none;
        }

        .total_page_num {
            font-size: 18px;
            color: #5183eb;
        }

        .cntTotal {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        .txtRed {
            color: #f00;
        }

        .ico {
            display: inline-block;
            color: #fff;
            font-size: 11px;
            border-radius: 4px;
            padding: 0 3px;
            background-color: #999;
            line-height: 19px;
            height: 18px;
            vertical-align: bottom;
            margin: 0 0;
        }

        .iAlert {
            display: inline-block;
            border: 1px solid #ccc;
            font-size: 11px;
            letter-spacing: 0;
            color: #666;
            line-height: 14px;
            height: 14px;
            border-radius: 4px;
            background-color: #f7f7f7;
            text-align: center;
            min-width: 30px;
            margin: -3px 0 -2px;
            vertical-align: middle;
            padding: 0 2px;
        }
    </style>
</head>
