<div class="mPag"
     role="navigation"
     aria-label="페이지네이션">
    <a href="#"
       class="first"
       aria-label="첫 페이지">처음
    </a>
    <a href="#"
       class="prev"
       aria-label="이전 페이지">이전
    </a>
    <a href="#"
       class="active"
       aria-label="1 페이지">1
    </a>
    <a href="#"
       aria-current="page">2
    </a>
    <a href="#"
       aria-label="3 페이지">3
    </a>
    <a href="#"
       aria-label="4 페이지">4
    </a>
    <a href="#"
       aria-label="5 페이지">5
    </a>
    <a href="#"
       aria-label="6 페이지">6
    </a>
    <a href="#"
       aria-label="7 페이지">7
    </a>
    <a href="#"
       aria-label="8 페이지">8
    </a>
    <a href="#"
       aria-label="9 페이지">9
    </a>
    <a href="#"
       aria-label="10 페이지">10
    </a>
    <a href="#"
       class="next"
       aria-label="다음 페이지">다음
    </a>
    <a href="#"
       class="last"
       aria-label="마지막 페이지">마지막
    </a>
</div>