<div class="search-period">
    <div class="left">
        <strong>전시기간</strong>
        <label for="dateStart">
            <input type="text"
                   id="dateStart"
                   class="it jsDatepicker">
        </label>
        <span>~</span>
        <label for="dateEnd">
            <input type="text"
                   id="dateEnd"
                   class="it jsDatepicker">
        </label>
    </div>
    <div class="mSearch1 right">
        <strong>전시유형</strong>
        <select class="select"
                title="분류">
            <option value="">전체</option>
            <option value="">진행</option>
            <option value="">예정</option>
            <option value="">종료</option>
        </select>
        <input type="text"
               class="it"
               placeholder="검색어를 입력하세요"
               title="검색어 입력">
        <a href="#"
           class="find">검색
        </a>
    </div>
</div>