<%
var items = items || [];
var current = current || 0;
%>
<ul class="tabs">
    <% items.forEach((item, i) => { %>
        <li class="tab<%= i === current ? ' active' : '' %>">
            <a href="#"><%= item %></a>
        </li>
    <% }); %>
</ul>