<%
var title = title || '';
var desc = desc || '';
var depths = depths || [];
const depthLength = depths.length;
%>
<div class="gTitle1">
    <!-- bc forWeb -->
    <div class="mBc1 forW">
        <span class="home">홈</span>
        <% depths.map((depth, i) => { %>
            <span class="<%= i === depthLength - 1 ? 'cur' : '' %>"><%= depth %></span>
        <% }) %>
        <div class="mUtil1">
            <a href="#"
               class="share">공유
            </a>
            <a href="#"
               class="attach">첨부
            </a>
            <button type="button"
                    class="print"
                    onclick="window.print();">프린트
            </button>
        </div>
    </div>
    <!-- //bc forWeb -->
    <div class="title">
        <h4><%= title %></h4>
        <p class="desc"><%= desc %></p>
    </div>
    <!-- bc forMobile -->
    <div class="mBc1 forM">
        <span class="home">홈</span>
        <span>정보공개</span>
        <span>정책&middot;운영정보</span>
        <span class="cur">정보목록</span>
    </div>
    <!-- //bc forMobile -->
</div>
