<%
var type = type || '';
var currentNav = currentNav || '';
var key = key || '';
var info = info || '';
%>
<div class="visual-wrap">
    <div class="mKeysub1 <%= type ;%>">
        <div class="cell">
            <div class="left">
                <span><%= currentNav ;%></span>
            </div>
            <div class="text-wrap">
                <h3><%= key ;%></h3>
                <p class="info"><%- info; %></p>
            </div>
        </div>
    </div>
</div>