.loading {
  position: absolute;
  width: 30%;
  padding: 10px;
  z-index: 9999;
}

.loading div {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 10px;
  height: 40px;
  margin: auto;
  background: #48b9a3;
  animation: bar 1s infinite linear;
}

.loading div:nth-child(1) {
  left: -30px;
  animation-delay: -0.15s;
}

.loading div:nth-child(2) {
  animation-delay: 0s;
}

.loading div:nth-child(3) {
  right: -30px;
  animation-delay: 0.15s;
}

.loading_txt {
  width: 70%;
  display: table-cell;
  vertical-align: middle;
}

@keyframes bar {
  0%, 50% {
    transform: scaleY(1);
  }
  25% {
    transform: scaleY(1.5);
  }
}